<m-portlet [options]="{headLarge: false}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title w-100">
            <h3 class="m-portlet__head-text">
                Roles
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletHeadTools>

    </ng-container>

    <ng-container mPortletBody>

        <div class="col-md-12 text-center">
            <mat-spinner [diameter]="25" *ngIf="isLoading" style="margin-left: 45%">
            </mat-spinner>
        </div>
        <div class="mat-table__wrapper" *ngIf="!isLoading">

            <mat-table #table [dataSource]="roles" class="lmat-elevation-z8">

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="hand-cursor">
                        {{element.display_name}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="users_count">
                    <mat-header-cell *matHeaderCellDef>No Of Users</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="hand-cursor">
                        {{element.users.length}}
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openRole(row)"></mat-row>
                <div class="mat-table__message" *ngIf="!roles.length && !isLoading">No records found</div>
            </mat-table>
        </div>

    </ng-container>
</m-portlet>
