<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving , 'm-portlet--body-progress-overlay' : isSaving  }">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Bulk Update
                </h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 w-100">
        <form #bulkUpdateForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">

                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="row w-100">
                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Hotel"
                                        [(ngModel)]="bulkUpdate.hotel_id" name="hotel_id"
                                        required (selectionChange)="loadRatePlans()">
                                <mat-option *ngFor="let itm of hotels" [value]="itm.id">
                                    {{itm.code}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Source"
                                        [(ngModel)]="bulkUpdate.rate_source_id" name="rate_source_id"
                                        required>
                                <mat-option *ngFor="let itm of inventorySources" [value]="itm.id">
                                    {{itm.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Room Type"
                                        [(ngModel)]="bulkUpdate.room_type_id" name="room_type"
                                        (selectionChange)="loadRatePlans()" required>
                                <mat-option *ngFor="let itm of roomTypes" [value]="itm.id">
                                    {{itm.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row w-100">
                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <input matInput [(ngModel)]="bulkUpdate.fromDate" [matDatepicker]="from_date"
                                   (dateChange)="dateChangeEvent('fromDate')"
                                   [min]="minFromDate"
                                   placeholder="From Date" name="from_date" required>
                            <mat-datepicker-toggle matSuffix [for]="from_date"></mat-datepicker-toggle>
                            <mat-datepicker #from_date></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <input matInput [(ngModel)]="bulkUpdate.toDate"
                                   [matDatepicker]="toDate"
                                   (dateChange)="dateChangeEvent('toDate')"
                                   [min]="minToDate"
                                   placeholder="To Date" name="toDate" required>
                            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                            <mat-datepicker #toDate></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Select Days</label>
                            </div>

                            <div class="col-md-1" *ngFor="let itm of selectedDays">
                                <section>
                                    <mat-checkbox name="day_{{itm.name}}"
                                                  [(ngModel)]="itm.is_selected">
                                    </mat-checkbox>
                                    <mat-label> {{itm.name}}</mat-label>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row w-100">
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-select placeholder="Rate Plan"
                                        [(ngModel)]="bulkUpdate.rate_plans" name="rate_plan_id"
                                        required multiple (selectionChange)="ratePlansChange()">
                                <mat-option *ngFor="let itm of ratePlans" [value]="itm">
                                    {{itm.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row w-100 m--margin-bottom-5">
                    <div class="col-md-12 border-bot m--margin-bottom-10">
                        Select for Update
                    </div>

                    <div class="col-md-2">
                        <section>
                            <mat-checkbox name="rates"
                                          [(ngModel)]="bulkUpdate.is_rate">
                            </mat-checkbox>
                            <mat-label> Rates</mat-label>
                        </section>
                    </div>

                    <div class="col-md-2">
                        <section>
                            <mat-checkbox name="min_nights"
                                          [(ngModel)]="bulkUpdate.is_min_nights">
                            </mat-checkbox>
                            <mat-label> Min Nights</mat-label>
                        </section>
                    </div>

                    <div class="col-md-2">
                        <section>
                            <mat-checkbox name="max_nights"
                                          [(ngModel)]="bulkUpdate.is_max_nights">
                            </mat-checkbox>
                            <mat-label> Max Nights</mat-label>
                        </section>
                    </div>

                    <div class="col-md-2">
                        <section>
                            <mat-checkbox name="stop_Sell"
                                          [(ngModel)]="bulkUpdate.stop_Sell">
                            </mat-checkbox>
                            <mat-label> Stop Sell</mat-label>
                        </section>
                    </div>

                    <div class="col-md-2">
                        <section>
                            <mat-checkbox name="is_coa"
                                          [(ngModel)]="bulkUpdate.is_coa">
                            </mat-checkbox>
                            <mat-label> COA</mat-label>
                        </section>
                    </div>

                    <div class="col-md-2">
                        <section>
                            <mat-checkbox name="is_cod"
                                          [(ngModel)]="bulkUpdate.is_cod">
                            </mat-checkbox>
                            <mat-label> COD</mat-label>
                        </section>
                    </div>
                </div>
                <div class="row w-100 m--margin-bottom-10">

                    <div class="col-md-12 border-bot m--margin-bottom-5 m--margin-top-10">
                        <b>
                            Update Plan Value
                        </b>
                    </div>

                    <div class="col-md-12">
                        <div class="row m--margin-top-10 border-bottom" *ngFor="let plan of bulkUpdate.rate_plans">
                            <div class="col-md-12">
                                    {{plan.name}}
                            </div>
                            <div class="col-md-2" *ngIf="bulkUpdate.is_rate">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="plan.rate" type="number"
                                           placeholder="Base Rate" name="rate">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2" *ngIf="bulkUpdate.is_rate">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="plan.adult_rate" type="number"
                                           placeholder="Adult Rate" name="adult_rate">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2" *ngIf="bulkUpdate.is_rate">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="plan.child_rate" type="number"
                                           placeholder="Child Rate" name="child_rate">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2" *ngIf="bulkUpdate.is_min_nights">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="plan.min_nights" type="number"
                                           placeholder="Min Nights" name="min_nights">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2" *ngIf="bulkUpdate.is_max_nights">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="plan.max_nights" type="number"
                                           placeholder="Max Nights" name="is_max_nights">
                                </mat-form-field>
                            </div>

                            <div class="col-md-2 m--margin-top-10" *ngIf="bulkUpdate.stop_Sell">
                                <section>
                                    <mat-checkbox name="is_stop_Sell"
                                                  [(ngModel)]="plan.is_stop_Sell">
                                    </mat-checkbox>
                                    <mat-label> Stop Sell</mat-label>
                                </section>
                            </div>

                            <div class="col-md-2 m--margin-top-10" *ngIf="bulkUpdate.is_coa">
                                <section>
                                    <mat-checkbox name="cod"
                                                  [(ngModel)]="plan.coa">
                                    </mat-checkbox>
                                    <mat-label> COA</mat-label>
                                </section>
                            </div>

                            <div class="col-md-2 m--margin-top-10" *ngIf="bulkUpdate.is_cod">
                                <section>
                                    <mat-checkbox name="is_cod"
                                                  [(ngModel)]="plan.cod">
                                    </mat-checkbox>
                                    <mat-label> COD</mat-label>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>

                <button type="button" class="btn m-btn--sm btn-primary pull-right"
                        [disabled]="bulkUpdateForm.invalid || isSaving || !canApplyBulkUpdate()"
                        (click)="save()">
                    <span *ngIf="!isSaving">Apply</span>
                    <span *ngIf="isSaving">Saving...</span>
                </button>
            </div>
        </form>
    </div>
</div>
