<m-portlet [options]="{headLarge: false,enableSticky:true}">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title w-100">
            <div class="col-md-12">
                <h3 class="m-portlet__head-text">
                    Rate and Inventory
                </h3>
            </div>
        </div>
    </ng-container>


    <ng-container mPortletBody>

        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="form-group col-md-3">
                        <mat-form-field>
                            <mat-select placeholder="Hotel"
                                        [(ngModel)]="filters.hotel_id" name="hotel_id"
                                        required (selectionChange)="loadRoomTypes()">
                                <mat-option *ngFor="let itm of hotels" [value]="itm.id">
                                    {{itm.code}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>


                    <div class="form-group col-md-3">
                        <mat-form-field>
                            <mat-select placeholder="Source"
                                        [(ngModel)]="filters.source_id" name="source_id"
                                        required (selectionChange)="loadRateInventoryData()">
                                <mat-option *ngFor="let itm of inventorySources" [value]="itm.id">
                                    {{itm.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-3">
                        <mat-form-field>
                            <mat-select placeholder="Rate"
                                        [(ngModel)]="filters.rate_type" name="rate_type"
                                        required (selectionChange)="loadRateInventoryData()">
                                <mat-option *ngFor="let itm of rateTypes" [value]="itm.id">
                                    {{itm.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-3">
                        <mat-form-field>
                            <mat-select placeholder="Room Type"
                                        [(ngModel)]="filters.room_type_id" name="room_type"
                                        (selectionChange)="loadRateInventoryData()">
                                <mat-option value=""> All</mat-option>
                                <mat-option *ngFor="let itm of roomTypes" [value]="itm.id">
                                    {{itm.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <!--<div class="form-group col-md-2 m&#45;&#45;margin-top-15">-->
            <!--<section>-->
            <!--<mat-checkbox class="example-margin" name="user_status"-->
            <!--[(ngModel)]="filters.inclusive_tax">-->
            <!--</mat-checkbox>-->
            <!--<mat-label>&nbsp; Rates Inclusive Tax &nbsp;</mat-label>-->
            <!--</section>-->
            <!--</div>-->

            <!--<div class="form-group col-md-3 m&#45;&#45;margin-top-15">-->
            <!--<section>-->
            <!--<mat-checkbox class="example-margin" name="user_status"-->
            <!--[(ngModel)]="filters.hide_derived_plans">-->
            <!--</mat-checkbox>-->
            <!--<mat-label>&nbsp; Hide Derived Rate Plans</mat-label>-->
            <!--</section>-->
            <!--</div>-->

        </div>

    </ng-container>

    <ng-container mPortletFooter>
        <input type="hidden">
        <button type="button" class="btn btn-secondary pull-right m--margin-bottom-5" (click)="loadRateInventoryData()"
                [disabled]="isSaving || isLoading || isLoadingSettings">
            <i class="fa fa-undo fa-fw"></i> Reset
        </button>
        <button type="button" class="btn btn-primary pull-right m--margin-bottom-5 m--margin-right-5"
                (click)="saveRateInventory()"
                [disabled]="isSaving || isLoading || isLoadingSettings || roomTypes.length<1">
            <span *ngIf="!isSaving">Save </span>
            <span *ngIf="isSaving">Saving...</span>
        </button>

        <div class="m-portlet__body-progress pull-left m--margin-top-10-desktop" style="width: 50px"
             *ngIf="isLoading || isSaving || isLoadingSettings">
            <mat-spinner [diameter]="20"></mat-spinner>
        </div>

        <!--<button type="button" class="btn btn-success pull-left m&#45;&#45;margin-bottom-5  m&#45;&#45;margin-right-5">-->
        <!--<i class="fa fa-undo fa-fw"></i> Distribution Wizard-->
        <!--</button>-->

        <!--<button type="button" class="btn btn-success pull-left m&#45;&#45;margin-bottom-5 m&#45;&#45;margin-right-5"-->
        <!--(click)="openBulkUpdate()"-->
        <!--[disabled]="isSaving || isLoading || isLoadingSettings || roomTypes.length<1">-->
        <!--Bulk Update-->
        <!--</button>-->

        <button type="button" class="btn btn-success pull-left m--margin-bottom-5"
                (click)="openBulkUpdateWizard()"
                [disabled]="isSaving || isLoading || isLoadingSettings">
            Distribution Wizard
        </button>
    </ng-container>
</m-portlet>

<div class="table-responsive" *ngIf="days.length>0">
    <table class="table table-bordered">
        <tr class="bg-white">
            <th class="text-center title-td">

                <a class="btncyan btn-link scroll-today" href="javascript:;" (click)="resetDates()">
                    <i class="fa fa-undo fa-fw"></i></a>

                <a class="btncyan btn-link scroll-back notmoveback" href="javascript:;"
                   (click)="setPreviousWeekDates()" *ngIf="isBellowToday()">
                    &nbsp;<i class="fas fa-angle-left fa-2x"></i>&nbsp;
                </a>

                <a class="btncyan btn-link scroll-back notmoveback"
                   *ngIf="!isBellowToday()" style="    color: #d4cdcd;">
                    &nbsp;<i class="fas fa-angle-left fa-2x"></i>&nbsp;
                </a>

                <span class="firstDate">
                               <b> {{days[0]|date:'d MMM y'}}</b>
                        </span>

                <a class="btncyan btn-link" href="javascript:;" (click)="setNextWeekDates()">
                    &nbsp; <i class="fas fa-angle-right fa-2x"></i>
                </a>

            </th>
            <th *ngFor="let dt of days" class="text-center inv-cell"
                [ngClass]="{'week-end-day':((dt | date:'EEE')==='Sun' || (dt | date:'EEE')==='Sat')}">
                <div class="text-gray">
                    {{dt | date:'EEE'}}
                </div>
                <div>
                    <b>{{dt | date:'d'}}</b>
                </div>
                <div class="text-gray">
                    {{dt | date:'MMM'}}
                </div>
            </th>
        </tr>

        <tr *ngIf="isLoading" class="bg-white">
            <td class="text-center" colspan="11">
                <i class="fas  fa-circle-notch fa-3x fa-spin text-primary"></i>
            </td>
        </tr>

        <tr *ngIf="inventoryData.length>0 && !isLoading" class="bg-white">
            <td class="text-center">
                <i class="fa fa-door-open"></i> No. Of Rooms
            </td>
            <td class="text-center inv-cell" *ngFor="let dt of days"
                [ngClass]="{'week-end-day':((dt | date:'EEE')==='Sun' || (dt | date:'EEE')==='Sat')}">
                {{totalRoomsByDate[dt]}}
            </td>
        </tr>

        <tr *ngIf="inventoryData.length===0 && !isLoading" class="bg-white">
            <td colspan="11" class="text-center">
                <span class="btncyan text-gray">No Rooms Available</span>
            </td>
        </tr>

        <tr>
            <td class="blank-row" colspan="11"></td>
        </tr>

        <tbody *ngFor="let roomType of inventoryData">
        <tr class="bg-white">
            <td class="text-left">
                <b>{{roomType.name}}</b>
            </td>
            <td *ngFor="let dt of days" class="text-center inv-cell"
                [ngClass]="{'week-end-day':((dt | date:'EEE')==='Sun' || (dt | date:'EEE')==='Sat')}">
                {{roomType['qty'][dt]}}
            </td>
        </tr>

        <tr class="bg-white" *ngFor="let plan of roomType.plans">
            <td class="text-left text-uppercase no-padding" colspan="11">
                <div style="padding: .75rem;">
                    <i class="fa text-primary fa-2x hand-cursor"
                       [ngClass]="{'fa-plus-square':!plan.isExpandable,'fa-minus-square':plan.isExpandable}"
                       (click)="expandRatePlanRates(plan)"></i>
                    {{plan.name}}
                </div>
                <div class="table-responsive" *ngIf="plan.isExpandable">
                    <table class="table bot-no-mar top-no-border">
                        <tbody *ngFor="let mealPln of plan.mealplans">
                        <tr>
                            <td class="text-left title-td">
                                {{mealPln.name}}
                            </td>
                            <td *ngFor="let plnVal of mealPln.values; let i=index" class="text-center inv-cell"
                                [ngClass]="{'week-end-day':((plnVal.date | date:'EEE')==='Sun' || (plnVal.date | date:'EEE')==='Sat')}">


                                <input style="width: 100%; width: 60px; text-align: center" type="text"
                                       [(ngModel)]="plnVal.value"
                                       name="{{plan.id}}rt_inv_val{{i}}"
                                       *ngIf="filters.rate_type!=='is_stop_Sell' &&  filters.rate_type!=='coa' && filters.rate_type!=='cod'">

                                <section class="example-section"
                                         *ngIf="filters.rate_type==='is_stop_Sell' ||  filters.rate_type==='coa' || filters.rate_type==='cod'">
                                    <mat-checkbox class="example-margin" [(ngModel)]="plnVal.value"
                                                  name="{{plan.id}}rt_inv_val{{i}}">
                                    </mat-checkbox>
                                </section>

                                <span class="pull-right" matTooltip="Stop Sell" *ngIf="plnVal.is_stop_Sell">
                        <i class="fas fa-stop text-danger"></i>
                    </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <!--<td class="blank-row" colspan="11"></td>-->

        </tr>
        <tr>
            <td class="blank-row" colspan="11"></td>
        </tr>
        </tbody>
    </table>
</div>
