.inv-cell{
  width: 100px !important;
}

.title-td{
  min-width: 180px !important;
}

.m-portlet__foot {
  display: none !important;
}

.table th, .table td {
  vertical-align: middle !important;
}

a {
  text-decoration: none !important;
}

.blank-row {
  background: #f2f3f8;
  padding-top: 5px
}

.week-end-day {
  background: #FFF8E1;
}

.fa-stop {
  font-size: 9px !important;
}

.bg-white {
  background: #ffffff;
}
