<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving || isLoadingBanks,
     'm-portlet--body-progress-overlay' : isSaving || isLoadingBanks}">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Hotel Detail
                </h5>

                <m-history *ngIf="currentRecord.id" [reference]="'hotels'" [id]="currentRecord.id"></m-history>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <form #hotelDetailForm="ngForm">
        <div class="m-portlet__body m--padding-top-5">

            <div class="m-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
            <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="tabClick($event,policyTab)">
                <mat-tab label="Hotel Info">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput [(ngModel)]="currentRecord.name" name="hotel_name" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>Code</mat-label>
                                <input matInput [(ngModel)]="currentRecord.code" name="hotel_code" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Trulyy Company"
                                            [(ngModel)]="currentRecord.organization_id" name="organization_id"
                                            required>
                                    <mat-option *ngFor="let itm of organizations" [value]="itm.id">
                                        {{itm.code}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input matInput [(ngModel)]="currentRecord.address" name="address">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>City</mat-label>
                                <input matInput [(ngModel)]="currentRecord.city" name="city" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>State</mat-label>
                                <input matInput [(ngModel)]="currentRecord.state" name="state" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Postal</mat-label>
                                <input matInput [(ngModel)]="currentRecord.postal" name="postal" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Phone</mat-label>
                                <input matInput [(ngModel)]="currentRecord.phone" name="phone">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput name="email"
                                       [(ngModel)]="currentRecord.email"
                                       email="true" required>
                            </mat-form-field>
                        </div>


                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Account Email</mat-label>
                                <input matInput name="account_email"
                                       [(ngModel)]="currentRecord.account_email" email="true">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>FO Email</mat-label>
                                <input matInput name="fo_email"
                                       [(ngModel)]="currentRecord.fo_email" email="true">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>GM Email</mat-label>
                                <input matInput name="gm_email"
                                       [(ngModel)]="currentRecord.gm_email" email="true">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>GSTIN</mat-label>
                                <input matInput name="gstin"
                                       [(ngModel)]="currentRecord.gstin">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3 m--margin-top-15">
                            <section class="example-section">
                                <mat-checkbox class="example-margin" name="user_status"
                                              [(ngModel)]="currentRecord.is_enabled">
                                    Is Enabled
                                </mat-checkbox>
                            </section>
                        </div>

                        <div class="form-group col-md-12">
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea matInput type="text" name="description"
                                          [(ngModel)]="currentRecord.description"
                                          matAutosizeMinRows="2"
                                          matAutosizeMaxRows="4"
                                          id="description" autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Policy & Facility">

                    <div class="row">
                        <div class="col-md-12">
                            <ngb-tabset #policyTab="ngbTabset">
                                <ngb-tab title="Facilities" id="tab-selectbyid1">
                                    <ng-template ngbTabContent>
                                        <angular-editor name="htmlContent" [(ngModel)]="currentRecord.facilities"
                                                        [config]="editorConfig"></angular-editor>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Check in & Check out Policy" id="tab-selectbyid2">
                                    <ng-template ngbTabContent>
                                        <angular-editor name="htmlContent"
                                                        [(ngModel)]="currentRecord.check_in_out_policy"
                                                        [config]="editorConfig"></angular-editor>
                                    </ng-template>
                                </ngb-tab>
                                <ngb-tab title="Hotel Policy" id="tab-selectbyid3">
                                    <ng-template ngbTabContent>
                                        <angular-editor name="htmlContent" [(ngModel)]="currentRecord.hotel_policy"
                                                        [config]="editorConfig"></angular-editor>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab title="Travel Directions">
                                    <ng-template ngbTabContent>
                                        <angular-editor name="htmlContent" [(ngModel)]="currentRecord.travel_directions"
                                                        [config]="editorConfig"></angular-editor>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab title="Cancellation Policy">
                                    <ng-template ngbTabContent>
                                        <angular-editor name="htmlContent"
                                                        [(ngModel)]="currentRecord.cancellation_policy"
                                                        [config]="editorConfig"></angular-editor>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab title=" Hotel Description">
                                    <ng-template ngbTabContent>
                                        <angular-editor name="htmlContent" [(ngModel)]="currentRecord.hotel_directions"
                                                        [config]="editorConfig"></angular-editor>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab title="Government Notifications">
                                    <ng-template ngbTabContent>
                                        <angular-editor name="htmlContent" [(ngModel)]="currentRecord.gov_notifications"
                                                        [config]="editorConfig"></angular-editor>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab title="Children and Extra Guest Policy">
                                    <ng-template ngbTabContent>
                                        <angular-editor name="htmlContent" [(ngModel)]="currentRecord.guest_policy"
                                                        [config]="editorConfig"></angular-editor>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab title="Payment Policy">
                                    <ng-template ngbTabContent>
                                        <angular-editor name="htmlContent" [(ngModel)]="currentRecord.payment_policy"
                                                        [config]="editorConfig"></angular-editor>
                                    </ng-template>
                                </ngb-tab>

                                <ngb-tab title="Nearby">
                                    <ng-template ngbTabContent>
                                        <angular-editor name="htmlContent" [(ngModel)]="currentRecord.near_by"
                                                        [config]="editorConfig"></angular-editor>
                                    </ng-template>
                                </ngb-tab>


                            </ngb-tabset>
                        </div>
                    </div>

                </mat-tab>
                <mat-tab label="Banks" (click)="getBanks()">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>
                                            Bank
                                        </th>
                                        <th>
                                            Account
                                        </th>
                                        <th>
                                            IFSC
                                        </th>
                                        <th>
                                            Account Name
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngIf="hotelBanks.length===0">
                                        <td colspan="4" class="text-center">
                                            <label>No banks added</label>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let bank of hotelBanks">
                                        <td>
                                            <i class="fas fa-star  text-primary fa-2x hand-cursor"
                                               *ngIf="bank.is_default"></i>
                                            <i class="far fa-star hand-cursor" matTooltip="Set Default"
                                               (click)="setDefaultBank(bank)"
                                               *ngIf="!bank.is_default"></i>

                                            <span class="m--margin-left-5">{{bank.name}}</span>
                                        </td>
                                        <td>
                                            {{bank.account_no}}
                                        </td>
                                        <td>
                                            {{bank.ifsc}}
                                        </td>
                                        <td>
                                            {{bank.account_name}}
                                        </td>
                                        <td>
                                            <i class="fas fa-pen-square text-primary m--margin-right-5 hand-cursor"
                                               style="font-size: 20" (click)="editBank(bank)"></i>

                                            <i class="fas fa-trash text-danger hand-cursor" style="font-size: 20"
                                               (click)="deleteBank(bank)"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <form #bankDetailForm="ngForm">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5>
                                            Bank Detail
                                        </h5>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <mat-form-field>
                                            <mat-label>Bank Name</mat-label>
                                            <input matInput [(ngModel)]="currentBank.name"
                                                   name="nank_name" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <mat-form-field>
                                            <mat-label>Account No</mat-label>
                                            <input matInput [(ngModel)]="currentBank.account_no"
                                                   pattern="[0-9]+([0-9]+)?"
                                                   name="account_no"
                                                   required>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <mat-form-field>
                                            <mat-label>IFSC</mat-label>
                                            <input matInput [(ngModel)]="currentBank.ifsc" name="ifsc" required>
                                        </mat-form-field>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <mat-form-field>
                                            <mat-label>Branch</mat-label>
                                            <input matInput [(ngModel)]="currentBank.branch" name="branch">
                                        </mat-form-field>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <mat-form-field>
                                            <mat-label>Account Name</mat-label>
                                            <input matInput [(ngModel)]="currentBank.account_name" name="account_name"
                                                   required>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-12">
                                        <button type="button" class="btn m-btn--sm btn-primary pull-right"
                                                [disabled]="bankDetailForm.invalid || isSavingBank"
                                                (click)="saveBank(currentBank)">
                                            Save
                                        </button>

                                        <button type="button"
                                                class="btn btn-secondary m-btn--sm pull-right m--margin-right-5"
                                                (click)="resetBank()">
                                            Reset
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="CM Connect">
                    <form #cmConnectForm="ngForm">
                        <div class="row">
                            <div class="col-md-12">
                                <h5>
                                    Channel Manager Auth Detail
                                </h5>
                            </div>
                            <div class="form-group col-md-12">
                                <mat-form-field>
                                    <mat-label>Hotel Code</mat-label>
                                    <input matInput [(ngModel)]="currentRecord.hotel_cm_code"
                                           name="hotel_cm_code">
                                </mat-form-field>
                            </div>
                            <div class="form-group col-md-12">
                                <mat-form-field>
                                    <mat-label>Auth Code</mat-label>
                                    <input matInput [(ngModel)]="currentRecord.hotel_cm_auth_code"
                                           name="hotel_cm_auth_code">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDialog()">
                Close
            </button>
            <button type="button" color="primary"
                    (click)="save()"
                    *ngIf="selectedTabIndex!=2"
                    [disabled]="hotelDetailForm.invalid || isSaving"
                    class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>
