.customClass {
  background-color: #dd3;
  border-radius: 5px;
  margin: 5px;
  width: 500px;
}

.customClass .img-ul-upload {
  background-color: #000 !important;
}

.customClass .img-ul-clear {
  background-color: #B819BB !important;
}

.customClass .img-ul-drag-box-msg {
  color: purple !important;
}

.customClass .img-ul-container {
  background-color: #FF6CAD !important;
}

.mat-button-toggle-group, .mat-button-toggle-standalone {
  box-shadow: 0 0px 0px -2px rgba(0, 0, 0, .2), 0 0px 0px 0 rgba(0, 0, 0, .14), 0 0px 2px 0 rgba(0, 0, 0, .12);
  border: 1px solid #f4f5f8;
}


.permissions .mat-button-toggle-disabled.bg-danger {
  background-color: #f3a9b5 !important;
}

.mat-button-toggle-checked {
  background-color: transparent;
}
