<m-portlet [options]="{headLarge: false}" [loading$]="dataSource.loading$">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title w-100">
            <div class="col-md-4">
                <h3 class="m-portlet__head-text">
                    Sales Target
                </h3>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input class="pull-right w-100" matInput #searchInput
                           placeholder="Search">
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <ng-container mPortletHeadTools>
        <button mat-mini-fab color="primary" (click)="openDetailForm()" *ngxPermissionsOnly="['sales target-add']" matTooltip="Create new target">
            <i class="fa fa-plus fa-2x"></i>
        </button>

        <label>&nbsp;</label>

        <!-- <button mat-mini-fab color="warn"
                 matTooltip="Delete selected DSR">
             <i class="fa fa-trash fa-2x"></i>
         </button>-->

    </ng-container>

    <ng-container mPortletBody>
        <div class="mat-table__wrapper">

            <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="assign_to">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Sales Executive</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.assign_to}}</mat-cell>
                </ng-container>

                <!-- Room Nights Column -->
                <ng-container matColumnDef="room_nights">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center">Room Nights
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.room_nights}}</mat-cell>
                </ng-container>
                <!-- Revenue Column -->
                <ng-container matColumnDef="revenue">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-right">Revenue</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-right"> {{element.revenue|currency:'INR'}}
                    </mat-cell>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="target_month">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Month</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.target_month | date:'MMM-yyyy'}}</mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-right">
                        <button mat-icon-button color="primary" matTooltip="Detail"
                                (click)="openDetailForm(element)">
                            <mat-icon>create</mat-icon>
                        </button>&nbsp;
                        <button mat-icon-button color="warn" matTooltip="Delete" type="button"
                                *ngxPermissionsOnly="['sales target-delete']"
                                (click)="deleteTarget(element)">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <ng-template ngxPermissionsOnly="sales target-delete-responsible">
                            <button mat-icon-button color="warn" matTooltip="Delete" type="button"
                                    (click)="deleteTarget(element)"
                                    *ngIf="loggedInUser.id===element.assign_to_id">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </ng-template>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                           [showFirstLastButtons]="true"
                           [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
        </div>
    </ng-container>
</m-portlet>
