<m-portlet [options]="{headLarge: false}" [loading$]="dataSource.loading$">
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title w-100">
			<div class="row w-100">
				<div class="col-md-8">
					<h3 class="m-portlet__head-text m--margin-top-15">
						Inquiries
					</h3>
				</div>
				<div class="col-md-4 m-0-auto mr-0">
					<mat-form-field>
						<input class="pull-right w-100" matInput #searchInput
							   (keyup)="applyFilter($event.target.value)"
							   placeholder="Search">
					</mat-form-field>
				</div>
			</div>
		</div>
	</ng-container>

	<ng-container mPortletHeadTools>
		<button mat-mini-fab color="default" class="m--margin-right-5"
				(click)="resetFilter()" matTooltip="Refresh">
			<i class="fas fa-sync"></i>
		</button>

		<button mat-mini-fab color="default" class="m--margin-left-5-mobile"
				(click)="isCollapsedFilter = !isCollapsedFilter"
				[attr.aria-expanded]="!isCollapsedFilter"
				aria-controls="collapseExample"
				matTooltip="Filter">
			<i class="fa fa-filter" aria-hidden="true"></i>
		</button>

		<button *ngxPermissionsOnly="['inquiries-add']" mat-mini-fab color="primary" class="m--margin-left-5-mobile"
				(click)="openInquiryForm()"
				matTooltip="Create New">
			<i class="fa fa-plus fa-2x"></i>
		</button>

		<button mat-mini-fab color="warn" (click)="deleteInquiry('')"
				*ngIf="selection.selected.length > 0"
				matTooltip="Delete selected inquiries">
			<i class="fa fa-trash fa-2x"></i>
		</button>

	</ng-container>

	<ng-container mPortletBody>
		<div>
			<div id="collapseExample" [ngbCollapse]="isCollapsedFilter">
				<div class="row">

					<div class="col-md-3 form-group">
						<label>Assign To</label>
						<angular2-multiselect [data]="assignToUserList" [(ngModel)]="selectedUserLists"
											  (ngModelChange)="onUserSelect()"
											  (onSelect)="onUserSelect($event)"
											  (onDeSelect)="onUserSelect($event)"
											  (onSelectAll)="onUserSelect($event)"
											  (onDeSelectAll)="onUserSelect($event)"
											  [settings]="userListSettings">
						</angular2-multiselect>
					</div>

					<div class="col-md-3 form-group">
						<label>Hotel</label>
						<angular2-multiselect [data]="hotelList" [(ngModel)]="selectedHotelLists"
											  (ngModelChange)="onHotelSelect()"
											  (onSelect)="onHotelSelect($event)"
											  (onDeSelect)="onHotelSelect($event)"
											  (onSelectAll)="onHotelSelect($event)"
											  (onDeSelectAll)="onHotelSelect($event)"
											  [settings]="hotelListSettings">
						</angular2-multiselect>
					</div>

					<div class="col-md-3 form-group">
						<label>Status</label>
						<angular2-multiselect [data]="inquiryStatusList" [(ngModel)]="selectedStatuses"
											  (onSelect)="onStatusSelect($event)"
											  (onDeSelect)="onStatusSelect($event)"
											  (onSelectAll)="onStatusSelect($event)"
											  (onDeSelectAll)="onStatusSelect($event)"
											  [settings]="statusSettings">
						</angular2-multiselect>
					</div>

					<div class="col-md-3 form-group">
						<label>Sub Status</label>
						<angular2-multiselect [data]="filteredInquirySubStatusList"
											  [(ngModel)]="selectedSubStatusesLists"
											  (onSelect)="onSubStatusSelect($event)"
											  (onDeSelect)="onSubStatusSelect($event)"
											  (onSelectAll)="onSubStatusSelect($event)"
											  (onDeSelectAll)="onSubStatusSelect($event)"
											  [settings]="subStatusListSettings">
						</angular2-multiselect>
					</div>

					<div class="col-md-3 form-group">
						<label>Source</label>
						<angular2-multiselect [data]="inquirySourceList" [(ngModel)]="selectedSourcesLists"
											  (onSelect)="onSourceSelectionEvent($event)"
											  (onDeSelect)="onSourceSelectionEvent($event)"
											  (onSelectAll)="onSourceSelectionEvent($event)"
											  (onDeSelectAll)="onSourceSelectionEvent($event)"
											  [settings]="sourceSettings">
						</angular2-multiselect>
					</div>

					<div class="col-md-3 form-group" *ngIf="searchCompanyTypes.length>0">
						<label>Company</label>
						<angular2-multiselect [data]="companyLists" [(ngModel)]="selectedCompanies"
											  [settings]="companySettings"
											  (onSelect)="onCompanySelectEvent($event)"
											  (onDeSelect)="onCompanySelectEvent($event)"
											  (onSelectAll)="onCompanySelectEvent($event)"
											  (onDeSelectAll)="onCompanySelectEvent($event)">
							<c-search>
								<ng-template>
									<input type="text" (keyup)="onSearchCompany($event)" placeholder="Search countries"
										   style="border: none;width: 100%; height: 100%;outline: none;"/>
								</ng-template>
							</c-search>
							<c-item>
								<ng-template let-item="item">
									<label>{{item.name}}</label>
								</ng-template>
							</c-item>
						</angular2-multiselect>
					</div>

					<div class="col-md-3 form-group">
						<label>Inquiry Type</label>
						<angular2-multiselect [data]="inquiryTypesList" [(ngModel)]="selectedInquiryTypesLists"
											  (onSelect)="onInquiryTypesListSelect($event)"
											  (onDeSelect)="onInquiryTypesListSelect($event)"
											  (onSelectAll)="onInquiryTypesListSelect($event)"
											  (onDeSelectAll)="onInquiryTypesListSelect($event)"
											  [settings]="inquiryTypesListsSettings">
						</angular2-multiselect>
					</div>

					<div class="col-md-3 form-group">
						<label>Payment Status</label>
						<angular2-multiselect [data]="inquiryPaymentStatusList" [(ngModel)]="selectedPaymentStatuses"
											  (onSelect)="onPaymentStatusSelect($event)"
											  (onDeSelect)="onPaymentStatusSelect($event)"
											  (onSelectAll)="onPaymentStatusSelect($event)"
											  (onDeSelectAll)="onPaymentStatusSelect($event)"
											  [settings]="inquiryPaymentStatusSettings">
						</angular2-multiselect>
					</div>

					<div class="col-md-3 form-group">
						<label>Payment Sub Status</label>
						<angular2-multiselect [data]="filteredInquiryPaymentSubStatusList"
											  [(ngModel)]="selectedPaymentSubStatuses"
											  (onSelect)="onPaymentSubStatusSelect($event)"
											  (onDeSelect)="onPaymentSubStatusSelect($event)"
											  (onSelectAll)="onPaymentSubStatusSelect($event)"
											  (onDeSelectAll)="onPaymentSubStatusSelect($event)"
											  [settings]="inquiryPaymentSubStatusSettings">
						</angular2-multiselect>
					</div>

					<div class="col-md-3 form-group">
						<label>Discount Status</label>
						<angular2-multiselect [data]="inquiryDiscountStatusList" [(ngModel)]="selectedDiscountStatuses"
											  (onSelect)="onDiscountStatusSelect($event)"
											  (onDeSelect)="onDiscountStatusSelect($event)"
											  (onSelectAll)="onDiscountStatusSelect($event)"
											  (onDeSelectAll)="onDiscountStatusSelect($event)"
											  [settings]="inquiryDiscountStatusSettings">
						</angular2-multiselect>
					</div>

					<div class="col-md-3 form-group">
						<label>Approved By</label>
						<angular2-multiselect [data]="discountApprovedByList" [(ngModel)]="selectedDiscountApprovedBy"
											  (ngModelChange)="onDiscountApprovedBySelect()"
											  (onSelect)="onDiscountApprovedBySelect($event)"
											  (onDeSelect)="onDiscountApprovedBySelect($event)"
											  (onSelectAll)="onDiscountApprovedBySelect($event)"
											  (onDeSelectAll)="onDiscountApprovedBySelect($event)"
											  [settings]="discountApprovedByListSettings">
						</angular2-multiselect>
					</div>

					<div class="col-md-3 form-group">
						<label>Inquiry Date
							<input type="checkbox" name="inq_Date_filter"
								   [(ngModel)]="inquiryFilters.inquiry_date_filter">
						</label>

						<input [disabled]="!inquiryFilters.inquiry_date_filter" name="inq_Date_filter_input"
							   id="inq_Date_filter_input" type="text" class="form-control" [options]="dateOptions"
							   daterangepicker (selected)="selectedIQDate($event)">
					</div>

					<div class="col-md-3 form-group">
						<label>Checkin Date
							<input type="checkbox" name="check_Date_filter"
								   [(ngModel)]="inquiryFilters.check_in_date_filter">
						</label>

						<input [disabled]="!inquiryFilters.check_in_date_filter" name="check_Date_filter_input"
							   id="check_Date_filter_input" type="text" class="form-control" [options]="dateOptions"
							   daterangepicker (selected)="selectedCheckInDate($event)">
					</div>

					<div class="col-md-3 form-group">
						<label>Checkout Date
							<input type="checkbox" name="check_out_date_filter"
								   [(ngModel)]="inquiryFilters.check_out_date_filter">
						</label>

						<input [disabled]="!inquiryFilters.check_out_date_filter" name="check_out_date_filter_input"
							   id="check_out_date_filter_input" type="text" class="form-control" [options]="dateOptions"
							   daterangepicker (selected)="selectedCheckOutDate($event)">
					</div>

					<div class="col-md-3" *ngIf="isVisibleAgents">
						<div class="set-apart">
							<search-select placeholder="Travel Agent"
										   [formControl]="travel_agent"
										   [dataSource]="travelAgentDataSource"></search-select>
						</div>

					</div>

					<div class="col-md-3" *ngIf="isVisibleCompanies">
						<div class="set-apart">
							<search-select placeholder="Company"
										   [formControl]="companyList"
										   [dataSource]="companyDataSource"></search-select>
						</div>
					</div>


					<div class="col-md-12">
						<button type="button" class="btn btn-sm btn-primary pull-right"
								(click)="applyInquiriesFilter()">
							Apply
						</button>

						<button type="button" (click)="resetInquiriesFilter()"
								class="btn btn-sm btn-secondary pull-right m--margin-right-5">
							Reset
						</button>
					</div>
				</div>
				<hr>
			</div>
			<div perfectScrollbar class="mat-table__wrapper mat-table__wrapper--dashboard">
				<mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

					<ng-container matColumnDef="select">
						<mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
							<mat-checkbox (change)="$event ? masterToggle() : null"
										  [checked]="selection.hasValue() && isAllSelected()"
										  [indeterminate]="selection.hasValue() && !isAllSelected()">
							</mat-checkbox>

						</mat-header-cell>
						<mat-cell *matCellDef="let row" class="mat-column-checkbox">
							<mat-checkbox (click)="$event.stopPropagation()"
										  (change)="$event ? selection.toggle(row) : null"
										  [checked]="selection.isSelected(row)">
							</mat-checkbox>
						</mat-cell>
						<mat-footer-cell *matFooterCellDef><b>Total</b></mat-footer-cell>
					</ng-container>

					<!-- ID Column -->
					<ng-container matColumnDef="inquiry_id">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Inq. Id</mat-header-cell>
						<mat-cell *matCellDef="let element">

							<a href="javascript:;" (click)="openInquiryForm(element)" *ngIf="element.booking_rooms_count<=0">
								{{element.inquiry_id}}
							</a>

							<a [routerLink]="['/booking/'+element.id]" *ngIf="element.booking_rooms_count>0">
								{{element.inquiry_id}}
							</a>
						</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>
					<!-- Name Column -->
					<ng-container matColumnDef="name">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>

					<!-- Rooms Column -->
					<ng-container matColumnDef="rooms">
						<mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center">Rooms
						</mat-header-cell>
						<mat-cell *matCellDef="let element" class="mat-cell-center" popoverTitle="Room Detail"
								  placement="bottom"
								  ngbPopover="Adults: {{element.adults}}&nbsp;&nbsp;&nbsp;&nbsp;Childs: {{element.childs}}"
								  triggers="mouseenter:mouseleave">
							{{element.rooms}}
						</mat-cell>
						<mat-footer-cell *matFooterCellDef matTooltip="{{getRoomTotal()}}">
							<b>
								{{getRoomTotal()}}
							</b>
						</mat-footer-cell>
					</ng-container>

					<!-- Rooms Nights -->
					<ng-container matColumnDef="room_nights">
						<mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center">Room Nights
						</mat-header-cell>
						<mat-cell *matCellDef="let element" class="mat-cell-center"> {{element.room_nights}}</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>

					<!-- Rate Column -->
					<ng-container matColumnDef="offer_rate">
						<mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-right">Amount
						</mat-header-cell>
						<mat-cell *matCellDef="let element" class="mat-cell-right"> {{element.offer_rate |
                            currency:'INR'}}
						</mat-cell>
						<mat-footer-cell *matFooterCellDef matTooltip="{{getInqTotalAmount() | currency:'INR'}}">
							<b>
								{{getInqTotalAmount() | currency:'INR'}}
							</b>
						</mat-footer-cell>
					</ng-container>

					<!-- Hotel Column -->
					<ng-container matColumnDef="hotel">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Hotel</mat-header-cell>
						<mat-cell *matCellDef="let element"> {{element.hotel_code}}</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>

					<!-- Status Column -->
					<ng-container matColumnDef="status">
						<mat-header-cell *matHeaderCellDef class="mat-cell-center" mat-sort-header>Status
						</mat-header-cell>
						<mat-cell *matCellDef="let element" class="mat-cell-center" [style.color]="element.color_code">
							<b>{{element.status}}</b>
						</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>

					<!-- Assign To Column -->
					<ng-container matColumnDef="assign_to">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Assign To</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.assign_to}}</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>

					<!-- Source To Column -->
					<ng-container matColumnDef="source">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Source</mat-header-cell>
						<mat-cell *matCellDef="let element"
								  matTooltip="{{element.company}}">
							{{element.source}}
						</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>

					<!-- Type To Column -->
					<ng-container matColumnDef="type">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>


					<!-- Inq. Date Column -->
					<ng-container matColumnDef="inquiry_date">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Inq. Date</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.inquiry_date| date:'dd-MM-yyyy'}}</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>

					<!-- Check In Date Column -->
					<ng-container matColumnDef="check_in_date">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Checkin</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.check_in_date| date:'dd-MM-yyyy'}}</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>


					<!-- Check Out Date Column -->
					<ng-container matColumnDef="check_out_date">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Checkout</mat-header-cell>
						<mat-cell *matCellDef="let element">{{element.check_out_date| date:'dd-MM-yyyy'}}</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>

					<!-- Action Column -->
					<ng-container matColumnDef="actions">
						<mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
						<mat-cell *matCellDef="let element" class="mat-cell-right">
							<button mat-icon-button color="primary" matTooltip="Edit inquiry"
									*ngIf="element.booking_rooms_count<=0"
									(click)="openInquiryForm(element)">
								<mat-icon>create</mat-icon>
							</button>&nbsp;
							&nbsp;
							<a mat-icon-button color="primary" matTooltip="Invoice" target="_blank"
							   href="{{serverUrl+element.invoice_url}}" *ngIf="element.invoice_url">
								<i class="fa fa-paperclip"></i>
							</a>&nbsp;

							<button mat-icon-button color="primary" matTooltip="Detail"
									[routerLink]="['/booking/'+element.id]">
								<i class="fas fa-file-invoice"></i>
							</button>&nbsp;

							<!--							<button mat-icon-button color="warn" matTooltip="Delete inquiry" type="button"-->
							<!--									(click)="deleteInquiry(element)"-->
							<!--									*ngxPermissionsOnly="['inquiries-delete']">-->
							<!--								<mat-icon>delete</mat-icon>-->
							<!--							</button>&nbsp;-->
							<ng-template ngxPermissionsOnly="inquiries-delete-responsible">
								<button mat-icon-button color="warn" matTooltip="Delete inquiry" type="button"
										(click)="deleteInquiry(element)"
										*ngIf="loggedInUser.id===element.assign_to_id">
									<mat-icon>delete</mat-icon>
								</button>
							</ng-template>

							<button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More actions">
								<i class="la la-ellipsis-h m--font-brand" style="font-size: 1.9rem"></i>
							</button>
							<mat-menu #menu="matMenu">
								<button mat-menu-item (click)="moreActionPerform(element,'notes')">
									<mat-icon>description</mat-icon>
									<span>Notes</span></button>

								<button mat-menu-item (click)="loadInquiryHistory(element.id,historyModal)">
									<mat-icon>history</mat-icon>
									<span>History</span>
								</button>

								<button mat-menu-item (click)="moreActionPerform(element,'payments')" *ngIf="element.is_sold">
									<mat-icon>payment</mat-icon>
									<span>Payments</span></button>

								<button mat-menu-item (click)="moreActionPerform(element,'invoices')" *ngIf="element.is_checkedout">
									<mat-icon>attach_file</mat-icon>
									<span>Invoices</span></button>

							</mat-menu>
						</mat-cell>
						<mat-footer-cell *matFooterCellDef></mat-footer-cell>
					</ng-container>

					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
					<mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></mat-footer-row>
				</mat-table>
			</div>
			<div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
		</div>
		<div class="mat-table__bottom">
			<mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
			<mat-paginator [length]="dataSource.paginatorTotal$ | async"
						   [showFirstLastButtons]="true"
						   [pageSizeOptions]="[10, 20, 50, 100,200,500]"></mat-paginator>
		</div>
	</ng-container>
</m-portlet>

<ng-template #historyModal let-c="close" let-d="dismiss">
	<div class="modal-header m--padding-bottom-5">
		<h4 class="modal-title">History</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-lg-12" *ngIf="false">
				<div id="tracking-pre"></div>
				<div id="tracking">
					<div class="tracking-list">
						<div class="tracking-item" *ngFor="let history of histories">
							<div class="tracking-icon status-intransit">
								<svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas"
									 data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
									 viewBox="0 0 512 512" data-fa-i2svg="">
									<path fill="currentColor"
										  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
								</svg>
								<!-- <i class="fas fa-circle"></i> -->
							</div>
							<div class="tracking-date">{{history.created_at | date:'dd LLL yyyy'}}
								<span>{{history.created_at | date:'shortTime'}}</span>
							</div>
							<div class="tracking-content">
								{{history.body}}
								<span>
                                    By {{history.actor.name}}
                                </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="max-height: 400px;    overflow: auto;">
				<ul class="timeline">
					<li *ngFor="let history of histories">
                        <span class="time-line-date">
                            {{history.created_at | date:'dd LLL yyyy'}}
                        </span>
						<span class="float-right">{{history.created_at | date:'shortTime'}}</span>
						<p class="m--margin-top-5">
							<span [innerHTML]="history.body"></span> by
							<span *ngIf="loggedInUser.id===history.actor_id">You</span>
							<span *ngIf="loggedInUser.id!==history.actor_id">{{history.actor.name}}</span>
						</p>
						<hr>
					</li>
				</ul>

			</div>
		</div>
	</div>
</ng-template>
