<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isLoading,
     'm-portlet--body-progress-overlay' : isLoading }">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Bookings are in Waiting, Do you wish to confirm them !!
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="m-portlet__body m--padding-top-5">

        <div class="m-portlet__body-progress">
            <mat-spinner [diameter]="20"></mat-spinner>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <th><b>No.</b></th>
                            <th class="text-center"><b>Inq. Id</b></th>
                            <th><b>Name</b></th>
                            <th class="text-center"><b>Check In</b></th>
                            <th class="text-center"><b>Check Out</b></th>
                            <th class="text-center"><b>Rooms</b></th>
                            <th class="text-left"><b>Source</b></th>
                            <th class="text-center"><b>Status</b></th>
                            <th class="text-right"><b>Amount</b></th>
                        </tr>
                        <tr *ngFor="let rec of waitListedInquiries; let i = index" [attr.data-index]="i">
                            <td>{{i + 1}}</td>
                            <td class="text-center">
                                <a routerLink="/booking/{{rec.id}}" class="m-nav__link"
                                   (click)="c('Close click')">
                                    {{rec.inquiry_id}}
                                </a>
                            </td>
                            <td>{{rec.name}}</td>
                            <td class="text-center">{{rec.check_in_date | date:'dd-MM-yyyy'}}</td>
                            <td class="text-center">{{rec.check_out_date | date:'dd-MM-yyyy'}}</td>
                            <td class="text-center">{{rec.rooms}}</td>
                            <td class="text-left">{{rec.source}} <span *ngIf="rec.company">{{rec.company}}</span></td>
                            <td class="text-center">{{rec.status}}</td>
                            <td class="text-right">{{rec.offer_rate | currency:'INR'}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeDialog()">
            Close
        </button>
    </div>
</div>
