<m-portlet [options]="{headLarge: false}" [loading$]="dataSource.loading$">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title w-100">
            <div class="col-md-4">
                <h3 class="m-portlet__head-text">
                    Users
                </h3>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input class="pull-right w-100" matInput #searchInput
                           placeholder="Search">
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <ng-container mPortletHeadTools>
        <button mat-mini-fab color="default" class="m--margin-left-5-mobile"
                (click)="isCollapsedFilter = !isCollapsedFilter"
                [attr.aria-expanded]="!isCollapsedFilter"
                aria-controls="collapseExample"
                matTooltip="Filter">
            <i class="fa fa-filter" aria-hidden="true"></i>
        </button>

        <button mat-mini-fab color="primary" (click)="openUserDetail()" matTooltip="Create new user">
            <i class="fa fa-plus fa-2x"></i>
        </button>

        <!-- <button mat-mini-fab color="warn"
                 matTooltip="Delete selected DSR">
             <i class="fa fa-trash fa-2x"></i>
         </button>-->

    </ng-container>

    <ng-container mPortletBody>
        <div class="m-portlet__body-progress">
            <mat-spinner [diameter]="20"></mat-spinner>
        </div>

        <div id="collapseExample" [ngbCollapse]="isCollapsedFilter">
            <div class="row">

                <div class="col-md-3 form-group">
                    <label>Hotel</label>
                    <angular2-multiselect [data]="hotelList" [(ngModel)]="selectedHotelLists"
                                          (onSelect)="onHotelSelect($event)"
                                          (onDeSelect)="onHotelSelect($event)"
                                          (onSelectAll)="onHotelSelect($event)"
                                          (onDeSelectAll)="onHotelSelect($event)"
                                          [settings]="hotelListSettings">
                    </angular2-multiselect>
                </div>

                <div class="col-md-3 form-group">
                    <label>Designation</label>
                    <angular2-multiselect [data]="designationList" [(ngModel)]="selectedDesignationLists"
                                          (onSelect)="onDesignationSelect($event)"
                                          (onDeSelect)="onDesignationSelect($event)"
                                          (onSelectAll)="onDesignationSelect($event)"
                                          (onDeSelectAll)="onDesignationSelect($event)"
                                          [settings]="designationListSettings">
                    </angular2-multiselect>
                </div>

				<div class="col-md-2 form-group">
					<label>Role</label>
					<angular2-multiselect [data]="roleList" [(ngModel)]="selectedRoleLists"
										  (onSelect)="onRoleSelect($event)"
										  (onDeSelect)="onRoleSelect($event)"
										  (onSelectAll)="onRoleSelect($event)"
										  (onDeSelectAll)="onRoleSelect($event)"
										  [settings]="roleListSettings">
					</angular2-multiselect>
				</div>

                <!--<div class="col-md-3 form-group">
                    <label>Office Location</label>
                    <angular2-multiselect [data]="citiesList" [(ngModel)]="selectedCitiesLists"
                                          (onSelect)="onCitiesSelect($event)"
                                          (onDeSelect)="onCitiesSelect($event)"
                                          (onSelectAll)="onCitiesSelect($event)"
                                          (onDeSelectAll)="onCitiesSelect($event)"
                                          [settings]="citiesSettings">
                    </angular2-multiselect>
                </div>-->

                <div class="col-md-2 form-group">
                    <label>Status</label>
                    <select class="form-control text-center" name="status"
                            [(ngModel)]="customFilters.status">
                        <option value="">None</option>
                        <option value="1">Enabled</option>
                        <option value="0">Disabled</option>
                    </select>
                </div>

                <div class="col-md-2 form-group">
                    <label>OTA Assign To</label>
                    <select class="form-control text-center" name="otaBookingAssign"
                            [(ngModel)]="customFilters.ota_booking_assign">
                        <option value="">None</option>
                        <option value="1">Enabled</option>
                        <option value="0">Disabled</option>
                    </select>
                </div>

                <div class="col-md-12">
                    <button type="button" class="btn btn-sm btn-primary pull-right"
                            (click)="applyFilter()">
                        Apply
                    </button>

                    <button type="button" (click)="resetFilter()"
                            class="btn btn-sm btn-secondary pull-right m--margin-right-5">
                        Reset
                    </button>
                </div>
            </div>
            <hr>
        </div>

        <div class="mat-table__wrapper">

            <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                </ng-container>

                <!-- Username Column -->
                <ng-container matColumnDef="user_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.user_name}}</mat-cell>
                </ng-container>

                <!-- Mobile Column -->
                <ng-container matColumnDef="mobile">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.mobile}}</mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
                </ng-container>

                <!-- Department Column -->
                <ng-container matColumnDef="role_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center">Role</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.role_name}}</mat-cell>
                </ng-container>

                <!-- Location Column -->
                <ng-container matColumnDef="location">
                    <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-cell-center">Location</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-center">{{element.location}}</mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <mat-slide-toggle [color]="'primary'" [(ngModel)]="!!element.status" (change)="onStatusChange(element, $event)">
                            <mat-spinner [diameter]="20" *ngIf="element.isSaving" style="margin-left: 15px"></mat-spinner>
                        </mat-slide-toggle>
                    </mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-right">
                        <button mat-icon-button color="primary" matTooltip="Edit User"
                                (click)="openUserDetail(element)">
                            <mat-icon>create</mat-icon>
                        </button>&nbsp;
                        <button mat-icon-button color="warn" matTooltip="Delete User" type="button"
                                (click)="deleteUser(element)">
                            <mat-icon>delete</mat-icon>
                        </button>&nbsp;
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                           [showFirstLastButtons]="true"
                           [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
        </div>
    </ng-container>
</m-portlet>
