<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving || isLoading, 'm-portlet--body-progress-overlay' : isSaving || isLoading }">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Rate Plan Detail
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <form #rateplanForm="ngForm">
                <mat-tab-group [(selectedIndex)]="selectedTabIndex">
                    <mat-tab label="Detail">
                        <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide">
                            <div class="m-portlet__body-progress">
                                <mat-spinner [diameter]="20"></mat-spinner>
                            </div>
                            <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                            <div class="row">

                                <div class="form-group col-md-3">
                                    <mat-form-field>
                                        <mat-select placeholder="Hotel"
                                                    [(ngModel)]="currentRecord.hotel_id"
                                                    (selectionChange)="getRatePlans()"
                                                    [disabled]="currentRecord.is_linked === true ||  currentRecord.is_used_in_Rate_plan === true"
                                                    name="hotel_id" required>
                                            <mat-option *ngFor="let item of hotels | THActiveFilter:'is_enabled':true:'id':currentRecord.hotel_id" [value]="item.id">
                                                {{item.code}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-3">
                                    <mat-form-field>
                                        <mat-select placeholder="Room Type"
                                                    [(ngModel)]="currentRecord.room_type_id"
                                                    (selectionChange)="getRatePlans()"
                                                    [disabled]="currentRecord.is_linked === true ||  currentRecord.is_used_in_Rate_plan === true"
                                                    name="room_type_id" required>
                                            <mat-option *ngFor="let item of hotelRoomTypes" [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-3">
                                    <mat-form-field>
                                        <mat-select placeholder="Rate Plan Type"
                                                    [(ngModel)]="currentRecord.rate_type_id"
                                                    name="rate_type_id" required>
                                            <mat-option *ngFor="let item of ratePlanTypes" [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-3">
                                    <mat-form-field>
                                        <mat-select placeholder="Booking Type" [(ngModel)]="currentRecord.bookingTypeIds"
                                                    name="booking_type" required multiple>
                                            <mat-option *ngFor="let type of bookingTypes" [value]="type.id">
                                                {{type.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-6">
                                    <mat-form-field>
                                        <mat-label>Plan Name</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.name" name="plan_name"
                                               required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-3">
                                    <mat-form-field>
                                        <mat-label>Min Nights</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.min_nights" name="min_nights"
                                               required type="number">
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-3">
                                    <mat-form-field>
                                        <mat-label>Max Nights</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.max_nights" name="max_nights"
                                               type="number" required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-12">
                                    <mat-form-field>
                                        <mat-label>Web Description</mat-label>
                                        <textarea matInput type="text" name="web_description"
                                                  [(ngModel)]="currentRecord.web_description"
                                                  matAutosizeMinRows="2"
                                                  rows="3"
                                                  matAutosizeMaxRows="4"
                                                  id="web_description" autocomplete="off" required></textarea>
                                    </mat-form-field>
                                </div>


                                <div class="form-group col-md-2">
                                    <mat-form-field>
                                        <mat-label>Base Adult</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.base_adult" name="base_adult"
                                               type="number" required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-2">
                                    <mat-form-field>
                                        <mat-label>Base Child</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.base_child" name="base_child"
                                               type="number" required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-2">
                                    <mat-form-field>
                                        <mat-label>Max Adult</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.max_adult" name="max_adult"
                                               type="number" required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-2">
                                    <mat-form-field>
                                        <mat-label>Max Child</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.max_child" name="max_child"
                                               type="number" required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-2">
                                    <mat-form-field>
                                        <mat-label>Rack Rate</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.rack_rate" name="rack_rate"
                                               required min="1" type="number">
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-2">
                                    <mat-form-field>
                                        <mat-label>Extra Adult Rate</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.extra_adult_rate"
                                               name="extra_adult_rate"
                                               type="number" required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-3">
                                    <mat-form-field>
                                        <mat-label>Extra Child Rate</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.extra_child_rate"
                                               name="extra_child_rate" type="number" required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-2 m--margin-top-15">
                                    <section>
                                        <mat-label>Publish to web&nbsp;</mat-label>
                                        <mat-checkbox name="is_publish"
                                                      [(ngModel)]="currentRecord.is_publish">
                                        </mat-checkbox>
                                    </section>
                                </div>

                                <div class="form-group col-md-2 m--margin-top-15">
                                    <section class="example-section">
                                        <mat-label>Rate Per Person </mat-label>
                                        <mat-checkbox name="cal_by_person"
                                                      [(ngModel)]="currentRecord.is_calc_by_person">
                                        </mat-checkbox>
                                    </section>
                                </div>

                                <div class="form-group col-md-2 m--margin-top-15">
                                    <section class="example-section">
                                        <mat-checkbox class="example-margin" name="is_enabled"
                                                      [(ngModel)]="currentRecord.is_enabled">
                                            Is Enabled
                                        </mat-checkbox>
                                    </section>
                                </div>

                                <div class="form-group col-md-3 m--margin-top-15">
                                    <section class="example-section">
                                        <mat-label>Show to all sources &nbsp;</mat-label>
                                        <mat-checkbox name="show_to_all_sources"
                                                      [(ngModel)]="currentRecord.show_to_all_sources">
                                        </mat-checkbox>
                                    </section>
                                </div>

                                <div class="form-group col-md-4" *ngIf="!currentRecord.show_to_all_sources">
                                    <mat-form-field>
                                        <mat-select placeholder="Travel Agents"
                                                    [(ngModel)]="currentRecord.travel_agents"
                                                    name="travel_agents" required multiple>
                                            <mat-option *ngFor="let item of travelAgents" [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-4" *ngIf="ratePlans.length>0">
                                    <mat-form-field>
                                        <mat-select placeholder="Linked Plan"
                                                    (selectionChange)="linkPlan()"
                                                    [(ngModel)]="currentRecord.linked_plan_id"
                                                    name="linked_plans">
                                            <mat-option value="">Select</mat-option>
                                            <mat-option *ngFor="let item of ratePlans" [value]="item.id">
                                                {{item.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-2"
                                     *ngIf="ratePlans.length>0 && currentRecord.linked_plan_id">
                                    <mat-form-field>
                                        <mat-label>Rate Diff. Amount</mat-label>
                                        <input id="lp_rate_diff_price" matInput
                                               [(ngModel)]="currentRecord.lp_rate_diff_price"
                                               name="lp_rate_diff_price" type="number" required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-2"
                                     *ngIf="ratePlans.length>0 && currentRecord.linked_plan_id">
                                    <mat-form-field>
                                        <mat-label>Adult Diff. Amount</mat-label>
                                        <input id="lp_adult_diff_price" matInput
                                               [(ngModel)]="currentRecord.lp_adult_diff_price"
                                               name="lp_adult_diff_price" type="number" required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-2"
                                     *ngIf="ratePlans.length>0 && currentRecord.linked_plan_id">
                                    <mat-form-field>
                                        <mat-label>Child Diff. Amount</mat-label>
                                        <input id="lp_child_diff_price" matInput
                                               [(ngModel)]="currentRecord.lp_child_diff_price"
                                               name="lp_child_diff_price" type="number" required>
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>

                        <div class="modal-footer no-side-padding">
                            <button type="button" class="btn btn-secondary" (click)="closeDialog()">
                                Close
                            </button>
                            <button type="button" (click)="changeTabTab(1)"
                                    class="btn btn-default">
                                Next
                            </button>
                        </div>
                    </mat-tab>
                    <mat-tab label="Additional Detail">
                        <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide">
                            <div class="m-portlet__body-progress">
                                <mat-spinner [diameter]="20"></mat-spinner>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-3 m--margin-top-15">
                                    <section>
                                        <mat-label>Configure Max Occupation &nbsp;</mat-label>
                                        <mat-checkbox name="is_max_occ_set"
                                                      [(ngModel)]="currentRecord.is_max_occ_set">
                                        </mat-checkbox>
                                    </section>
                                </div>

                                <div class="form-group col-md-3" *ngIf="currentRecord.is_max_occ_set">
                                    <mat-form-field>
                                        <mat-label>Max Occupancy</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.max_occupancy"
                                               name="max_occupancy"
                                               type="number" required>
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-6 m--margin-top-15">
                                    <section class="example-section">
                                        <mat-label>Prepaid, Non-Cancel, Non-Refundable&nbsp;</mat-label>
                                        <mat-checkbox name="can_cancel_refund"
                                                      [(ngModel)]="currentRecord.can_cancel_refund">
                                        </mat-checkbox>
                                    </section>
                                </div>

                                <div class="form-group col-md-6">
                                    <mat-form-field>
                                        <mat-label>Video Title</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.video_title"
                                               name="video_title">
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-6">
                                    <mat-form-field>
                                        <mat-label>Video Url</mat-label>
                                        <input matInput [(ngModel)]="currentRecord.video_url"
                                               name="video_url" type="url">
                                    </mat-form-field>
                                </div>

                                <div class="form-group col-md-3 m--margin-top-15">
                                    <section class="example-section">
                                        <mat-label>Add Special Conditions &nbsp;</mat-label>
                                        <mat-checkbox name="is_special_conditions"
                                                      (change)="changeShowCondition()"
                                                      [(ngModel)]="currentRecord.is_special_conditions">
                                        </mat-checkbox>
                                    </section>
                                </div>
                            </div>


                            <div class="row" *ngIf="currentRecord.is_special_conditions">
                                <div class="col-md-6 border-bottom">
                                    <h6>Conditions</h6>
                                </div>
                                <div class="col-md-6 border-bottom">
                                    <button class="pull-right btn btn-primary btn-sm m--margin-bottom-5"
                                            (click)="addCondition()">
                                        <i class="fa fa-plus"></i> Add
                                    </button>
                                </div>
                                <div class="col-md-12 border-top-0">
                                    <div class="row w-100" *ngFor="let cond of currentRecord.conditions; let i = index">
                                        <div class="form-group col-md-4">
                                            <mat-form-field>
                                                <mat-label>Title</mat-label>
                                                <input matInput [(ngModel)]="cond.title"
                                                       name="cond_title{{i}}" required>
                                            </mat-form-field>
                                        </div>

                                        <div class="form-group col-md-7">
                                            <mat-form-field>
                                                <mat-label>Description</mat-label>
                                                <input matInput [(ngModel)]="cond.description"
                                                       name="cond_desc{{i}}" required>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-1">
                                            <a href="javascript:;" class="pull-left m--margin-top-15"
                                               (click)="removeCondition(i)">
                                                <i class="fa fa-times text-danger fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row w-100">
                                <div class="form-group col-md-3 m--margin-top-15">
                                    <section class="example-section">
                                        <mat-label>Add highlighted Text &nbsp;&nbsp;</mat-label>
                                        <mat-checkbox name="is_special_conditions"
                                                      (change)="changeHTextCondition()"
                                                      [(ngModel)]="currentRecord.add_highlighted_text">
                                        </mat-checkbox>
                                    </section>
                                </div>
                            </div>

                            <div class="row" *ngIf="currentRecord.add_highlighted_text">
                                <div class="col-md-6 border-bottom">
                                    <h6>Highlighted Texts</h6>
                                </div>
                                <div class="col-md-6 border-bottom">
                                    <button class="pull-right btn btn-primary btn-sm m--margin-bottom-5"
                                            (click)="addHighlightedText()">
                                        <i class="fa fa-plus"></i> Add
                                    </button>
                                </div>
                                <div class="col-md-12 border-top-0">
                                    <div class="row w-100">
                                        <div class="col-md-6"
                                             *ngFor="let cond of currentRecord.highlightedtexts; let i = index">
                                            <div class="row">
                                                <div class="form-group col-md-10">
                                                    <mat-form-field>
                                                        <mat-label>Caption</mat-label>
                                                        <input matInput [(ngModel)]="cond.caption"
                                                               name="capt_title{{i}}" required>
                                                    </mat-form-field>
                                                </div>

                                                <div class="col-md-2">
                                                    <a href="javascript:;" class="pull-left m--margin-top-15"
                                                       (click)="removeHighlightedText(i)">
                                                        <i class="fa fa-times text-danger fa-2x"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer no-side-padding">
                            <button type="button" (click)="changeTabTab(0)"
                                    class="btn btn-default">
                                Back
                            </button>

                            <button type="button" class="btn btn-secondary" (click)="closeDialog()">
                                Close
                            </button>
                            <button type="button" (click)="save()"
                                    [disabled]="rateplanForm.invalid || isSaving"
                                    class="btn btn-primary">
                                Save
                            </button>
                            <button type="button" (click)="changeTabTab(2)"
                                    class="btn btn-default">
                                Next
                            </button>
                        </div>
                    </mat-tab>
                    <mat-tab label="Inclusion">
                        <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide">
                            <div class="m-portlet__body-progress">
                                <mat-spinner [diameter]="20"></mat-spinner>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-12">
                                    <angular-editor name="htmlContent" [(ngModel)]="currentRecord.inclusion"
                                                    [config]="editorConfig"></angular-editor>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer no-side-padding">
                            <button type="button" (click)="changeTabTab(1)"
                                    class="btn btn-default">
                                Back
                            </button>

                            <button type="button" class="btn btn-secondary" (click)="closeDialog()">
                                Close
                            </button>
                            <button type="button" (click)="save()"
                                    [disabled]="rateplanForm.invalid || isSaving"
                                    class="btn btn-primary">
                                Save
                            </button>
                            <button type="button" (click)="changeTabTab(3)"
                                    class="btn btn-default">
                                Next
                            </button>
                        </div>
                    </mat-tab>
                    <mat-tab label="Meal Plans">
                        <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide"
                             style="min-height: 300px">
                            <div class="m-portlet__body-progress">
                                <mat-spinner [diameter]="20"></mat-spinner>
                            </div>

                            <div class="form-group col-md-12">
                                <mat-form-field>
                                    <mat-select placeholder="Meal Plan"
                                                [(ngModel)]="selectedMealPlans" name="meal_plan" multiple
                                                (selectionChange)="changeMealPlanSelection()">
                                        <mat-option *ngFor="let item of mealPlans" [value]="item">{{item.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>

                            <div class="col-md-12" *ngIf="currentRecord.mealplans.length>0">
                                <label>
                                    <b>
                                        Meal Plans
                                    </b>
                                </label>
                            </div>

                            <div class="col-md-12">
                                <table class="table">
                                    <tr>
                                        <th>
                                            Meal Plan
                                        </th>
                                        <th>
                                            Differential Price
                                        </th>
                                    </tr>
                                    <tr *ngFor="let plan of currentRecord.mealplans; let i=index">
                                        <td>
                                            {{plan.name}}
                                        </td>
                                        <td style="padding-top: 0px;padding-bottom: 0px">
                                            <mat-form-field>
                                                <input matInput [(ngModel)]="plan.differential_price"
                                                       name="diff_price{{i}}"
                                                       pattern="[0-9]+([\.,][0-9]+)?" required>
                                            </mat-form-field>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer no-side-padding">
                            <button type="button" (click)="changeTabTab(2)"
                                    class="btn btn-default">
                                Back
                            </button>

                            <button type="button" class="btn btn-secondary" (click)="closeDialog()">
                                Close
                            </button>
                            <button type="button" (click)="save()"
                                    [disabled]="rateplanForm.invalid || isSaving"
                                    class="btn btn-primary">
                                Save
                            </button>
                        </div>
                    </mat-tab>

                </mat-tab-group>

            </form>
        </div>

    </div>
</div>
