<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Room Detail
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #roomDetailForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="currentRecord.name" name="type_name" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Short Code</mat-label>
                            <input matInput [(ngModel)]="currentRecord.code" name="type_code" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Hotel" [(ngModel)]="currentRecord.hotel_id"
                                        name="hotel_id"
                                        required>
                                <mat-option *ngFor="let item of roomSettings.hotels" [value]="item.id">
                                    {{item.code}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Room Type" [(ngModel)]="currentRecord.room_type_id"
                                        name="room_Type_id"
                                        required>
                                <mat-option *ngFor="let item of roomSettings.roomTypes" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Bed Type" [(ngModel)]="currentRecord.bed_type_id"
                                        name="bed_type_id"
                                        required>
                                <mat-option *ngFor="let item of roomSettings.bedTypes" [value]="item.id">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-label>Phone Extension</mat-label>
                            <input matInput [(ngModel)]="currentRecord.phone_extension" name="phone_extension">
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-label>Key Card Alias</mat-label>
                            <input matInput [(ngModel)]="currentRecord.key_card_alias" name="key_card_alias">
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-label>Short Key</mat-label>
                            <input matInput [(ngModel)]="currentRecord.short_key" name="short_key">
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Room As" [(ngModel)]="currentRecord.room_as"
                                        name="room_as"
                                        required>
                                <mat-option *ngFor="let item of roomAs" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="Suite Name" [(ngModel)]="currentRecord.suite_name"
                                        name="suite_name">
                                <mat-option *ngFor="let item of suitNames" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <section>
                            <mat-label>Non-Smoking &nbsp;</mat-label>
                            <mat-checkbox name="is_non_smoking"
                                          [(ngModel)]="currentRecord.is_non_smoking">
                            </mat-checkbox>
                        </section>
                    </div>

                    <div class="form-group col-md-2">
                        <section>
                            <mat-label>Enable &nbsp;</mat-label>
                            <br>
                            <mat-checkbox name="is_enabled"
                                          [(ngModel)]="currentRecord.is_enabled">
                            </mat-checkbox>
                        </section>
                    </div>

                    <div class="col-md-6">
                        <div *ngIf="!disableDates && !currentRecord.is_enabled">
                            <mat-label>Disable For Dates</mat-label>
                            <br>
                            <mat-checkbox name="disable_date" [(ngModel)]="disableDates">
                            </mat-checkbox>
                        </div>

                        <mat-form-field *ngIf="disableDates && !currentRecord.is_enabled">
                            <mat-label>Disable For Dates</mat-label>
                            <input matInput type="text" name="dateRangeInput" #dateRangeInput daterangepicker
                                   [options]="dateOptions"
                                   (selected)="selectDisableDates($event)"/>
                            <button mat-button *ngIf="disableDates" matSuffix mat-icon-button
                                    aria-label="Clear" (click)="clearDisableDates()">
                                <mat-icon>close</mat-icon>
                            </button>
                            <mat-icon matSuffix>date_range</mat-icon>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-12">
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <textarea matInput type="text" name="description" [(ngModel)]="currentRecord.description"
                                      matAutosizeMinRows="2"
                                      matAutosizeMaxRows="4"
                                      id="description" autocomplete="off"></textarea>
                        </mat-form-field>
                    </div>

                </div>

            </div>

            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>

                <button type="button" class="btn m-btn--sm btn-primary pull-right"
                        [disabled]="roomDetailForm.invalid || isSaving"
                        (click)="save()">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
