<m-portlet [options]="{headLarge: false}" [loading$]="dataSource.loading$">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title w-100">
            <div class="col-md-4">
                <h3 class="m-portlet__head-text">
                    DSR
                </h3>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <input class="pull-right w-100" matInput #searchInput
                           placeholder="Search">
                </mat-form-field>
            </div>
        </div>
    </ng-container>

    <ng-container mPortletHeadTools>
        <button mat-mini-fab color="primary" *ngxPermissionsOnly="['dsr-add']" (click)="openDSRDetail()"
                matTooltip="Create new DSR">
            <i class="fa fa-plus fa-2x"></i>
        </button>

        <label>&nbsp;</label>
        <!-- <button mat-mini-fab color="warn"
                 matTooltip="Delete selected DSR">
             <i class="fa fa-trash fa-2x"></i>
         </button>-->

    </ng-container>

    <ng-container mPortletBody>
        <div class="mat-table__wrapper">

            <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="company_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Customer</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.company_name}}</mat-cell>
                </ng-container>

                <!-- Person Name Column -->
                <ng-container matColumnDef="person_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Person Name</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.person_name}}</mat-cell>
                </ng-container>

                <!-- Designation Column -->
                <ng-container matColumnDef="designation">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.designation}}</mat-cell>
                </ng-container>

                <!-- Phone Column -->
                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Phone</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.phone}}</mat-cell>
                </ng-container>

                <!-- Mobile Column -->
                <ng-container matColumnDef="mobile">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.mobile}}</mat-cell>
                </ng-container>

                <!-- Email Column -->
                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.email}}</mat-cell>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="visited_date">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Visited Date</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.visited_date | date:'dd-MM-yyyy'}}</mat-cell>
                </ng-container>

                <!-- Time Column -->
                <ng-container matColumnDef="visited_time">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Visited Time</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{hours_am_pm(element.visited_time)}}</mat-cell>
                </ng-container>


                <!-- Assign To Column -->
                <ng-container matColumnDef="assign_to_name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Assign To</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.assign_to_name}}</mat-cell>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <span *ngIf="element.type==0">Company</span>
                        <span *ngIf="element.type==1">Travel Agent</span>
                    </mat-cell>
                </ng-container>

                <!-- City Column -->
                <ng-container matColumnDef="city">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>City</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        {{element.city}}
                    </mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-right">
                        <button mat-icon-button color="primary" matTooltip="Detail"
                                (click)="openDSRDetail(element)">
                            <mat-icon>create</mat-icon>
                        </button>&nbsp;
                        <button mat-icon-button color="warn" matTooltip="Delete DSR" type="button"
                                (click)="deleteDRS(element)" *ngxPermissionsOnly="['dsr-delete']">
                            <mat-icon>delete</mat-icon>
                        </button>&nbsp;

                        <ng-template ngxPermissionsOnly="dsr-delete-responsible">
                            <button mat-icon-button color="warn" matTooltip="Delete" type="button"
                                    (click)="deleteDRS(element)"
                                    *ngIf="loggedInUser.id===element.assign_to_id">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </ng-template>

                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                           [showFirstLastButtons]="true"
                           [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
        </div>
    </ng-container>
</m-portlet>
