<div class="m-portlet"
	 [ngClass]="{ 'm-portlet--body-progress' : isSaving || sendingEmail  || sendingPaymentRequest, 'm-portlet--body-progress-overlay' : isSaving || sendingEmail || sendingPaymentRequest }">

	<div class="m-portlet__head">
		<div class="m-portlet__head-caption w-100">
			<div class="m-portlet__head-title w-100">
				<h4 class="modal-title w-100">
					Booking
					<span *ngIf="newInquiry.inquiry_id">- {{newInquiry.inquiry_id}}</span>
				</h4>

				<button class="btn btn-success btn-sm m--margin-right-5" *ngIf="newInquiry.inquiry_id"
						(click)="openHistory(historyModal)"
						matTooltip="Show history">
					<i class="fa fa-history"></i>
				</button>

				<!--<button class="btn btn-warning btn-sm m&#45;&#45;margin-right-5" *ngIf="newInquiry.inquiry_id"
						(click)="sendDetailMail(newInquiry.id)"
						matTooltip="Send Detail">
					<i class="fa fa-envelope"></i>
				</button>-->

				<button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="tabClick($event)">
			<mat-tab label="Detail" *ngIf="detailViewType!==0">
				<form #inquiryForm="ngForm">
					<div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide">

						<div class="m-portlet__body-progress">
							<mat-spinner [diameter]="20"></mat-spinner>
						</div>
						<div class="row">
							<div class="col-md-12 ">
								<!--{{newInquiry|json}}-->
								<label class="text-success border-bot w-100 m--margin-bottom-15">
									<b>Source & Status Info</b>
								</label>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-select placeholder="Source"
												(selectionChange)="sourceChange()"
												[(ngModel)]="newInquiry.source_id" name="source" required>
										<mat-option *ngFor="let source of sources" [value]="source.id">
											{{source.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3"
								 *ngIf="isVisibleCompanies || isVisibleOTA || isVisibleAgents">
								<div class="set-apart">
									<search-select [required]="true" (ngModelChange)="sourceValueChanged()"
												   [placeholder]="(isVisibleCompanies)?'Company':'' || (isVisibleOTA)?'OTA' || (isVisibleAgents):'Travel Agent'"
												   [formControl]="companyList"
												   [dataSource]="companyDataSource"></search-select>
								</div>
							</div>
							<div class="form-group col-md-3" *ngIf="currentSource && currentSource?.name=='Referral'">
								<mat-form-field>
									<mat-label>Referral Detail</mat-label>
									<input matInput [(ngModel)]="newInquiry.referral" name="referral" required>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-select placeholder="Status" [(ngModel)]="newInquiry.status_id"
												name="status"
												(selectionChange)="changeInquiryStatus($event)"
												[disabled]="(originalInquiry.status && (originalInquiry.status.is_sold === true || originalInquiry.status.is_waitlisted==true || originalInquiry.status.is_confirmed==true)) || newInquiry.isReadOnly"
												required>
										<mat-option *ngFor="let status of statuses" [value]="status.id">
											{{status.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-select placeholder="Sub Status" [(ngModel)]="newInquiry.sub_status_id"
												name="sub_status"
												required>
										<mat-option *ngFor="let status of filterSubStatus()" [value]="status.id">
											{{status.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="col-md-12 ">
								<label class="text-success border-bot w-100 m--margin-bottom-15">
									<b>Guest Info</b>
								</label>
							</div>

							<div class="form-group col-md-6">
								<mat-form-field>
									<mat-label>Guest Name</mat-label>
									<input matInput [(ngModel)]="newInquiry.name" name="guest_name" required>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-label>Email</mat-label>
									<input matInput name="email"
										   [(ngModel)]="newInquiry.email"
										   email="true" required>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-label>Mobile</mat-label>
									<input type="text" minlength="10" maxlength="10" pattern="^[6-9][0-9]+" matInput
										   [(ngModel)]="newInquiry.phone"
										   name="phone"
										   required>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-select placeholder="Hotel" [(ngModel)]="newInquiry.hotel_id" name="hotel"
												required>
										<mat-option
											*ngFor="let item of hotels | THActiveFilter:'is_enabled':true:'id':newInquiry.hotel_id"
											[value]="item.id">{{item.code}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<input matInput [(ngModel)]="newInquiry.check_in_date" [matDatepicker]="picker1"
										   (dateChange)="dateChangeEvent('check_in_date')"
										   [min]="checkInMinDate"
										   placeholder="Check In Date" name="check_in_date" required>
									<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
									<mat-datepicker #picker1></mat-datepicker>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<input matInput [(ngModel)]="newInquiry.check_out_date"
										   [matDatepicker]="check_out_date"
										   (dateChange)="dateChangeEvent('check_out_date')"
										   [min]="checkOutMinDate"
										   placeholder="Check Out Date" name="check_out_date" required>
									<mat-datepicker-toggle matSuffix [for]="check_out_date"></mat-datepicker-toggle>
									<mat-datepicker #check_out_date></mat-datepicker>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-label>No. of Rooms</mat-label>
									<input matInput min="0" type="number" name="roomCount" autocomplete="off"
										   [(ngModel)]="newInquiry.rooms"
										   required>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-label>Adults</mat-label>
									<input matInput min="0" type="number" name="adults" autocomplete="off"
										   [(ngModel)]="newInquiry.adults"
										   required>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-label>Child</mat-label>
									<input matInput min="0" type="number" name="child" autocomplete="off"
										   [(ngModel)]="newInquiry.childs"
										   required>
								</mat-form-field>
							</div>

							<div class="col-md-12">
								<label class="text-success border-bot w-100 m--margin-bottom-15">
									<b>Internal Use</b>
								</label>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<input matInput [max]="maxDate" [(ngModel)]="newInquiry.inquiry_date"
										   [matDatepicker]="picker"
										   [min]="minInqDate"
										   (dateChange)="dateChangeEvent('inquiry_date')" placeholder="Inquiry Date"
										   required
										   name="inquiry_date">
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker #picker></mat-datepicker>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-select placeholder="Inquiry Type" [(ngModel)]="newInquiry.type_id"
												name="inq_type" (selectionChange)="setCurrentInqType()"
												required>
										<mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3"
								 *ngIf="(currentInqType && (currentInqType.name==='Inbound' || currentInqType.name==='Domestic Group'))">
								<mat-form-field>
									<mat-label>Group Name</mat-label>
									<input matInput name="group_name" id="group_name"
										   [(ngModel)]="newInquiry.group_name">
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-label>Amount</mat-label>
									<input matInput type="number" min="1000" name="offerRate" id="offerRate"
										   autocomplete="off"
										   [(ngModel)]="newInquiry.offer_rate"
										   required>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3" *ngIf="currentStatus && currentStatus.is_sold===true">
								<mat-form-field>
									<mat-label>Booking Id</mat-label>
									<input matInput type="text" name="booking_id" autocomplete="off"
										   id="booking_id"
										   [(ngModel)]="newInquiry.booking_id">
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-select placeholder="Assign To" [(ngModel)]="newInquiry.assign_to_id"
												name="assign_to"
												required>
										<mat-option
											*ngFor="let assignTo of assignToList | THActiveFilter:'status':1:'id':newInquiry.assign_to_id"
											[value]="assignTo.id">
											{{assignTo.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>


							<div class="form-group col-md-12">
								<mat-form-field>
									<mat-label>Note (Min 25 Chars)</mat-label>
									<textarea matInput type="text" name="remark_note" [(ngModel)]="newInquiry.note"
											  matAutosizeMinRows="2"
											  matAutosizeMaxRows="4"
											  minlength="25" required
											  id="remark_note" autocomplete="off"></textarea>
								</mat-form-field>
							</div>

						</div>

					</div>
					<div class="modal-footer no-side-padding">
						<a (click)="closeDialog()" [routerLink]="['/booking']" [queryParams]="{iqId: newInquiry.id}"
						   class="btn btn-primary"
						   *ngIf="newInquiry.id && originalInquiry.status === 'Sale' && originalInquiry.type==='FIT'">
							Booking
						</a>

						<button type="button" (click)="saveInquiry()"
								*ngIf="detailViewType!==0"
								[disabled]="inquiryForm.invalid || isSaving  || ((isVisibleCompanies || isVisibleOTA || isVisibleAgents) && companyList.errors)"
								class="btn btn-primary">
							Save
						</button>

						<button type="button" class="btn btn-secondary" (click)="closeDialog()">
							Close
						</button>
					</div>
				</form>
			</mat-tab>
			<mat-tab label="Notes" *ngIf="newInquiry.id">
				<form #inquiryNoteForm="ngForm">
					<div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide mat-dialog-min-height">
						<!--<div class="row">
							<div class="form-group col-md-12">
								<mat-form-field>
									<mat-label>Note</mat-label>
									<textarea matInput type="text" name="inquiryNote" [(ngModel)]="inquiryNote.note"
											  matAutosizeMinRows="2"
											  matAutosizeMaxRows="4"
											  id="inquiryNote" autocomplete="off" required></textarea>
								</mat-form-field>
							</div>
							<div class="form-group col-md-12">
								<button type="button" class="btn m-btn&#45;&#45;sm btn-primary pull-right"
										[disabled]="inquiryNoteForm.invalid || isSaving"
										(click)="saveNote()">
									Save
								</button>
							</div>
						</div>-->
						<div class="row">
							<!--<div class="col-md-12">
								<hr>
								<h4>Notes</h4>
							</div>-->

							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table">
										<thead>
										<tr>
											<th nowrap>Date</th>
											<th nowrap>Note</th>
											<th nowrap>Added By</th>
											<th nowrap>Action</th>
										</tr>
										</thead>
										<tbody>

										<tr *ngIf="inquiryNotes.length<=0">
											<td colspan="4" class="text-center">
												<label>No records found</label>
											</td>
										</tr>

										<tr *ngFor="let item of inquiryNotes">
											<td>{{item.created_at| date:'dd-MM-yyyy h:mm a'}}</td>
											<td>
												<p [innerHTML]="item.note"></p>
											</td>
											<td>{{item.created_by_name}}</td>
											<td>
												<button mat-icon-button color="warn" matTooltip="Delete"
														(click)="deleteNote(item)"
														type="button">
													<mat-icon>delete</mat-icon>
												</button>&nbsp;
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer no-side-padding">
						<mat-spinner [diameter]="25"
									 *ngIf="isSaving || isLoadingPayments || isDeletePayment || isLoadingNotes || isDeleteNote">
						</mat-spinner>

						<button type="button" class="btn btn-secondary" (click)="goBack()">
							Back
						</button>

						<button type="button" class="btn btn-secondary " (click)="closeDialog()">
							Close
						</button>
					</div>
				</form>
			</mat-tab>
			<mat-tab label="Payments" *ngIf="currentStatus.is_sold===true && newInquiry.id"
					 (click)="getPayments()">
				<form #inquiryPaymentForm="ngForm">
					<div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide mat-dialog-min-height">
						<div class="row" *ngIf="viewPaymentForm; else showPaymentForm">
							<div class="form-group col-md-12"
								 *ngIf="paymentEntry.is_rejected && paymentEntry.reject_note">
								<label class="text-danger">
									<b> Reject note:</b>
									{{paymentEntry.reject_note}}
								</label>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-label>Outstanding Amount</mat-label>
									<input matInput type="text" min="1000" name="ous_amount" id="ous_amount"
										   autocomplete="off"
										   disabled required
										   [(ngModel)]="paymentEntry.outstanding_amount">
								</mat-form-field>
							</div>
							<div class="form-group col-md-3">
								<mat-form-field>
									<input matInput [(ngModel)]="paymentEntry.payment_date"
										   [matDatepicker]="payment_date"
										   [min]="paymentminDate" [disabled]="paymentEntry.isReadOnly"
										   (dateChange)="paymentDateChangeEvent('payment_date')"
										   placeholder="Payment Date" name="check_in_date" required>
									<mat-datepicker-toggle matSuffix [for]="payment_date"></mat-datepicker-toggle>
									<mat-datepicker #payment_date></mat-datepicker>
								</mat-form-field>
							</div>
							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-label>Amount</mat-label>
									<input matInput min="1000" name="pay_amount" id="payment_amount"
										   autocomplete="off"
										   type="number" [disabled]="paymentEntry.isReadOnly"
										   [(ngModel)]="paymentEntry.amount"
										   required>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-select placeholder="Payment Mode"
												[disabled]="paymentEntry.isReadOnly"
												[(ngModel)]="paymentEntry.payment_mode_id" name="payment_mode"
												required (selectionChange)="setCurrentPaymentMode()">
										<mat-option *ngFor="let mode of paymentModes" [value]="mode.id">
											{{mode.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="form-group col-md-3"
								 *ngIf="currentPaymentMode && (currentPaymentMode.name==='Cheque' || currentPaymentMode.name==='Online Transfer- NEFT or RTGS')">
								<mat-form-field>
									<mat-label>
										<span *ngIf="currentPaymentMode.name=='Cheque'">Check No.</span>
										<span *ngIf="currentPaymentMode.name=='Online Transfer- NEFT or RTGS'">Ref. No. (UTR)</span>
									</mat-label>
									<input matInput min="1000" name="payment_ref" id="payment_ref"
										   autocomplete="off"
										   [disabled]="paymentEntry.isReadOnly"
										   [(ngModel)]="paymentEntry.reference_no"
										   required>
								</mat-form-field>
							</div>
							<div class="form-group col-md-5"
								 *ngIf="currentPaymentMode && !!currentPaymentMode.capture_bank">
								<mat-form-field>
									<mat-select placeholder="Bank"
												[disabled]="paymentEntry.isReadOnly"
												[(ngModel)]="paymentEntry.bank_id" name="bank_id"
												required (selectionChange)="setCurrentBank()">
										<mat-option class="mat-option-multiline"
													*ngFor="let bank of banks" [value]="bank.id">
											<div>{{bank.hotel_code}} - {{bank.name}}</div>
											<small>
												A/C: {{bank.account_no}}<br/>
											</small>
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-5">
								<mat-form-field>
									<mat-label>Remark</mat-label>
									<textarea matInput type="text" name="remark" [(ngModel)]="paymentEntry.remark"
											  [disabled]="paymentEntry.isReadOnly"
											  rows="1" required
											  id="payment_remark" autocomplete="off"></textarea>
								</mat-form-field>
							</div>

							<div class="form-group col-md-2 m--margin-top-15"
								 *ngIf="isPaymentConfirmRight || (paymentEntry.isReadOnly && paymentEntry.is_confirmed)">
								<section class="example-section">
									<mat-label>Is Confirm &nbsp;</mat-label>
									<mat-checkbox class="example-margin" name="user_status"
												  [disabled]="paymentEntry.isReadOnly"
												  [(ngModel)]="paymentEntry.is_confirmed">
									</mat-checkbox>
								</section>
							</div>

							<div class="form-group col-md-4"
								 *ngIf="paymentEntry.is_confirmed && isPaymentConfirmRight || (paymentEntry.isReadOnly && paymentEntry.is_confirmed)">
								<mat-form-field>
									<mat-label>Confirmation Note</mat-label>
									<textarea matInput type="text" name="confirm_note"
											  [(ngModel)]="paymentEntry.confirm_note"
											  [disabled]="paymentEntry.isReadOnly"
											  matAutosizeMinRows="2"
											  id="confirm_note" autocomplete="off"></textarea>
								</mat-form-field>
							</div>

							<div class="col-md-12" *ngIf="paymentEntry.id">
								<angular-file-uploader *ngIf="!paymentEntry.attach_url && !paymentEntry.isReadOnly"
													   (ApiResponse)="paymentFileUploaded($event)"
													   [config]="afuConfig">
								</angular-file-uploader>

								<div *ngIf="paymentEntry.attach_url">
									<a href="javascript:;">
										<i class="fa fa-paperclip"></i>
									</a>
									<a [href]="paymentEntry.attach_url" target="_blank">
										{{paymentEntry.attach_name}}
									</a>
									<a href="javascript:;" class="m--margin-left-10"
									   *ngIf="!paymentEntry.isReadOnly"
									   (click)="removePaymentAttachment(paymentEntry)">
										<i class="fa fa-times text-danger"></i>
									</a>

								</div>
							</div>

							<div class="form-group col-md-10"
								 *ngIf="isPaymentConfirmRight && !paymentEntry.is_confirmed && paymentEntry.id && !paymentEntry.is_rejected">
								<mat-form-field>
									<mat-label>Reject Note</mat-label>
									<textarea matInput type="text" name="confirm_note"
											  [(ngModel)]="reject_note"
											  [disabled]="paymentEntry.isReadOnly"
											  matAutosizeMinRows="1"
											  rows="1"
											  id="reject_note" autocomplete="off"></textarea>
								</mat-form-field>
							</div>
							<div class="form-group col-md-2"
								 *ngIf="isPaymentConfirmRight && !paymentEntry.is_confirmed && paymentEntry.id && !paymentEntry.is_rejectede">

								<button type="button" class="btn btn-sm btn-danger btn-block pull-right"
										[disabled]="!reject_note || isSaving"
										(click)="rejectPayment()">
									Reject
								</button>
							</div>


							<div class="form-group col-md-12">
								<button type="button" class="btn btn-sm btn-primary pull-right"
										[disabled]="inquiryPaymentForm.invalid || isSaving || paymentEntry.isReadOnly"
										(click)="savePayment()">
									Save
								</button>

								<button type="button" class="btn btn-primary btn-sm pull-right m--margin-right-5"
										[disabled]="inquiryPaymentForm.invalid || isSaving"
										*ngIf="paymentEntry.is_rejected"
										(click)="requestToReconfirm()">
									Request to Reconfirm
								</button>

								<button type="button"
										class="btn btn-secondary btn-sm pull-right m--margin-right-5"
										(click)="initPayment()">
									Cancel
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12" *ngIf="viewPaymentForm">
								<hr>
							</div>
							<div class="col-md-4">
								<h4>Payments</h4>
							</div>
							<div class="col-md-7">
								<mat-form-field>
									<input matInput placeholder="Search" type="text" name="term"
										   [(ngModel)]="searchTerm">
								</mat-form-field>
							</div>
							<div class="col-md-1">
								<ng-template #showPaymentForm>
									<button type="button" class="btn btn-sm btn-primary pull-right"
											(click)="viewPaymentForm=true" *ngxPermissionsOnly="['payment-add']">
										<i class="fa fa-plus"></i> Add Payment
									</button>
									<label>&nbsp;</label>
								</ng-template>
							</div>


						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table">
										<thead>
										<tr>
											<th nowrap>Date</th>
											<th nowrap>Mode</th>
											<th nowrap>Amount</th>
											<th nowrap>Created By</th>
											<th>Remark</th>
											<th nowrap>Status</th>
											<th nowrap>Confirm By</th>
											<th nowrap>Created At</th>
											<th nowrap>Action</th>
										</tr>
										</thead>
										<tbody>
										<tr *ngFor="let payRec of inquiryPayments | search : searchTerm">
											<td>{{payRec.payment_date| date:'d-M-yy'}}</td>
											<td>
												<span
													matTooltip="{{payRec.reference_no}}">{{payRec.payment_mode}}</span>
											</td>
											<td>{{payRec.amount | currency:'INR' }}</td>
											<td>{{(payRec.createdBy) }}</td>
											<td>{{payRec.remark}}</td>
											<td>
												<div *ngIf="!payRec.is_rejected;else rejected">
                                                        <span *ngIf="payRec.is_confirmed">
                                                        Confirmed
                                                    </span>

													<span *ngIf="!payRec.is_confirmed">
                                                        Not Confirmed
                                                    </span>
												</div>
												<ng-template #rejected>
                                                        <span matTooltip="{{payRec.reject_note}}">
                                                                    Rejected
                                                        </span>
												</ng-template>
											</td>
											<td>
												{{payRec.confirm_by}}
												<div>
													<small [matTooltip]="payRec.confirmed_at | date:'dd-MM-yyyy h:mm a'">{{payRec.confirmed_at| timeago:live}}</small>
												</div>
											</td>

											<td [matTooltip]="payRec.created_at | date:'dd-MM-yyyy h:mm a'">
												{{payRec.created_at| timeago:live}}
											</td>
											<td>
												<button mat-icon-button color="primary" matTooltip="Edit"
														*ngxPermissionsOnly="['payment-update']"
														(click)="editPayment(payRec)">
													<mat-icon>create</mat-icon>
												</button>&nbsp;

												<button mat-icon-button color="info" matTooltip="Send Payment Request"
														[disabled]="sendingPaymentRequest"
														*ngIf="payRec.payment_mode==='Instamojo' && !payRec.is_confirmed && !payRec.is_rejected"
														(click)="sendPaymentRequest(payRec)">
													<i class="fas fa-money-bill text-info" aria-hidden="true"></i>
												</button>&nbsp;

												<button mat-icon-button color="warn" matTooltip="Delete"
														(click)="deletePayment(payRec)"
														*ngxPermissionsOnly="['payment-delete']"
														[disabled]="payRec.is_confirmed===true && !isPaymentConfirmRight"
														type="button">
													<mat-icon>delete</mat-icon>
												</button>&nbsp;

												<a [href]="payRec.attach_url" target="_blank"
												   [title]="payRec.attach_name" *ngIf="payRec.attach_url">
													<i class="fa fa-paperclip"></i>
												</a>
											</td>
										</tr>
										<tr *ngIf="inquiryPayments.length<=0">
											<td colspan="5" class="text-center">
												<label>No records found</label>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer no-side-padding">
						<div class="col-md-5">
							<div class="row">
								<h5 class="text-gray pull-left">
									Outstanding Amount: {{paymentEntry.outstanding_amount|currency:'INR'}}
								</h5>
							</div>
						</div>
						<div class="col-md-3">
							<mat-spinner [diameter]="25"
										 *ngIf="isSaving || isLoadingPayments || isDeletePayment">
							</mat-spinner>
						</div>
						<div class="col-md-4">
							<div class="row pull-right">
								<button type="button" class="btn btn-secondary pull-right m--margin-right-5"
										(click)="backToDetailTab()">
									Back
								</button>

								<button type="button" class="btn btn-secondary pull-right" (click)="closeDialog()">
									Close
								</button>
							</div>
						</div>
					</div>
				</form>
			</mat-tab>
			<mat-tab label="Invoices" *ngIf="newInquiry.id && isCheckedOut()">
				<form #bookingInvoicesForm="ngForm">
					<div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide mat-dialog-min-height">
						<div class="row">
							<div class="col-md-12" *ngIf="!isLoadingInvoices">
								<angular-file-uploader *ngIf="newInquiry.id"
													   [resetUpload]="true"
													   (ApiResponse)="uploadInvoice($event)"
													   [config]="uploadInvoiceConfig">
								</angular-file-uploader>
							</div>
							<div class="col-md-12">
								<div class="table-responsive">
									<table class="table">
										<thead>
										<tr>
											<th nowrap>Uploaded At</th>
											<th nowrap>Name</th>
											<th nowrap>Added By</th>
											<th nowrap>Action</th>
										</tr>
										</thead>
										<tbody>

										<tr *ngIf="bookingInvoices.length<=0">
											<td colspan="4" class="text-center">
												<label>No records found</label>
											</td>
										</tr>

										<tr *ngFor="let item of bookingInvoices">
											<td>{{item.created_at| date:'dd-MM-yyyy h:mm a'}}</td>
											<td>
												{{item.name}}
											</td>
											<td>{{item.user_name}}</td>
											<td>
												<a [href]="serverUrl+item.file_path" class="btn btn-primary btn-sm"
												   target="_blank">
													Open
												</a>

												<a href="javascript:;" class="m--margin-left-10 btn btn-danger btn-sm"
												   *ngIf="!newInquiry.isReadOnly && allowRemoveInvoice" (click)="removeBookingInvoice(item)">
													<i class="fa fa-times"></i>
												</a>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer no-side-padding">
						<mat-spinner [diameter]="25"
									 *ngIf="isSaving || isLoadingPayments || isDeletePayment || isLoadingInvoices || isLoadingNotes || isDeleteNote">
						</mat-spinner>

						<button type="button" class="btn btn-secondary" (click)="goBack()">
							Back
						</button>

						<button type="button" class="btn btn-secondary pull-right" (click)="closeDialog()">
							Close
						</button>
					</div>
				</form>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>


<ng-template #historyModal let-c="close" let-d="dismiss">
	<div class="modal-header m--padding-bottom-5">
		<h4 class="modal-title">History</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-lg-12" *ngIf="false">
				<div id="tracking-pre"></div>
				<div id="tracking">
					<div class="tracking-list">
						<div class="tracking-item" *ngFor="let history of histories">
							<div class="tracking-icon status-intransit">
								<svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas"
									 data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
									 viewBox="0 0 512 512" data-fa-i2svg="">
									<path fill="currentColor"
										  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
								</svg>
								<!-- <i class="fas fa-circle"></i> -->
							</div>
							<div class="tracking-date">{{history.created_at | date:'dd LLL yyyy'}}
								<span>{{history.created_at | date:'shortTime'}}</span>
							</div>
							<div class="tracking-content">
								{{history.body}}
								<span>
                                    By {{history.actor.name}}
                                </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="max-height: 400px;    overflow: auto;">
				<ul class="timeline">
					<li *ngFor="let history of histories">
                        <span class="time-line-date">
                            {{history.created_at | date:'dd LLL yyyy'}}
                        </span>
						<span class="float-right">{{history.created_at | date:'shortTime'}}</span>
						<p class="m--margin-top-5">
							<span [innerHTML]="history.body"></span> by
							<span *ngIf="loggedInUser.id===history.actor_id">You</span>
							<span *ngIf="loggedInUser.id!==history.actor_id">{{history.actor.name}}</span>
						</p>
						<hr>
					</li>
				</ul>

			</div>
		</div>
	</div>
</ng-template>
