
<!--<iframe style="width: 100%" src="https://mytihr.in:8444/public/dashboard/01093871-4802-4c98-b314-eee51a8dfdf5"
        frameborder="0" width="800" height="900" allowtransparency></iframe>-->

<iframe style="width: 100%" [src]="url" frameborder="0" width="800" height="900" allowtransparency></iframe>
