<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Tax Detail
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #taxDetailForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>


                <div class="row">
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="currentRecord.name" name="type_name" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Short Code</mat-label>
                            <input matInput [(ngModel)]="currentRecord.code" name="type_code" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <input matInput [(ngModel)]="currentRecord.apply_from" [matDatepicker]="apply_from"
                                   (dateChange)="dateChangeEvent('apply_from')"
                                   placeholder="Apply From Date" name="apply_from" required>
                            <mat-datepicker-toggle matSuffix [for]="apply_from"></mat-datepicker-toggle>
                            <mat-datepicker #apply_from></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-select placeholder="Tax Type"
                                        [(ngModel)]="currentRecord.type" name="payment_mode"
                                        required>
                                <mat-option *ngFor="let itm of taxTypes" [value]="itm">
                                    {{itm}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-md-12" *ngIf="currentRecord.type==='Range'">
                        <i class="fa fa-plus text-primary fa-3x pull-right hand-cursor"
                           (click)="addTaxRange()"></i>
                    </div>
                </div>

                <div *ngIf="currentRecord.type==='Range'">
                    <div class="row" *ngFor="let range of currentRecord.ranges; index as index">

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>From AMount</mat-label>
                                <input matInput [(ngModel)]="range.from_amount" name="range_from_{{index}}" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>To AMount</mat-label>
                                <input matInput [(ngModel)]="range.to_amount" name="to_amount_{{index}}" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Tax Value</mat-label>
                                <input matInput [(ngModel)]="range.value" name="range_value_{{index}}" required>
                            </mat-form-field>
                        </div>

                        <div class="col-md-1">
                            <i class="fa fa-times fa-3x text-danger m--margin-top-15 hand-cursor"
                               (click)="removeTaxRange(index)">
                            </i>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group col-md-4"
                     *ngIf="currentRecord.type==='Flat' || currentRecord.type==='Percentage'">
                    <mat-form-field>
                        <mat-label>
                            Tax
                            <span *ngIf="currentRecord.type==='Flat'"> Amount</span>
                            <span *ngIf="currentRecord.type==='Percentage'"> %</span>
                        </mat-label>
                        <input matInput [(ngModel)]="currentRecord.value" name="tax_value" required>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                    <section>
                        <mat-checkbox class="example-margin m--margin-top-10" name="tax_value"
                                      [(ngModel)]="currentRecord.is_enabled">
                            Enable
                        </mat-checkbox>
                    </section>
                </div>

                <div class="form-group col-md-4">
                    <section>
                        <mat-checkbox class="example-margin m--margin-top-10" name="is_auto_add"
                                      [(ngModel)]="currentRecord.is_auto_add">
                            Auto Add To Booking
                        </mat-checkbox>
                    </section>
                </div>
            </div>
            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>

                <button type="button" class="btn m-btn--sm btn-primary pull-right"
                        [disabled]="taxDetailForm.invalid || isSaving"
                        (click)="save()">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
