<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Holiday Detail
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #hodidayDetailForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="row">
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput name="meal_plan_name" id="meal_plan_name"
                                   autocomplete="off"
                                   [(ngModel)]="currentRecord.name" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Short Code</mat-label>
                            <input matInput name="meal_plan_code" id="meal_plan_code"
                                   autocomplete="off"
                                   [(ngModel)]="currentRecord.code" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <input matInput [(ngModel)]="currentRecord.from_date"
                                   [matDatepicker]="from_date"
                                   (dateChange)="dateChangeEvent('from_date')"
                                   placeholder="From Date" name="from_date" required>
                            <mat-datepicker-toggle matSuffix [for]="from_date"></mat-datepicker-toggle>
                            <mat-datepicker #from_date></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-4">
                        <mat-form-field>
                            <input matInput [(ngModel)]="currentRecord.to_date"
                                   [matDatepicker]="to_date"
                                   (dateChange)="dateChangeEvent('to_date')"
                                   placeholder="To Date" name="to_date" required>
                            <mat-datepicker-toggle matSuffix [for]="to_date"></mat-datepicker-toggle>
                            <mat-datepicker #to_date></mat-datepicker>
                        </mat-form-field>
                    </div>

                    <div class="col-md-4">
                        <mat-label>Color </mat-label>
                        <mcc-color-picker (selected)="currentRecord.color_code = $event"
                                          [selectedColor]="currentRecord.color_code"
                                          [hideHexForms]="true" [hideUsedColors]="true" [btnCancel]="'Close'"
                                          [btnConfirm]="'Ok'">
                        </mcc-color-picker>
                    </div>

                </div>

            </div>
            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>

                <button type="button" class="btn m-btn--sm btn-primary pull-right"
                        [disabled]="hodidayDetailForm.invalid || isSaving"
                        (click)="saveHoliday()">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>