<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving,
     'm-portlet--body-progress-overlay' : isSaving }">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Company Detail
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <form #orgDetailForm="ngForm">
        <div class="m-portlet__body m--padding-top-5">

            <div class="m-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput [(ngModel)]="currentRecord.name" name="hotel_name" required>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Code</mat-label>
                        <input matInput [(ngModel)]="currentRecord.code" name="hotel_code" required>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-8">
                    <mat-form-field>
                        <mat-label>Address</mat-label>
                        <input matInput [(ngModel)]="currentRecord.address" name="address">
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-label>GSTN</mat-label>
                        <input matInput [(ngModel)]="currentRecord.gstn" name="GSTN">
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-label>PAN</mat-label>
                        <input matInput [(ngModel)]="currentRecord.pan" name="pan">
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-label>CIN</mat-label>
                        <input matInput [(ngModel)]="currentRecord.cin" name="cin">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-label>PG Name</mat-label>
                        <input matInput [(ngModel)]="currentRecord.pg_name" name="pg_name">
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-label>PG En Key</mat-label>
                        <input matInput [(ngModel)]="currentRecord.pg_en_key" name="pg_en_key">
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-label>PG Hash Key</mat-label>
                        <input matInput [(ngModel)]="currentRecord.pg_hash_key" name="pg_hash_key">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-md" (click)="closeDialog()">
                Close
            </button>
            <button type="button" color="primary"
                    (click)="save()"
                    [disabled]="orgDetailForm.invalid || isSaving"
                    class="btn btn-primary btn-md">
                Save
            </button>
        </div>
    </form>
</div>
