<div
	class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-grid--hor-tablet-and-mobile m-login m-login--6"
	id="m_login">
	<div class="m-grid__item   m-grid__item--order-tablet-and-mobile-2 m-grid m-grid--hor m-login__aside"
		 style="background-image: url(assets/app/media/img/bg/bg-4.jpg);">
		<div class="m-grid__item">
			<div class="m-login__logo text-center">
				<a href="#">
					<!--                    <img src="./assets/app/media/img/logos/logo.png">-->

				</a>
			</div>
		</div>

		<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver">
			<div class="m-grid__item m-grid__item--middle" style="flex: inherit;    text-align: center;">
				<img src="./assets/app/media/img/logos/logo-text.png">
				<span class="m-login__title text-center">
					<b><br>Welcome <br> to <br>Trulyy HMS </b>
				</span>
				<!--                <span class="m-login__subtitle">-->
				<!--                    Trulyy India Hotels and Resorts is a chain of boutique properties in some of the most beautiful locations in India.-->
				<!--                </span>-->
			</div>
		</div>

		<div class="m-grid__item">
			<div class="m-login__info">
				<div class="m-login__section">
					<a href="javascript:;" class="m-link">&copy; {{today | date:'yyyy'}} Trulyy India</a>
				</div>
				<!--<div class="m-login__section">
                    <a href="javascript:;" class="m-link">Privacy</a>
                    <a href="javascript:;" class="m-link">Legal</a>
                    <a href="javascript:;" class="m-link">Contact</a>
                </div>-->
			</div>
		</div>
	</div>

	<div class="m-grid__item m-grid__item--fluid  m-grid__item--order-tablet-and-mobile-1 m-login__wrapper">
		<!--begin::Head-->
		<!--<div class="m-login__head">-->
		<!--<span translate="AUTH.GENERAL.NO_ACCOUNT">Don't have an account?</span>-->
		<!--<a href="javascript:;" (click)="register()" class="m-link m&#45;&#45;font-danger"-->
		<!--translate="AUTH.GENERAL.SIGNUP_BUTTON">Sign Up</a>-->
		<!--</div>-->
		<!--end::Head-->

		<!--begin::Body-->
		<div class="m-login__body">
			<m-login class="login-component" *ngIf="action === 'login'" [(action)]="action"></m-login>

			<m-register *ngIf="action === 'register'" [(action)]="action"></m-register>

			<m-forgot-password class="login-component" *ngIf="action === 'forgot-password'"
							   [(action)]="action"></m-forgot-password>
		</div>
		<!--end::Body-->
	</div>
</div>
