<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Meal Plan
                </h4>

                <button mat-mini-fab color="primary" class="m--margin-left-5-mobile btn-sm"
                        (click)="openEntryForm(mealPlanDetailModel)"
                        matTooltip="Create New">
                    <i class="fa fa-plus fa-2x"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #amenityTypesForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="mat-table__wrapper">

                    <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                        </ng-container>


                        <!-- Code Column -->
                        <ng-container matColumnDef="code">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.code}}</mat-cell>
                        </ng-container>

                        <!-- Differential Price Column -->
                        <ng-container matColumnDef="price">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Differential Price</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.price | currency:'INR'}}</mat-cell>
                        </ng-container>


                        <!-- Action Column -->
                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="mat-cell-right">
                                <button mat-icon-button color="primary" matTooltip="Edit"
                                        (click)="openEntryForm(mealPlanDetailModel,element)">
                                    <mat-icon>create</mat-icon>
                                </button>&nbsp;
                                <button mat-icon-button color="warn" matTooltip="Delete" type="button"
                                        (click)="deleteRecord(element)">
                                    <mat-icon>delete</mat-icon>
                                </button>&nbsp;
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <div class="mat-table__message" *ngIf="!dataSource.hasItems">
                        No records found
                    </div>
                </div>
                <div class="mat-table__bottom">
                    <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                    <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                                   [showFirstLastButtons]="true"
                                   [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
                </div>
            </div>
            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>
            </div>
        </form>
    </div>
</div>


<ng-template #mealPlanDetailModel let-c="close" let-d="dismiss">
    <div class="modal-header m--padding-bottom-5">
        <h5 class="modal-title">
            Meal Plan Detail
        </h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #mealPlanForm="ngForm">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput name="meal_plan_name" id="meal_plan_name"
                               autocomplete="off"
                               [(ngModel)]="currentRecord.name" required>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Short Code</mat-label>
                        <input matInput name="meal_plan_code" id="meal_plan_code"
                               autocomplete="off"
                               [(ngModel)]="currentRecord.code" required>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Differential Price</mat-label>
                        <input matInput name="diff_price" id="diff_price"
                               autocomplete="off"
                               pattern="[0-9]+([\.,][0-9]+)?"
                               [(ngModel)]="currentRecord.price" required>
                    </mat-form-field>
                </div>


                <div class="col-md-12">
                    <label>Assign Meal Plan On</label>
                </div>
                <div class="form-group col-md-4">
                    <section>
                        <mat-label>Check In&nbsp;&nbsp;</mat-label>
                        <mat-checkbox name="on_check_in"
                                      [(ngModel)]="currentRecord.on_check_in">
                        </mat-checkbox>
                    </section>
                </div>

                <div class="form-group col-md-4">
                    <section>
                        <mat-label>Check Out &nbsp;</mat-label>
                        <mat-checkbox name="on_check_out"
                                      [(ngModel)]="currentRecord.on_check_out">
                        </mat-checkbox>
                    </section>
                </div>

                <div class="form-group col-md-4">
                    <section>
                        <mat-label>Stay Over &nbsp;</mat-label>
                        <mat-checkbox name="on_stay_over"
                                      [(ngModel)]="currentRecord.on_stay_over">
                        </mat-checkbox>
                    </section>
                </div>

                <div class="col-md-12">
                    <label>Rate Type</label>
                </div>

                <div class="form-group col-md-4">
                    <section>
                        <mat-label>Room Rate &nbsp;</mat-label>
                        <mat-checkbox name="room_rate"
                                      [(ngModel)]="currentRecord.room_rate">
                        </mat-checkbox>
                    </section>
                </div>

                <div class="form-group col-md-4">
                    <section>
                        <mat-label>Extra Charge &nbsp;</mat-label>
                        <mat-checkbox name="extra_charge"
                                      [(ngModel)]="currentRecord.extra_charge">
                        </mat-checkbox>
                    </section>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-md" #closeBtn (click)="c('Close click')">
                Close
            </button>
            <button type="button"
                    [disabled]="mealPlanForm.invalid || isSaving"
                    class="btn btn-primary btn-md" (click)="save()">
                Save
            </button>
        </div>
    </form>
</ng-template>
