<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving,
     'm-portlet--body-progress-overlay' : isSaving }">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Template Detail
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <form #hotelDetailForm="ngForm">
        <div class="m-portlet__body m--padding-top-5">

            <div class="m-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Template Name</mat-label>
                        <input matInput [(ngModel)]="currentRecord.name"
                               [disabled]="currentRecord.is_system"
                               name="template_name" required>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Email Subject</mat-label>
                        <input matInput [(ngModel)]="currentRecord.email_subject" name="email_subject" required>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-label>Send To</mat-label>
                        <input matInput [(ngModel)]="currentRecord.send_to" placeholder="first@tihr.com,second@tihr.com"
                               name="send_to" required>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-label>Reply To</mat-label>
                        <input matInput [(ngModel)]="currentRecord.reply_to" placeholder="first@tihr.com"
                               name="reply_to">
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-label>Cc</mat-label>
                        <input matInput [(ngModel)]="currentRecord.email_cc"
                               placeholder="first@tihr.com,second@tihr.com"
                               name="email_cc">
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Module" [(ngModel)]="currentRecord.module" name="module"
                                    (selectionChange)="changeModule()"
                                    required>
                            <mat-option *ngFor="let item of modules" [value]="item.name">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Associated Module" [(ngModel)]="selectedAssociatedModule"
                                    name="selectedAssociatedModule"
                                    [disabled]="currentRecord.module === 'All'">
                            <mat-option *ngFor="let item of associatedModules" [value]="item">
                                <span *ngIf="item">{{item.name}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-select placeholder="Module Fields" [(ngModel)]="selectedAssociatedModuleField"
                                    (selectionChange)="changeAssociateModuleField()"
                                    name="selectedAssociatedModuleField"
                                    [disabled]="currentRecord.module === 'All'">
                            <mat-option *ngFor="let item of selectedAssociatedModule.fields" [value]="item">
                                <span *ngIf="item">{{item.name}}</span>
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <mat-form-field>
                        <mat-label>Field Value</mat-label>
                        <input matInput [(ngModel)]="selectedAssociatedModuleFieldValue"
                               [disabled]="currentRecord.module === 'All'"
                               name="selectedAssociatedModuleFieldValue">
                    </mat-form-field>
                </div>

                <div class="form-group col-md-4">
                    <button class="btn btn-primary btn-sm pull-left" (click)="appendText()"
                            [disabled]="currentRecord.module === 'All' || !currentRecord.module  || !selectedAssociatedModuleFieldValue">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </div>

                <div class="form-group col-md-12">
                    <!--<angular-editor name="htmlContent" [(ngModel)]="currentRecord.content"-->
                    <!--[config]="config"></angular-editor>-->
                    <!--<ckeditor [editor]="Editor" data="<p>Hello world!</p>" ></ckeditor>-->

                    <!--<ck-editor #ckEditor="ckEditor" name="editor1" [config]="config" [(ngModel)]="currentRecord.content"-->
                    <!--skin="moono-lisa" language="en" [fullPage]="true"></ck-editor>-->

                    <div [summernoteModel]="currentRecord.content" id="summernote" [ngxSummernote]="ngxConfig"
                         (summernoteModelChange)="changeTemplateContent($event)"></div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDialog()">
                Close
            </button>
            <button type="button" color="primary"
                    (click)="save()"
                    [disabled]="hotelDetailForm.invalid || isSaving  || !currentRecord.content"
                    class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>
