<div *ngIf="isInitilized">
    <div class="m-portlet">
        <div class="m-portlet__body m-portlet__body--no-padding">
            <div class="row">
                <div class="col-xl-12">
                    <div class="col-xl-2 col-lg-2  col-md-4 col-12  m--margin-top-10 pull-right">
                        <mat-form-field>
                            <mat-label>Date</mat-label>
                            <input matInput type="text" name="daterangeInput" daterangepicker [options]="dateOptions"
                                   (selected)="selectedDate($event)"/>
                            <mat-icon matSuffix>date_range</mat-icon>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="row m-row--no-padding m-row--col-separator-xl">
                <div class="col-xl-4">
                    <m-inq-stat [fromDate]="chartSettings.fromDate" [toDate]="chartSettings.toDate"></m-inq-stat>
                </div>
                <div class="col-xl-8">
                    <m-sales-outstanding-chart [fromDate]="chartSettings.fromDate" [toDate]="chartSettings.toDate">
                    </m-sales-outstanding-chart>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-4">
            <m-target-sales-chart [fromDate]="chartSettings.fromDate" [toDate]="chartSettings.toDate">
            </m-target-sales-chart>
        </div>

        <div class="col-xl-8">
            <m-tasks></m-tasks>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <m-pending-approval></m-pending-approval>
        </div>
    </div>
<!--    <div class="row">-->
<!--        <div class="col-xl-12">-->
<!--            <iframe style="width: 100%" src="https://development.mytihr.in:8444/public/dashboard/b1f6dd56-1aca-47d6-a27f-5b4d32b0947c"-->
<!--                    frameborder="0" width="800" height="600" allowtransparency></iframe>-->
<!--        </div>-->
<!--    </div>-->
</div>


<ng-template #inquiryReminderModal let-c="close" let-d="dismiss">
    <div class="modal-header m--padding-bottom-5">
        <h4 class="modal-title">Inquiry Reminders</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row" style="max-height: 400px;    overflow: auto;">
            <div class="m-widget4">
                <label *ngIf="inquiryReminders.length<1">No Reminders</label>
                <div class="m-widget4__item" *ngFor="let reminder of inquiryReminders">
                    <div class="m-widget4__info">
                        <span class="m-widget4__title">
                            <a href="javascript:;" [routerLink]="['/booking/'+reminder.id]"
                               (click)="d('Cross click')">
                                 {{reminder.iqId}} - {{reminder.name}}
                            </a>
                            <span class="pull-right">
                                <i class="fas fa-phone-square"></i> {{reminder.phone}}
                            </span>
                        </span>
                        <br>
                        <span class="m-widget4__sub m--margin-right-5">
                                    Check In Date: {{reminder.inquiry_date | date:'dd-MM-yyyy'}}
                             </span>
                        <span class="m-widget4__sub m--margin-right-5">
                            Check Out Date: {{reminder.check_out_date | date:'dd-MM-yyyy'}}
                        </span>
                        <span class="m-widget4__sub m--margin-right-5" *ngIf="reminder.release_date">
                                    Release Date: {{reminder.release_date | date:'dd-MM-yyyy'}}
                             </span>
                        <span class="m-widget4__sub m--margin-right-5">
                                    Status: {{reminder.status_name}}
                             </span>
                        <span class="m-widget4__sub m--margin-right-5">
                                    Rooms: {{reminder.rooms}}
                             </span>
                        <span class="m-widget4__sub m--margin-right-5" *ngIf="reminder.company_type">
                            <span *ngIf="(reminder.company_type==0  || reminder.company_type=='0') else companyName">Travel Agent</span>
                            <ng-template #companyName>Company</ng-template>: {{reminder.company_name}}
                         </span>
                        <span class="m-widget4__sub m--margin-right-5">
                                    Hotel: {{reminder.hotel_code}}
                             </span>
                        <br>

                    </div>
                    <div class="m-widget4__ext">
                        <span class="m-widget4__number m--font-brand m--hide">
                                    {{reminder.offer_rate | currency:'INR'}}
                        </span>
                        <div style="min-width: 50px">
                            <!--<button class="btn btn-primary btn-sm m&#45;&#45;margin-right-5">-->
                            <i class="fas fa-clock  m--margin-right-5 text-primary hand-cursor"
                               *ngIf="!reminder.updating" matTooltip="Snooze"
                               (click)="updateReminderStatus(reminder,2)"></i>
                            <!--</button>-->
                            <!--<button class="btn btn-danger btn-sm">-->
                            <i class="fas fa-trash text-danger hand-cursor" *ngIf="!reminder.updating"
                               matTooltip="Delete Reminder"
                               (click)="updateReminderStatus(reminder,3)"></i>
                            <!--</button>-->

                            <i class="fas  fa-circle-notch fa-3x fa-spin text-primary" *ngIf="reminder.updating"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
