<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving,
     'm-portlet--body-progress-overlay' : isSaving }">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Company
                </h4>

                <a href="javascript:;" class="m--margin-right-5" *ngIf="companyRecord.id"
                   (click)="openHistory(historyModal)"
                   matTooltip="Show history">
                    <i class="fa fa-history text-success fa-3x pull-right"></i>
                </a>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <form #companyDetailForm="ngForm">
        <div class="m-portlet__body m--padding-top-5">

            <div class="m-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>
            <mat-tab-group>
                <mat-tab label="Basic Detail">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <mat-radio-group [(ngModel)]="companyRecord.type" name="type"
                                             [disabled]="companyRecord.isReadOnly">
                                <mat-radio-button class="text-primary" name="type" *ngFor="let itm of types"
                                                  [value]="itm.id">
                                    <b>{{itm.name}}</b>
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>Company Name</mat-label>
                                <input matInput [(ngModel)]="companyRecord.name" [disabled]="companyRecord.isReadOnly"
                                       name="company_name" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>Person Name</mat-label>
                                <input matInput [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.person_name" name="person_name" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-label>Designation</mat-label>
                                <input matInput [(ngModel)]="companyRecord.designation"
                                       [disabled]="companyRecord.isReadOnly" name="designation" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Address</mat-label>
                                <input matInput [(ngModel)]="companyRecord.address" name="address1"
                                       [disabled]="companyRecord.isReadOnly" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Address2</mat-label>
                                <input matInput [(ngModel)]="companyRecord.address2"
                                       [disabled]="companyRecord.isReadOnly" name="address2">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Country"
                                            (selectionChange)="loadStates()" [disabled]="companyRecord.isReadOnly"
                                            [(ngModel)]="companyRecord.country_id" name="country_id"
                                            required>
                                    <mat-option *ngFor="let item of countries" [value]="item.id">{{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="State" [disabled]="companyRecord.isReadOnly"
                                            (selectionChange)="loadCities()"
                                            [(ngModel)]="companyRecord.state_id" name="state_id"
                                            required>
                                    <mat-option *ngFor="let item of states" [value]="item.id">{{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="City" [disabled]="companyRecord.isReadOnly"
                                            [(ngModel)]="companyRecord.city_id" name="city_id"
                                            required>
                                    <mat-option *ngFor="let item of cities" [value]="item.id">{{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Zip</mat-label>
                                <input matInput minlength="5" maxlength="6" pattern="^[0-9]+"
                                       [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.zip_code" name="zip_code">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Phone</mat-label>
                                <input matInput [(ngModel)]="companyRecord.phone" [disabled]="companyRecord.isReadOnly"
                                       name="phone">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Mobile</mat-label>
                                <input type="text" minlength="10" maxlength="10" pattern="^[6-9][0-9]+" matInput
                                       [(ngModel)]="companyRecord.mobile" [disabled]="companyRecord.isReadOnly"
                                       name="mobile" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Fax</mat-label>
                                <input matInput [(ngModel)]="companyRecord.fax" name="fax"
                                       [disabled]="companyRecord.isReadOnly">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Email</mat-label>
                                <input matInput name="email" [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.email"
                                       email="true" required>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Room Inventory" [disabled]="companyRecord.isReadOnly"
                                            [(ngModel)]="companyRecord.room_inventory_type" name="room_inventory">
                                    <mat-option *ngFor="let item of roomInventories" [value]="item.id">{{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Rate Type" [disabled]="companyRecord.isReadOnly"
                                            [(ngModel)]="companyRecord.rate_type" name="rate_type">
                                    <mat-option *ngFor="let item of rateTypes" [value]="item.id">{{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3" *ngIf="companyRecord.type!==1">
                            <mat-form-field>
                                <mat-select placeholder="Industry" [disabled]="companyRecord.isReadOnly"
                                            [(ngModel)]="companyRecord.industry_id" name="industry_id">
                                    <mat-option *ngFor="let item of industries" [value]="item.id">{{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Category" [disabled]="companyRecord.isReadOnly"
                                            [(ngModel)]="companyRecord.category_id" name="category">
                                    <mat-option *ngFor="let item of categories" [value]="item.id">{{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Rate Source" [disabled]="companyRecord.isReadOnly"
                                            [(ngModel)]="companyRecord.rate_source_id" name="rate_source_id">
                                    <mat-option *ngFor="let item of rateSources" [value]="item.id">{{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Opening Balance</mat-label>
                                <input type="number" min="0" matInput [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.opening_balance" name="reg_no">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3 m--margin-top-15">
                            <section class="example-section">
                                <mat-label>Is Credit List&nbsp;</mat-label>
                                <mat-checkbox class="example-margin" name="is_credit_list"
                                              [disabled]="companyRecord.isReadOnly"
                                              [(ngModel)]="companyRecord.is_credit_list">
                                </mat-checkbox>
                            </section>
                        </div>

                        <div class="form-group col-md-3" *ngIf="companyRecord.is_credit_list">
                            <mat-form-field>
                                <mat-label>Credit Days</mat-label>
                                <input matInput minlength="1" maxlength="4" pattern="^[0-9]+"
                                       [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.credit_days" name="credit_days">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-2 m--margin-top-15"
                             *ngIf="(isCreditApproveRight || (companyRecord.isReadOnly && companyRecord.credit_approved)) && companyRecord.is_credit_list">
                            <section class="example-section">
                                <mat-label>Credit&nbsp;Approve
                                    <mat-checkbox class="example-margin" name="credit_approved"
                                                  [disabled]="companyRecord.isReadOnly"
                                                  [(ngModel)]="companyRecord.credit_approved">
                                    </mat-checkbox>
                                </mat-label>
                            </section>
                        </div>

                        <div class="form-group col-md-2 m--margin-top-15"
                             *ngIf="companyRecord.approved_by && companyRecord.credit_approved ">
                            <mat-form-field>
                                <mat-label>Approved By</mat-label>
                                <input type="text" matInput disabled
                                       [(ngModel)]="companyRecord.approved_by"
                                       name="approved_by_name">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="More Details">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>GST Number</mat-label>
                                <input type="text" matInput [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.gst_number"
                                       name="gst_number">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>ARN Number</mat-label>
                                <input type="text" matInput [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.arn_number"
                                       name="gst_number">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Company Name</mat-label>
                                <input type="text" matInput [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.reg_company_name"
                                       name="reg_company_name">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Registration No.</mat-label>
                                <input matInput [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.registration_no" name="reg_no">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Registered Address</mat-label>
                                <input type="text" matInput [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.reg_address"
                                       name="reg_address">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Registered Address2</mat-label>
                                <input type="text" matInput [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.reg_address2"
                                       name="reg_address2">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Registered State</mat-label>
                                <input type="text" matInput [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.reg_state"
                                       name="reg_state">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Registered PinCode</mat-label>
                                <input type="text" matInput [disabled]="companyRecord.isReadOnly"
                                       [(ngModel)]="companyRecord.reg_pin_code"
                                       name="reg_company">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Web Url</mat-label>
                                <input type="text" matInput pattern="https?://.+"
                                       [(ngModel)]="companyRecord.web_ulr" [disabled]="companyRecord.isReadOnly"
                                       name="web_ulr">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Instagram Url</mat-label>
                                <input type="text" matInput pattern="https?://.+"
                                       [(ngModel)]="companyRecord.instagram_url" [disabled]="companyRecord.isReadOnly"
                                       name="instagram_url">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Linkedin Url</mat-label>
                                <input type="text" matInput pattern="https?://.+"
                                       [(ngModel)]="companyRecord.linkedin_url"
                                       [disabled]="companyRecord.isReadOnly" name="linkedin_url">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Facebook Url</mat-label>
                                <input type="text" matInput pattern="https?://.+"
                                       [(ngModel)]="companyRecord.fb_url"
                                       name="fb_url" [disabled]="companyRecord.isReadOnly">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-label>Twitter Url</mat-label>
                                <input type="text" matInput pattern="https?://.+"
                                       [(ngModel)]="companyRecord.twitter_url"
                                       name="twitter_url" [disabled]="companyRecord.isReadOnly">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="modal-footer">
            <div class="col-md-6">
                <div class="text-gray hand-cursor" *ngIf="companyRecord.id">
                    <small [matTooltip]="companyRecord.updated_at | date:'dd-MM-yyyy h:mm a'">
                        Updated At: {{companyRecord.updated_at | mTimeElapsed}} ago
                    </small>
                </div>
                <div class="text-gray hand-cursor" *ngIf="companyRecord.id">
                    <small [matTooltip]="companyRecord.created_at | date:'dd-MM-yyyy h:mm a'">
                        Created At: {{companyRecord.created_at | mTimeElapsed}} ago
                    </small>
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-secondary pull-right" (click)="closeDialog()">
                    Close
                </button>
                <button type="button" class="btn btn-primary pull-right m--margin-right-5"
                        (click)="checkForDuplicateRecord()" *ngIf="!companyRecord.isReadOnly"
                        [disabled]="companyDetailForm.invalid || isSaving">
                    Save
                </button>
            </div>
        </div>
    </form>
</div>


<ng-template #historyModal let-c="close" let-d="dismiss">
    <div class="modal-header m--padding-bottom-5">
        <h4 class="modal-title">History</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-lg-12" *ngIf="false">
                <div id="tracking-pre"></div>
                <div id="tracking">
                    <div class="tracking-list">
                        <div class="tracking-item" *ngFor="let history of histories">
                            <div class="tracking-icon status-intransit">
                                <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas"
                                     data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
                                </svg>
                                <!-- <i class="fas fa-circle"></i> -->
                            </div>
                            <div class="tracking-date">{{history.created_at | date:'dd LLL yyyy'}}
                                <span>{{history.created_at | date:'shortTime'}}</span>
                            </div>
                            <div class="tracking-content">
                                {{history.body}}
                                <span>
                                    By {{history.actor.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="max-height: 400px;    overflow: auto;">
                <ul class="timeline">
                    <li *ngFor="let history of histories">
                        <span class="time-line-date">
                            {{history.created_at | date:'dd LLL yyyy'}}
                        </span>
                        <span class="float-right">{{history.created_at | date:'shortTime'}}</span>
                        <p class="m--margin-top-5">
                            {{history.body}} by
                            <span *ngIf="loggedInUser.id===history.actor_id">You</span>
                            <span *ngIf="loggedInUser.id!==history.actor_id">{{history.actor.name}}</span>
                        </p>
                        <hr>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</ng-template>
