<div class="row">
    <div class="col-md-12">
        <ngb-alert [dismissible]="false" [type]="'default'">
            <strong class="text-danger">Basic Settings</strong>
        </ngb-alert>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showApplicationSettings()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-cogs text-warning"></i>
                    <b> App Settings</b>
                </mat-card-title>
                <mat-card-subtitle>
                    App Variable value Settings
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showDynamicDashboards()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-chart-bar text-warning"></i>
                    <b> Dynamic Dashboards </b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Dynamic Dashboards
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

	<div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showUnitExpenses()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-money-bill text-warning"></i>
                    <b> Unit Expenses </b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Expenses
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-12">
        <ngb-alert [dismissible]="false" [type]="'default'">
            <strong class="text-danger">Company Settings</strong>
        </ngb-alert>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showIndustries()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-industry text-warning"></i>
                    <b> Industries </b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Industries
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showCategories()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-list-alt text-warning"></i>
                    <b> Categories </b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Categories
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-12">
        <ngb-alert [dismissible]="false" [type]="'default'">
            <strong class="text-danger">Inquiry Settings</strong>
        </ngb-alert>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showSources()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-list-alt text-warning"></i>
                    <b> Sources </b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Sources
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
	</div>

	<div class="col-md-3">
		<mat-card class="hand-cursor" (click)="showInquiryTypes()">
			<mat-card-header>
				<mat-card-title class="text-primary">
					<i class="fas fa-edit text-warning"></i>
					<b> Inquiry Types </b>
				</mat-card-title>
				<mat-card-subtitle>
					Manage Inquiry Types
				</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
	</div>

	<div class="col-md-3">
		<mat-card class="hand-cursor" (click)="showInquiryStatuses()">
			<mat-card-header>
				<mat-card-title class="text-primary">
					<i class="fas fa-edit text-warning"></i>
					<b> Inquiry Statuses </b>
				</mat-card-title>
				<mat-card-subtitle>
					Manage Inquiry Statuses
				</mat-card-subtitle>
			</mat-card-header>
		</mat-card>
	</div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showInquiryPaymentStatuses()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-edit text-warning"></i>
                    <b> Inquiry Payment Statuses </b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Inquiry Payment Statuses
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <!--<div class="col-md-3">-->
    <!--<mat-card class="hand-cursor" (click)="showApplicationSettings()">-->
    <!--<mat-card-header>-->
    <!--<mat-card-title class="text-primary">-->
    <!--<i class="fas fa-cogs text-warning"></i>-->
    <!--<b> Rate & Inventory Sources</b>-->
    <!--</mat-card-title>-->
    <!--<mat-card-subtitle>-->
    <!--Inventory Sources-->
    <!--</mat-card-subtitle>-->
    <!--</mat-card-header>-->
    <!--</mat-card>-->
    <!--</div>-->


</div>

<div class="row">
    <div class="col-md-12">
        <ngb-alert [dismissible]="false" [type]="'default'">
            <strong class="text-danger">Global Master Settings</strong>
        </ngb-alert>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showRoomTypes()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-door-closed text-warning"></i>
                    <b> Room Types</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Room Types
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showBedTypes()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-bed fa-2x text-warning"></i>
                    <b> Bed Types</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Bed Types
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showAmenityTypes()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-shield-alt fa-2x text-warning"></i>
                    <b> Amenity Types</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Amenity Types
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showAmenities()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-shield-alt fa-2x text-warning"></i>
                    <b> Amenities</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Amenities
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showMealPlans()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-coffee text-warning"></i>
                    <b> Meal Plans</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Meal Plans
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showHolidays()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-plane-departure fa-2x text-warning"></i>
                    <b> Holidays</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Holidays
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showDiscounts()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-tags fa-2x text-warning"></i>
                    <b> Discounts</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Discounts
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showTaxes()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-percent text-warning"></i>
                    <b> Taxes</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Discounts
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showExtras()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-th-large text-warning"></i>
                    <b> Extras</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Extras
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showRateType()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-rupee-sign text-warning"></i>
                    <b> Rate Types</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Rate Types
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

    <div class="col-md-3">
        <mat-card class="hand-cursor" (click)="showPaymentModes()">
            <mat-card-header>
                <mat-card-title class="text-primary">
                    <i class="fas fa-th-large text-warning"></i>
                    <b> Payment Modes</b>
                </mat-card-title>
                <mat-card-subtitle>
                    Manage Payment Modes
                </mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>

</div>
