<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Extra Detail
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #extraDetailForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>


                <div class="row">
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="currentRecord.name" name="type_name" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Short Code</mat-label>
                            <input matInput [(ngModel)]="currentRecord.code" name="type_code" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Price</mat-label>
                            <input matInput pattern="[0-9]+([\.,][0-9]+)?"
                                   [(ngModel)]="currentRecord.price" name="price" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-select placeholder="Tax Structure"
                                        [(ngModel)]="currentRecord.tax_id" name="tax_id"
                                        required>
                                <mat-option *ngFor="let itm of taxes" [value]="itm.id">
                                    {{itm.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-12">
                        <mat-form-field>
                            <textarea matInput type="text" name="remark_note" [(ngModel)]="currentRecord.description"
                                      rows="2" placeholder="Description"
                                      id="remark_note" autocomplete="off"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-3 ">
                        <section>
                            <mat-label>Enable &nbsp;</mat-label>
                            <mat-checkbox name="is_enabled"
                                          [(ngModel)]="currentRecord.is_enabled">
                            </mat-checkbox>
                        </section>
                    </div>

                    <div class="form-group col-md-3 ">
                        <section>
                            <mat-label>Publish &nbsp;</mat-label>
                            <mat-checkbox name="is_publish"
                                          [(ngModel)]="currentRecord.is_publish">
                            </mat-checkbox>
                        </section>
                    </div>
                </div>

            </div>

            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>

                <button type="button" class="btn m-btn--sm btn-primary pull-right"
                        [disabled]="extraDetailForm.invalid || isSaving"
                        (click)="save()">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>