<m-portlet [options]="{headLarge: false}">
    <ng-container mPortletHeadTitle>
        <div class="m--margin-top-20 w-100">
            <div class="col-md-12">
                <h5>
                    Channel Manager Settings
                </h5>
            </div>
        </div>
    </ng-container>

    <ng-container mPortletHeadTools>
        <button type="button" class="btn btn-sm btn-primary pull-right"
                *ngIf="hotelMappings.length>0"
                [disabled]="isSaving || isLoading" (click)="saveHotelMappings()">
            Save
        </button>
        <label>&nbsp;</label>
    </ng-container>

    <ng-container mPortletBody>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field>
                    <mat-select placeholder="Hotel"
                                [(ngModel)]="currentHotel"
                                name="hotels" required (selectionChange)="loadMappingForHotel()">
                        <mat-option *ngFor="let item of hotels" [value]="item">
                            {{item.code}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <mat-spinner [diameter]="20" *ngIf="isLoading || isSaving"></mat-spinner>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table">
                        <tr *ngIf="hotelMappings.length===0 && !isLoading" class="bg-white">
                            <td colspan="11" class="text-center">
                                <span class="btncyan text-gray">No Rate Plans Available</span>
                            </td>
                        </tr>
                        <tbody *ngFor="let mapping of hotelMappings;let i=index">
                        <tr>
                            <td class="no-top-bottom-padding">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-lg-4">
                                        <label class="m--margin-top-10">
                                            <b>
                                                <span class="m--margin-right-5"> {{i + 1}}.</span>
                                                {{mapping.name}}
                                            </b>
                                        </label>
                                    </div>
                                    <div class="col-md-8 col-sm-6 col-lg-8">
                                        <div style="max-width: 300px">
                                            <mat-form-field>
                                                <mat-label>Room Type Map Id</mat-label>
                                                <input matInput name="room_type_map{{i}}"
                                                       [(ngModel)]="mapping.room_type_map_id">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let rp of mapping.ratePlans; let ind=index">
                            <td class="no-top-bottom-padding">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <label class="m--margin-top-10 ">
                                                            <span class="m--margin-right-5 m--margin-left-15">
                                                                {{ind + 1}}.
                                                            </span>
                                            {{rp.plan_name}}
                                        </label>
                                    </div>
                                </div>

                                <div class="row" *ngFor="let mealPlan of rp.meal_plans; let ind=index">
                                    <div class="col-md-4 col-sm-6 col-lg-4">
                                        <label class="m--margin-top-10 ">
                                                            <span class="m--margin-right-5 m--margin-left-35">{{ind + 1}}
                                                                .</span>
                                            {{mealPlan.meal_plan_name}}
                                        </label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div style="max-width: 300px">
                                            <mat-form-field>
                                                <mat-label>Rate Type Map Id</mat-label>
                                                <input matInput name="meal_plan_rate_map{{i}}"
                                                       [(ngModel)]="mealPlan.meal_plan_map_id">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div style="max-width: 300px">
                                            <mat-form-field>
                                                <mat-label>Rate Plan Map Id</mat-label>
                                                <input matInput name="rate_plan_map{{i}}"
                                                       [(ngModel)]="mealPlan.rate_plan_map_id">
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </ng-container>
</m-portlet>
