<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Inquiry Status Detail
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <form #inquiryPaymentStatusesForm="ngForm">
        <mat-tab-group [(selectedIndex)]="selectedTabIndex">
            <mat-tab label="Detail">
                <div class="m-portlet__body m--padding-top-5">
                    <div class="m-portlet__body-progress">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput name="name" id="name"
                                       autocomplete="off"
									   [disabled]="currentRecord.is_system"
                                       [(ngModel)]="currentRecord.name" required>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-12">
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <textarea matInput type="text" name="description"
                                          [(ngModel)]="currentRecord.description"
                                          matAutosizeMinRows="3"
                                          matAutosizeMaxRows="6"
                                          id="description" autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-3">
                            <section>
                                <mat-checkbox class="example-margin" name="is_confirmed"
                                              [(ngModel)]="currentRecord.is_confirmed"
                                              (change)="statusTypeChangeEvent('is_confirmed')"
                                              [disabled]="currentRecord.is_sold">
                                    Confirmed
                                </mat-checkbox>
                            </section>
                        </div>
                        <div class="form-group col-md-3">
                            <section>
                                <mat-checkbox class="example-margin" name="is_sold"
                                              [(ngModel)]="currentRecord.is_sold"
                                              (change)="statusTypeChangeEvent('is_sold')">
                                    Sold
                                </mat-checkbox>
                            </section>
                        </div>
                        <div class="form-group col-md-3">
                            <section>
                                <mat-checkbox class="example-margin" name="is_lost"
                                              [(ngModel)]="currentRecord.is_lost"
                                              (change)="statusTypeChangeEvent('is_lost')">
                                    Lost
                                </mat-checkbox>
                            </section>
                        </div>
                        <div class="form-group col-md-3">
                            <section>
                                <mat-checkbox class="example-margin" name="is_waitlisted"
                                              [(ngModel)]="currentRecord.is_waitlisted"
                                              (change)="statusTypeChangeEvent('is_waitlisted')">
                                    Waitlisted
                                </mat-checkbox>
                            </section>
                        </div>
                        <div class="form-group col-md-12">
                            <mcc-color-picker (selected)="currentRecord.color_code = $event"
                                              [selectedColor]="currentRecord.color_code"
                                              [hideHexForms]="true" [hideUsedColors]="true" [btnCancel]="'Close'"
                                              [btnConfirm]="'Ok'">
                            </mcc-color-picker>
                            <mat-label> Color</mat-label>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Sub Statuses">
                <div class="m-portlet__body m--padding-top-5">
                    <div class="m-portlet__body-progress">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form #inquirySubStatusDetailForm="ngForm">
                                <div class="row">
                                    <div class="form-group col-md-8">
                                        <mat-form-field>
                                            <mat-label>Name</mat-label>
                                            <input matInput [(ngModel)]="currentInquirySubStatus.name"
                                                   name="name" required> <!-- pattern="[0-9]+([0-9]+)?" -->
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <button type="button"
                                                class="btn btn-sm m-btn--sm pull-left m--margin-right-5 btn-primary"
                                                [disabled]="inquirySubStatusDetailForm.invalid || isSaving"
                                                (click)="saveInquirySubStatus(currentInquirySubStatus)">
                                            Save
                                        </button>

                                        <button type="button"
                                                class="btn btn-secondary btn-sm m-btn--sm pull-left"
                                                (click)="resetInquirySubStatus()">
                                            Reset
                                        </button>


                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th style="width: 65px">
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngIf="currentRecord.sub_statuses.length===0">
                                        <td colspan="4" class="text-center">
                                            <label>No inquiry sub status added</label>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let inquirySubStatus of currentRecord.sub_statuses">
                                        <td>
                                            {{inquirySubStatus.name}}
                                        </td>
                                        <td>
                                            <i class="fas fa-pen-square text-primary m--margin-right-5 hand-cursor"
                                               style="font-size: 15px"
                                               (click)="editInquirySubStatus(inquirySubStatus)"></i>

                                            <i class="fas fa-trash text-danger hand-cursor" style="font-size: 15px"
                                               (click)="deleteInquirySubStatus(inquirySubStatus)"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="selectTab(0)" *ngIf="selectedTabIndex!=0">
                Previous
            </button>
            <button type="button" class="btn btn-secondary" (click)="closeDialog()">
                Close
            </button>
            <button type="button" color="primary"
                    (click)="save()"
                    [disabled]="inquiryPaymentStatusesForm.invalid || isSaving"
                    class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>
