<m-portlet [options]="{headLarge: false}" [loading$]="dataSource.loading$">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title w-100">
            <h3 class="m-portlet__head-text">
                Leads
            </h3>
        </div>
    </ng-container>

    <ng-container mPortletHeadTools>
        <button *ngxPermissionsOnly="['leads-add']" mat-mini-fab color="primary" class="m--margin-left-5-mobile"
                matTooltip="Create New" (click)="openDetailForm()">
            <i class="fa fa-plus fa-2x"></i>
        </button>
        <label>&nbsp;</label>
    </ng-container>

    <ng-container mPortletBody>
        <div>
            <div class="row">
                <div class="col-md-3">
                    <mat-form-field>
                        <input class="pull-right w-100" matInput #searchInput
                               (keyup)="applyFilter($event.target.value)"
                               placeholder="Search">
                    </mat-form-field>
                </div>
            </div>
            <div perfectScrollbar class="mat-table__wrapper mat-table__wrapper--dashboard">
                <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                          [checked]="selection.hasValue() && isAllSelected()"
                                          [indeterminate]="selection.hasValue() && !isAllSelected()">
                            </mat-checkbox>

                        </mat-header-cell>
                        <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                          (change)="$event ? selection.toggle(row) : null"
                                          [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <!-- email Column -->
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            {{element.email}}
                        </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
                    </ng-container>

                    <!-- Mobile Column -->
                    <ng-container matColumnDef="mobile">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Mobile</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.mobile}}</mat-cell>
                    </ng-container>

                    <!-- Area Interest Column -->
                    <ng-container matColumnDef="cities">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Area Interest</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.cities}}</mat-cell>
                    </ng-container>

                    <!-- Cretaed At Column -->
                    <ng-container matColumnDef="created_at">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Created At</mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.created_at | date: 'dd-MM-yyyy hh:mm a'}}</mat-cell>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                        <mat-cell *matCellDef="let element" class="mat-cell-right">
                            <!--<a [routerLink]="['/booking/'+element.id]" >-->
                            <!--<i class="fas fa-file-invoice"></i>-->
                            <!--</a>-->

                            &nbsp;
                            <button mat-icon-button color="primary" matTooltip="Detail"
                                    (click)="openDetailForm(element)">
                                <mat-icon>create</mat-icon>
                            </button>&nbsp;

                            <button mat-icon-button color="warn" matTooltip="Delete Lead" type="button"
                                    (click)="deleteLead(element)" *ngxPermissionsOnly="['leads-delete']">
                                <mat-icon *ngIf="!element.isDeleting">delete</mat-icon>
                                <i class="fas fa-circle-notch fa-spin text-danger" *ngIf="element.isDeleting"></i>
                            </button>&nbsp;
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [length]="dataSource.paginatorTotal$ | async"
                           [showFirstLastButtons]="true"
                           [pageSizeOptions]="[10, 20, 50, 100,200,500]"></mat-paginator>
        </div>
    </ng-container>
</m-portlet>


<ng-template #leadFormModel let-c="close" let-d="dismiss">
    <div class="modal-header m--padding-bottom-5">
        <h5 class="modal-title">Lead Detail</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #amenityTypeForm="ngForm">
        <div class="modal-body">
            <div class="row">
                <div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput name="am_name" id="am_name"
                               autocomplete="off"
                               [(ngModel)]="currentRecord.name" required>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput name="email" id="email"
                               autocomplete="off" type="email"
                               [(ngModel)]="currentRecord.email">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-6">
                    <mat-form-field>
                        <mat-label>Mobile</mat-label>
                        <input matInput name="mobile" id="mobile"
                               autocomplete="off"
                               [(ngModel)]="currentRecord.mobile" required>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-select placeholder="Area Interest"
                                    [(ngModel)]="currentRecord.area_interested" name="payment_mode"
                                    required>
                            <mat-option *ngFor="let city of cityLists" [value]="city.id">
                                {{city.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-label>Note</mat-label>
                        <textarea matInput type="text" name="remark_note" [(ngModel)]="currentRecord.description"
                                  rows="2"
                                  id="remark_note" autocomplete="off"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" #closeBtn (click)="c('Close click')">
                Close
            </button>
            <button type="button"
                    [disabled]="amenityTypeForm.invalid || isSaving"
                    class="btn btn-primary btn-sm" (click)="save()">
                Save
            </button>
        </div>
    </form>
</ng-template>
