<div class="row">
	<div class="col-xl-9 col-lg-8 col-md-8">
		<div class="m-portlet  m-portlet--full-height ribbon-box"
			 [ngClass]="{ 'm-portlet--body-progress' : isSaving || isSettingsLoading || isLoading || checkingAvailability || sendingEmail, 'm-portlet--body-progress-overlay' : isSaving || isSettingsLoading || isLoading || checkingAvailability || sendingEmail}">

			<div class="m-portlet__head">
				<div class="m-portlet__head-caption ng-star-inserted">
					<div class="m-portlet__head-title w-100">
						<h3 class="m-portlet__head-text w-100 text-center" style="display: block">
							Booking Detail <span *ngIf="newBooking.id">&nbsp;- {{newBooking.inquiry_id}}</span>
							<!--<a href="javascript:;" class="m&#45;&#45;margin-left-5" matTooltip="Status" *ngIf="this.currentStatus.name">
								<label class="badge badge-success" [ngStyle]="{'background-color': this.currentStatus.color_code }">
									{{this.currentStatus.name}}
								</label>
							</a>-->
						</h3>
					</div>
				</div>

				<div class="m-portlet__head-tools" *ngIf="newBooking.id">
					<button class="btn btn-primary btn-sm" (click)="openInquiryForm()">
						<i class="fas fa-info-circle"></i> Note & Payments
					</button>
				</div>

			</div>
			<div class="m-portlet__body m-portlet__body--no-padding">
				<div class="m-portlet__body-progress">
					<mat-spinner [diameter]="20"></mat-spinner>
				</div>
				<div class="col-md-12">
					<form #bookingForm="ngForm">

						<div class="row">
							<div class="col-md-12 bg-light">
								<label class="text-primary m--margin-bottom-10 m--margin-top-10">
									<i class="fa fa-check-double"></i>&nbsp;<b>Source & Status Info</b>
								</label>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-select placeholder="Source" [disabled]="newBooking?.isReadOnly"
												(selectionChange)="sourceChange()"
												[(ngModel)]="newBooking.source_id" name="source" required>
										<mat-option *ngFor="let source of inquirySourceList"
													[value]="source.id">
											{{source.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3"
								 *ngIf="isVisibleCompanies || isVisibleOTA || isVisibleAgents">
								<div class="set-apart">
									<search-select [required]="true" [disabled]="newBooking?.isReadOnly"
												   (ngModelChange)="sourceValueChanged()"
												   [placeholder]="(isVisibleCompanies)?'Company':'' || (isVisibleOTA)?'OTA' || (isVisibleAgents):'Travel Agent'"
												   [formControl]="companyList"
												   [dataSource]="companyDataSource"></search-select>
								</div>
							</div>

							<div class="form-group col-md-3"
								 *ngIf="currentSource && isVisibleOTA">
								<mat-form-field>
									<mat-label>Voucher No.</mat-label>
									<input matInput [(ngModel)]="newBooking.voucher_no" name="voucher_no"
										   [disabled]="newBooking.isReadOnly">
								</mat-form-field>
							</div>

							<div class="form-group col-md-3"
								 *ngIf="currentSource && currentSource?.name=='Referral'">
								<mat-form-field>
									<mat-label>Referral Detail</mat-label>
									<input matInput [(ngModel)]="newBooking.referral" name="referral"
										   [disabled]="newBooking.isReadOnly" required>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-select placeholder="Status" [(ngModel)]="newBooking.status_id"
												name="status"
												*ngIf="!isChangingStatus"
												(selectionChange)="changeInquiryStatus($event)"
												[disabled]="(originalBooking.status && originalBooking.status.is_sold === true && !revertSalePermission) || newBooking.isReadOnly"
												required>
										<mat-option *ngFor="let status of inquiryStatusList" [disabled]="status.isDisabled"
													[value]="status.id">
											{{status.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-select placeholder="Sub Status" [(ngModel)]="newBooking.sub_status_id"
												name="sub_status" [disabled]="newBooking.isReadOnly" required>
										<mat-option *ngFor="let status of filterSubStatus()"
													[value]="status.id">
											{{status.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 bg-light">
								<label class="text-primary m--margin-bottom-10 m--margin-top-10">
									<i class="fa fa-user"></i>&nbsp;<b>Guest Info</b>
								</label>
							</div>

							<div class="form-group col-md-6">
								<mat-form-field>
									<mat-label>Guest Name</mat-label>
									<input [disabled]="newBooking.isReadOnly" matInput [(ngModel)]="newBooking.name"
										   name="guest_name" required>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-label>Email</mat-label>
									<input matInput name="email" [disabled]="newBooking.isReadOnly"
										   [(ngModel)]="newBooking.email"
										   email="true" required>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-label>Mobile</mat-label>
									<input type="text" minlength="10" maxlength="10" pattern="^[6-9][0-9]+" matInput
										   [(ngModel)]="newBooking.phone"
										   [disabled]="newBooking.isReadOnly"
										   name="phone"
										   required>
								</mat-form-field>
							</div>
						</div>

						<div class="row ">
							<div class="col-md-12 bg-light">
								<label class="text-primary m--margin-bottom-10 m--margin-top-10">
									<i class="fa fa-book"></i>&nbsp;<b>Booking Info</b>
								</label>
							</div>

							<div class="form-group col-md-2">
								<mat-form-field>
									<mat-select placeholder="Hotel" [(ngModel)]="newBooking.hotel_id" name="hotel"
												[disabled]="newBooking.isReadOnly" required
												(selectionChange)="loadRoomTypes()">
										<mat-option
											*ngFor="let item of hotelList | THActiveFilter:'is_enabled':true:'id':newBooking.hotel_id"
											[value]="item.id">{{item.code}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-2">
								<mat-form-field>
									<mat-select placeholder="Booking Type" [(ngModel)]="newBooking.type_id"
												name="inq_type" [disabled]="newBooking.isReadOnly"
												(selectionChange)="setCurrentInqType()" required>
										<mat-option *ngFor="let type of inquiryTypesList"
													[value]="type.id">{{type.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-3"
								 *ngIf="(currentInqType && (currentInqType.name==='Inbound' || currentInqType.name==='Domestic Group'))">
								<mat-form-field>
									<mat-label>Group Name</mat-label>
									<input matInput name="group_name" id="group_name"
										   [(ngModel)]="newBooking.group_name">
								</mat-form-field>
							</div>

							<div class="form-group col-md-2">
								<mat-form-field>
									<input matInput [(ngModel)]="newBooking.check_in_date" [matDatepicker]="picker1"
										   (dateChange)="dateChangeEvent('check_in_date')"
										   [min]="checkInMinDate" [disabled]="newBooking.isReadOnly"
										   placeholder="Check In Date" name="check_in_date" required>
									<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
									<mat-datepicker #picker1></mat-datepicker>
								</mat-form-field>
							</div>

							<div class="form-group col-md-2">
								<mat-form-field>
									<input matInput [(ngModel)]="newBooking.check_out_date"
										   [matDatepicker]="check_out_date" [disabled]="newBooking.isReadOnly"
										   (dateChange)="dateChangeEvent('check_out_date')"
										   [min]="checkOutMinDate"
										   placeholder="Check Out Date" name="check_out_date" required>
									<mat-datepicker-toggle matSuffix [for]="check_out_date"></mat-datepicker-toggle>
									<mat-datepicker #check_out_date></mat-datepicker>
								</mat-form-field>
							</div>

							<div class="col-md-1">
								<button type="button" (click)="checkAvailability(true)"
										[disabled]="checkingAvailability || isSaving || !newBooking.hotel_id || !newBooking.check_in_date || !newBooking.check_out_date"
										class="btn btn-info btn-sm" mattooltip="Check Inventory">
									<i class="fas fa-check-double"></i>
								</button>
							</div>
						</div>

						<form #addRoomForm="ngForm">
							<div class="row " *ngIf="!newBooking.isReadOnly">

								<div class="col-md-12  m--margin-bottom-5">
									Add Room
								</div>
								<div class="form-group col-md-3">
									<mat-form-field>
										<mat-select placeholder="Room Type" [disabled]="newBooking.isReadOnly"
													[(ngModel)]="tempSelectedRoom.room" name="roomType" required>
											<mat-option *ngFor="let item of roomTypes" [value]="item">{{item.name}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>

								<div class="form-group col-md-3">
									<mat-form-field>
										<mat-select placeholder="Rate Plan" [disabled]="newBooking.isReadOnly"
													[(ngModel)]="tempSelectedRoom.rate_plan" name="ratePlan" required>
											<mat-option
												*ngFor="let item of getFilteredRatePlans((tempSelectedRoom.room)?tempSelectedRoom.room.plans:[])"
												[value]="item">
												{{item.name}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>

								<div class="form-group col-md-3">
									<mat-form-field>
										<mat-select placeholder="Meal Plan" [disabled]="newBooking.isReadOnly"
													[(ngModel)]="tempSelectedRoom.meal_plan" name="meal_plan" required>
											<mat-option
												*ngFor="let item of (tempSelectedRoom.rate_plan)?tempSelectedRoom.rate_plan.mealplans:[]"
												[value]="item">{{item.name}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>

								<div class="form-group col-md-1">
									<mat-form-field>
										<mat-select placeholder="Rooms" [disabled]="newBooking.isReadOnly"
													[(ngModel)]="tempSelectedRoom.selectedRooms" name="selectedRooms"
													required>
											<mat-option *ngFor="let item of getNoOfRoom()" [value]="item">
												{{item}}
											</mat-option>
										</mat-select>
									</mat-form-field>
								</div>

								<div class="form-group col-md-1">
									<button class="btn btn-primary btn-sm"
											[disabled]="addRoomForm.invalid || isLoadingRate"
											(click)="addRoomToBooking()" matTooltip="Add Room">
										<i class="far fa-plus-square"></i>
									</button>
								</div>
								<!--<div class="form-group col-md-1">-->
								<!--<button class="btn btn-primary btn-sm" [disabled]="addRoomForm.invalid"-->
								<!--(click)="addRoomToBooking()">-->
								<!--<i class="fa fa-plus"></i> Add Extras-->
								<!--</button>-->
								<!--</div>-->
							</div>
						</form>

						<div class="row">
							<div class="col-md-12 bg-light" [ngClass]="{'has-error':newBooking.booking_rooms.length<1}">
								<label class="text-primary m--margin-bottom-10 m--margin-top-10">
									<i class="fa fa-door-closed"></i>&nbsp;<b>Room Details</b>
								</label>
							</div>
							<div class="col-md-12">
								<div class="row" *ngFor="let roomDetail of newBooking.booking_rooms; let i =index">

									<div class="col-md-12 m-separator m-separator--dashed m--margin-top-5"
										 *ngIf="i>0"></div>

									<div class="col-md-12 m--margin-bottom-10">
										<h5>
											<a href="javascript:;" (click)="removeRoomFromBooking(roomDetail)"
											   class="m--margin-right-5" *ngIf="!newBooking.isReadOnly">
												<i class="fa fa-times fa-2x text-danger"></i>
											</a>

											<label class="m--margin-right-5">
												{{roomDetail.room.name}}
											</label>

											<a href="javascript:;" class="m--margin-right-5" matTooltip="Rate Plan">
												<label class="badge badge-success">
													{{roomDetail.rate_plan.name}}
												</label>
											</a>

											<a href="javascript:;" class="m--margin-right-5"
											   matTooltip="Meal Plan Differential Price: {{roomDetail.meal_plan.differential_price?roomDetail.meal_plan.differential_price:'0'}}">
												<label class="badge badge-info">
													{{roomDetail.meal_plan.name}}
												</label>
											</a>
										</h5>
									</div>

									<div class="form-group col-md-1">
										<mat-form-field>
											<mat-select placeholder="Adult" [disabled]="newBooking.isReadOnly"
														[(ngModel)]="roomDetail.adult" name="room_adult_{{i}}"
														(selectionChange)="calculateBooking()" required>
												<mat-option *ngFor="let item of roomDetail.adult_array" [value]="item">
													{{item}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>

									<div class="form-group col-md-1">
										<mat-form-field>
											<mat-select placeholder="Child" [disabled]="newBooking.isReadOnly"
														[(ngModel)]="roomDetail.child" name="room_child_{{i}}"
														(selectionChange)="calculateBooking()" required>
												<mat-option *ngFor="let item of roomDetail.child_array" [value]="item">
													{{item}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>

									<div class="form-group col-md-1">
										<mat-form-field>
											<mat-select placeholder="Rooms" [disabled]="newBooking.isReadOnly"
														[(ngModel)]="roomDetail.rooms" name="selectedRooms_{{i}}"
														required (selectionChange)="calculateBooking()">
												<mat-option *ngFor="let item of roomDetail.total_room_array"
															[value]="item">
													{{item}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>

									<div class="form-group col-md-2" *ngIf="!roomDetail.rate_plan.is_calc_by_person">
										<mat-form-field>
											<mat-label>Rate</mat-label>
											<input matInput type="number" name="rack_rate_{{i}}" autocomplete="off"
												   pattern="[0-9]+([\.,][0-9]+)?" [disabled]="newBooking.isReadOnly"
												   id="racjk_Rate" (keyup)="calculateBooking()"
												   [(ngModel)]="roomDetail.rack_rate" required>
										</mat-form-field>
									</div>

									<div class="form-group col-md-2"
										 *ngIf="roomDetail.rate_plan.is_calc_by_person && roomDetail.child>0">
										<mat-form-field>
											<mat-label>Per Child Rate</mat-label>
											<input matInput type="number" name="per_child_rate_{{i}}"
												   autocomplete="off" [disabled]="newBooking.isReadOnly"
												   pattern="[0-9]+([\.,][0-9]+)?"
												   id="per_child_rate" (keyup)="calculateBooking()"
												   [(ngModel)]="roomDetail.extra_child_rate" required>
										</mat-form-field>
									</div>

									<div class="form-group col-md-2"
										 *ngIf="roomDetail.rate_plan.is_calc_by_person && roomDetail.adult>0">
										<mat-form-field>
											<mat-label>Per Adult Rate</mat-label>
											<input matInput type="number" name="per_adult_rate_{{i}}"
												   autocomplete="off" [disabled]="newBooking.isReadOnly"
												   pattern="[0-9]+([\.,][0-9]+)?"
												   id="per_adult_rate" (keyup)="calculateBooking()"
												   [(ngModel)]="roomDetail.extra_adult_rate" required>
										</mat-form-field>
									</div>

									<div class="form-group col-md-2" *ngIf="roomDetail.isExtraAdults">
										<mat-form-field>
											<mat-label>Extra Adult Rate</mat-label>
											<input matInput type="number" name="extra_adult_rate_{{i}}"
												   autocomplete="off" [disabled]="newBooking.isReadOnly"
												   pattern="[0-9]+([\.,][0-9]+)?"
												   id="extra_adult_rate" (keyup)="calculateBooking()"
												   [(ngModel)]="roomDetail.extra_adult_rate" required>
										</mat-form-field>
									</div>

									<div class="form-group col-md-2" *ngIf="roomDetail.isExtraChild">
										<mat-form-field>
											<mat-label>Extra Child Rate</mat-label>
											<input matInput type="number" name="extra_child_rate_{{i}}"
												   autocomplete="off" [disabled]="newBooking.isReadOnly"
												   pattern="[0-9]+([\.,][0-9]+)?"
												   id="extra_child_rate" (keyup)="calculateBooking()"
												   [(ngModel)]="roomDetail.extra_child_rate" required>
										</mat-form-field>
									</div>

									<div class="form-group col-md-2">
										<mat-form-field>
											<mat-label>Discount</mat-label>
											<input matInput type="number" name="extra_child_rate_{{i}}"
												   autocomplete="off" [disabled]="newBooking.isReadOnly"
												   id="discountPercent" (change)="calculateDiscounts(roomDetail)"
												   [(ngModel)]="roomDetail.discountPercent">
											<mat-icon matSuffix>
												<i class="fa fa-percent" aria-hidden="true"></i>
											</mat-icon>
										</mat-form-field>
									</div>
								</div>
							</div>
						</div>

						<div class="row m--margin-bottom-10">
							<div class="col-md-12 bg-light m--margin-bottom-10">
								<label class="text-primary m--margin-bottom-10 m--margin-top-10">
									<i class="fas fa-th-large"></i>&nbsp;<b>Extras</b>
								</label>

								<label class="text-primary m--margin-bottom-10 m--margin-top-10 pull-right"
									   *ngIf="!newBooking.isReadOnly">
									<i class="fa fa-plus-square hand-cursor text-primary pull-right fa-2x"
									   (click)="openModel(extraModal)" style="font-size: 18px"></i>
								</label>
							</div>

							<div class="col-md-12" *ngFor="let extCharge of newBooking.extras;let i=index">
								<div class="row text-right">
									<div class="col-md-6 m--padding-top-10">
										<i class="fa fa-times fa-2x hand-cursor text-danger m--margin-right-5"
										   *ngIf="!newBooking.isReadOnly" (click)="removeExtraCharge(extCharge)"></i>
										<b>
											{{extCharge.name}}
										</b>
									</div>
									<div class="col-md-2">
										<mat-form-field>
											<input type="number" matInput [(ngModel)]="extCharge.qty"
												   (keyup)="calculateBooking()"
												   pattern="[0-9]+([\.,][0-9]+)?"
												   [min]="1" [disabled]="newBooking.isReadOnly"
												   placeholder="Qty" name="extra_charge_qty_{{i}}" required>
										</mat-form-field>
									</div>
									<div class="col-md-2">
										<mat-form-field>
											<input matInput [(ngModel)]="extCharge.price" (keyup)="calculateBooking()"
												   pattern="[0-9]+([\.,][0-9]+)?" type="number"
												   [disabled]="newBooking.isReadOnly"
												   placeholder="Amount" name="extra_charge_{{i}}" required>
										</mat-form-field>
									</div>
									<div class="col-md-2 text-right m--padding-top-10">
										<b> {{extCharge.amount | currency:'INR'}}</b>
									</div>
								</div>
							</div>
						</div>

						<div class="row m--margin-bottom-10 ">
							<div class="col-md-12 bg-light m--margin-bottom-10"
								 [ngClass]="{'has-error':newBooking.taxes.length<1}">
								<label class="text-primary m--margin-bottom-10 m--margin-top-10">
									<i class="fas fa-percentage"></i>&nbsp;<b>Taxes</b>
								</label>

								<label class="text-primary m--margin-bottom-10 m--margin-top-10 pull-right"
									   *ngIf="!newBooking.isReadOnly">
									<i class="fa fa-plus-square hand-cursor text-primary pull-right fa-2x"
									   (click)="openModel(taxesModal)" style="font-size: 18px"></i>
								</label>
							</div>

							<div class="col-md-12" *ngFor="let txs of newBooking.taxes;let i=index">
								<div class="row">
									<div class="col-md-10 text-right m--padding-top-5">
										<i class="fa fa-times fa-2x hand-cursor text-danger m--margin-right-5"
										   (click)="removeTax(txs)" *ngIf="!newBooking.isReadOnly"></i>
										<b>
											{{txs.name}}
										</b>
										<span *ngIf="txs.type==='Percentage' || txs.type==='Range' ">
                                            &nbsp;{{txs.value}}%
                                        </span>
									</div>
									<div class="col-md-2 text-right">
										<b> {{txs.amount | currency:'INR'}}</b>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 bg-light">
								<label class="text-primary m--margin-bottom-10 m--margin-top-10">
									<i class="fa fa-info-circle"></i>&nbsp;<b>Internal Use</b>
								</label>
							</div>

							<div class="form-group col-md-2">
								<mat-form-field>
									<input matInput [max]="maxDate" [(ngModel)]="newBooking.inquiry_date"
										   [matDatepicker]="picker"
										   [min]="minInqDate" [disabled]="newBooking.isReadOnly"
										   (dateChange)="dateChangeEvent('inquiry_date')" placeholder="Inquiry Date"
										   required name="inquiry_date">
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker #picker></mat-datepicker>
								</mat-form-field>
							</div>


							<!--<div class="form-group col-md-3" *ngIf="isVisibleAgents">-->
							<!--<div class="set-apart">-->
							<!--<search-select [required]="true" [disabled]="newBooking.isReadOnly"-->
							<!--placeholder="Travel Agent"-->
							<!--[formControl]="travel_agent"-->
							<!--[dataSource]="travelAgentDataSource"></search-select>-->
							<!--</div>-->
							<!--</div>-->

							<!--<div class="form-group col-md-3" *ngIf="isVisibleOTA">-->
							<!--<div class="set-apart">-->
							<!--<search-select [required]="true" [disabled]="newBooking.isReadOnly"-->
							<!--placeholder="OTA"-->
							<!--[formControl]="ota"-->
							<!--[dataSource]="otaDataSource"></search-select>-->
							<!--</div>-->
							<!--</div>-->


							<div class="form-group col-md-3">
								<mat-form-field>
									<mat-select placeholder="Assign To" [(ngModel)]="newBooking.assign_to_id"
												name="assign_to" required [disabled]="newBooking.isReadOnly">
										<mat-option
											*ngFor="let assignTo of assignToUserList | THActiveFilter:'status':1:'id':newBooking.assign_to_id"
											[value]="assignTo.id">
											{{assignTo.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-2" *ngIf="currentStatus && currentStatus.is_sold===true">
								<mat-form-field>
									<mat-select placeholder="Payment Status" [(ngModel)]="newBooking.payment_status_id"
												name="payment_status"
												(selectionChange)="changeInquiryPaymentStatus($event)"
												[disabled]="newBooking.isReadOnly"
												required>
										<mat-option *ngFor="let payment_status of inquiryPaymentStatusList"
													[value]="payment_status.id">
											{{payment_status.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-2" *ngIf="currentStatus && currentStatus.is_sold===true">
								<mat-form-field>
									<mat-select placeholder="Payment Sub Status"
												[(ngModel)]="newBooking.payment_sub_status_id"
												name="payment_sub_status" [disabled]="newBooking.isReadOnly" required>
										<mat-option *ngFor="let status of filterPaymentSubStatus()" [value]="status.id">
											{{status.name}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="form-group col-md-2"
								 *ngIf="currentStatus && currentStatus.is_sold!==true && currentStatus.is_confirmed===true">
								<mat-form-field>
									<input matInput [max]="maxReleaseDate" [(ngModel)]="newBooking.release_date"
										   [matDatepicker]="release_date" [min]="minReleaseDate"
										   (dateChange)="dateChangeEvent('release_date')" placeholder="Release Date"
										   required name="release_date" [disabled]="newBooking.isReadOnly">
									<mat-datepicker-toggle matSuffix [for]="release_date"></mat-datepicker-toggle>
									<mat-datepicker #release_date></mat-datepicker>
								</mat-form-field>
							</div>
							<div class="form-group col-md-2" *ngIf="currentStatus && currentStatus.is_sold===true">
								<mat-form-field>
									<mat-label>Booking Id</mat-label>
									<input matInput type="text" name="booking_id" autocomplete="off"
										   id="booking_id"
										   [(ngModel)]="newBooking.booking_id">
								</mat-form-field>
							</div>

							<div class="form-group col-md-4" *ngIf="currentStatus.is_sold===true">
								<mat-form-field>
									<mat-select placeholder="Bill To" [(ngModel)]="newBooking.bill_to"
												name="boll_to" required [disabled]="newBooking.isReadOnly">
										<mat-option *ngFor="let itm of billToOptions" [value]="itm">
											{{itm}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div class="col-md-12">
								<mat-form-field>
									<mat-label>Special Request</mat-label>
									<textarea matInput type="text" name="special_request"
											  [(ngModel)]="newBooking.special_request_note"
											  matAutosizeMinRows="2" matAutosizeMaxRows="4"
											  [disabled]="newBooking.isReadOnly" id="special_request"
											  autocomplete="off"></textarea>
								</mat-form-field>
							</div>
							<div class="form-group col-md-12">
								<mat-form-field>
									<mat-label>Note (Min 25 Chars)</mat-label>
									<textarea matInput type="text" name="remark_note"
											  [(ngModel)]="newBooking.note"
											  matAutosizeMinRows="2" matAutosizeMaxRows="4"
											  minlength="25" required
											  [disabled]="newBooking.isReadOnly" id="remark_note"
											  autocomplete="off"></textarea>
									<button mat-icon-button matSuffix (click)="openInquiryForm()"
											style="padding-left: 8px;" *ngIf="newBooking.id">
										<i class="fas fa-2x fa-history text-primary" style="font-size: 19px;"></i>
									</button>
								</mat-form-field>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 bg-light"
								 [ngClass]="{'has-error':(currentStatus && currentStatus.is_sold!==true && currentStatus.is_confirmed===true && newBooking.reminders.length<1)}">
								<label class="text-primary m--margin-bottom-10 m--margin-top-10">
									<i class="fa fa-bell"></i>&nbsp;<b>Reminders</b>
								</label>

								<label *ngIf="!newBooking.isReadOnly"
									   class="text-primary m--margin-bottom-10 m--margin-top-10 pull-right">
									<i class="fa fa-plus-square hand-cursor text-primary pull-right fa-2x"
									   (click)="addReminderToBooking()" style="font-size: 18px"></i>
								</label>
							</div>

							<div class="col-md-12" *ngFor="let reminder of newBooking.reminders; let i=index">
								<div class="row">
									<div class="col-md-2 col-sm-6 col-lg-2 col-12">
										<mat-form-field>
											<mat-select placeholder="Type" [(ngModel)]="reminder.type"
														name="reminder_type_{{i}}" required
														[disabled]="newBooking.isReadOnly">
												<mat-option *ngFor="let item of reminderTypes"
															[value]="item.type">{{item.name}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>

									<div class="col-md-4 col-sm-6 col-lg-4 col-12">
										<mat-form-field>
											<mat-select placeholder="Remind on" [(ngModel)]="reminder.remind_on"
														name="reminder_on_{{i}}" required
														[disabled]="newBooking.isReadOnly">
												<mat-option [value]="'check_in_date'">
													Day(s) Before Check In Date
												</mat-option>
												<mat-option [value]="'release_date'"
															*ngIf="currentStatus && currentStatus.is_confirmed===true && currentStatus.is_sold!==true">
													Day(s) Before Release Date
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>

									<div class="col-md-2 col-sm-6 col-lg-2 col-12">
										<mat-form-field>
											<mat-label></mat-label>
											<mat-select placeholder="Days" [(ngModel)]="reminder.days"
														name="reminder_day_{{i}}" required
														[disabled]="newBooking.isReadOnly">
												<mat-option *ngFor="let item of getReminderDays(reminder)"
															[value]="item">{{item}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>

									<div class="col-md-1">
										<a href="javascript:;" (click)="removeReminder(reminder)"
										   class="m--margin-top-15 pull-left" *ngIf="!newBooking.isReadOnly">
											<i class="fa fa-trash fa-2x text-danger"></i>
										</a>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 bg-light">
								<label class="text-primary m--margin-bottom-10 m--margin-top-10">
									<i class="fas fa-check-square"></i>&nbsp;<b>Inclusion</b>
								</label>
							</div>

							<div class="col-md-12">
								<angular-editor [config]="editorConfig" name="htmlContent"
												[disabled]="newBooking.isReadOnly"
												[(ngModel)]="newBooking.inclusion"></angular-editor>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 m-separator m-separator--dashed m--margin-top-5">
							</div>

							<div class="col-md-12 m--margin-bottom-10">

								<a [routerLink]="['/inquiries']"
								   class="pull-right btn m--margin-left-5 btn-default btn-md">
									Back
								</a>

								<button type="button" (click)="validateAndSaveBooking()"
										*ngIf="!newBooking.isReadOnly"
										[disabled]="bookingForm.invalid || isSaving ||
                                         ((isVisibleCompanies || isVisibleOTA || isVisibleAgents) && companyList.errors ||
                                         newBooking.booking_rooms.length<1 ||
                                         (currentStatus && currentStatus.is_sold!==true && currentStatus.is_confirmed===true && newBooking.reminders.length<1) ||
                                         newBooking.taxes.length<1)"
										class="btn btn-primary btn-md pull-right">
									Save
								</button>

								<button class="btn btn-primary btn-md pull-left btn m--margin-right-5"
										*ngIf="!newBooking.isReadOnly && newBooking.inquiry_id"
										[disabled]="bookingForm.invalid || isSaving ||
                                         ((isVisibleCompanies || isVisibleOTA || isVisibleAgents) && companyList.errors ||
                                         newBooking.booking_rooms.length<1 ||
                                         (currentStatus && currentStatus.is_sold!==true && currentStatus.is_confirmed===true && newBooking.reminders.length<1) ||
                                         newBooking.taxes.length<1)"
										(click)="validateAndSaveBooking(true)"
										matTooltip="Send Detail">
									Save & Send Email
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>


		</div>
	</div>

	<!--Booking Summary-->
	<div class="col-xl-3 col-lg-4 col-md-4">
		<div class="m-portlet  fixed-summary-box">
			<div class="ribbon ribbon-top-left" *ngIf="this.currentStatus.name">
                <span [ngStyle]="{'background-color': this.currentStatus.color_code }">
                    {{this.currentStatus.name}}
                </span>
			</div>
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption ng-star-inserted">
					<div class="m-portlet__head-title w-100">
						<h2 class="m-portlet__head-text w-100 text-center" style="display: block;font-size: 2.0rem;">
							Booking Summary
						</h2>
					</div>
				</div>
			</div>
			<div class="m-portlet__body m-portlet__body--no-padding">
				<table class="table" *ngIf="this.approvedByName && this.approvalStatus">
					<tr class="m--margin-20">
						<td [bgColor]="this.approvedColour" class="text-white text-center">
							<h5 class="m--margin-bottom-0">Discount Approval {{this.approvalStatus}}</h5>
							<h6 class="m--margin-bottom-0">
								<b>Approver:</b> {{this.approvedByName}}
								<button mat-icon-button matSuffix (click)="openDiscountApproverModal()"
										[disabled]="isSaving" *ngIf="this.approvalStatus !== 'Approved'"
										style="line-height: 30px; height: 30px; width: 30px;">
									<i class="fas fa-lg fa-edit"></i>
								</button>
							</h6>
							<div class="discount-approve-btn">
								<button (click)="openPendingApprovalForm(newBooking)" class="btn btn-primary btn-sm"
										[disabled]="isSaving"
										*ngIf="this.approvalStatus === 'Pending' && this.newBooking.discount_approved_by === this.loggedInUser.id">
									<!--<i class="fas fa-check text-success"></i> Approve / <i class="fas fa-times text-danger"></i> Reject-->
									Approve / Reject
								</button>
							</div>
						</td>
					</tr>
				</table>

				<table class="table" *ngIf="newBooking.check_in_date && newBooking.check_out_date">
					<tr>
						<td colspan="3" class="text-center">
							<div class="col-md-12 ">
								<div class="row">
									<div class="col-md-4 text-center">
										<div>
											<h2 class="bot-no-mar">
												<b>
													{{newBooking.check_in_date |date:'d'}}
												</b>
											</h2>
										</div>
										<div class="text-gray">
											{{newBooking.check_in_date |date:' MMM y'}}
										</div>
									</div>
									<div class="col-md-4 text-center" style="vertical-align: middle;">
										<h5 class="">
											<b>
												{{newBooking.room_nights }}
											</b>
										</h5>
										<div class="text-gray">
											Night(s)
										</div>
									</div>
									<div class="col-md-4 text-center">
										<div>
											<h2 class="bot-no-mar">
												<b>
													{{newBooking.check_out_date |date:'d'}}
												</b>
											</h2>
										</div>
										<div class="text-gray">
											{{newBooking.check_out_date |date:' MMM y'}}
										</div>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tbody *ngFor="let roomDetail of newBooking.booking_rooms">
					<tr>
						<td>
							<b>
								{{roomDetail.room.name}}
							</b>
							<span class="badge badge-danger" *ngIf="roomDetail.discount>0"
								  matTooltip="{{roomDetail.discount}}">
                                {{getDiscountRate(roomDetail.discount, roomDetail.amount)}}%
                            </span>
						</td>
						<td class="text-center">
							{{roomDetail.rooms}}
						</td>
						<td class="text-right">
							{{(roomDetail.amount) | currency:'INR'}}
						</td>
					</tr>
					<tr *ngIf="roomDetail.isExtraAdults">
						<td>
							Extra Adult
							<span class="badge badge-danger" *ngIf="roomDetail.extra_adult_discount>0"
								  matTooltip="{{roomDetail.extra_adult_discount}}">
                                        {{getDiscountRate(roomDetail.extra_adult_discount, roomDetail.extra_adult_amount)}}
								%
                                </span>
						</td>
						<td class="text-center">
							{{roomDetail.extra_adult}}
						</td>
						<td class="text-right">
							{{roomDetail.extra_adult_amount | currency:'INR'}}
						</td>
					</tr>
					<tr *ngIf="roomDetail.isExtraChild">
						<td>
							Extra Child
							<span class="badge badge-danger" *ngIf="roomDetail.extra_child_discount>0"
								  matTooltip="{{roomDetail.extra_child_discount}}">
                                {{getDiscountRate(roomDetail.extra_child_discount, roomDetail.extra_child_amount)}}%
                            </span>
						</td>
						<td class="text-center">
							{{roomDetail.extra_child}}
						</td>
						<td class="text-right">
							{{roomDetail.extra_child_amount | currency:'INR'}}
						</td>
					</tr>
					</tbody>
					<tr class="m--margin-20" *ngIf="newBooking.booking_rooms.length>0">
						<td class="text-left" colspan="2">
							<b>Gross Total</b>
						</td>
						<td class="text-right">
							<b>
								{{newBooking.total_amount | currency:'INR'}}
							</b>
						</td>
					</tr>
					<tr *ngIf="newBooking.taxes.length>0">
						<td colspan="3">
							<b>Taxes</b>
						</td>
					</tr>
					<tr *ngFor="let txt of newBooking.taxes">
						<td class="text-left" colspan="2">
							{{txt.name}} <span *ngIf="txt.type!=='Flat'">
                            {{txt.value}}%
                        </span>
						</td>
						<td class="text-right">
							{{txt.amount | currency:'INR'}}
						</td>
					</tr>
					<tr *ngIf="newBooking.extras.length>0">
						<td colspan="3">
							<b>Extras</b>
						</td>
					</tr>
					<tr *ngFor="let extCharge of newBooking.extras">
						<td class="text-left">
							{{extCharge.name}}
							<span class="badge badge-danger" *ngIf="extCharge.discount_amount>0"
								  matTooltip="{{extCharge.discount_amount}}">
                                {{getDiscountRate(extCharge.discount_amount, extCharge.amount)}}%
                            </span>
						</td>
						<td class="text-center">
							{{extCharge.qty}}
						</td>
						<td class="text-right">
							{{extCharge.amount  | currency:'INR'}}
						</td>
					</tr>
					<tr *ngIf="newBooking.discount_amount>0">
						<td colspan="2">
							Discount
							<span class="badge badge-danger">
                                {{getDiscountRate(newBooking.discount_amount, newBooking.gross_amount)}}%
                            </span>
						</td>
						<td class="text-right">
							-{{newBooking.discount_amount | currency:'INR'}}
						</td>
					</tr>
					<tr class="m--margin-20" *ngIf="newBooking.booking_rooms.length>0">
						<td class="text-left" colspan="2">
							<b>Net Total</b>
							<br><br><br>
						</td>
						<td class="text-right">
							<b>
								{{newBooking.net_amount | currency:'INR'}}
							</b>
						</td>
					</tr>

					<tr class="m--margin-20 m--margin-top-20 text-success"
						*ngIf="currentStatus.is_sold && newBooking.id">
						<td class="text-left" colspan="2">
							<b>Paid Amount</b>
						</td>
						<td class="text-right">
							<b>
								{{newBooking.paidAmount | currency:'INR'}}
							</b>
						</td>
					</tr>

					<tr class="m--margin-20 text-danger" *ngIf="currentStatus.is_sold  && newBooking.id">
						<td class="text-left" colspan="2">
							<b>Outstanding Amount</b>
						</td>
						<td class="text-right">
							<b>
								{{newBooking.outstandingAmount | currency:'INR'}}
							</b>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


<ng-template #extraModal let-c="close" let-d="dismiss">
	<div class="modal-header m--padding-bottom-5">
		<div class="col-md-4">
			<h4 class="modal-title w-100">
				Extras
			</h4>
		</div>
		<div class="col-md-6">
			<input matInput placeholder="Search" type="text" name="term" [(ngModel)]="searchTermExtras">
		</div>
		<div class="col-md-2 text-right">
			<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	</div>
	<div class="modal-body">
		<div class="row" style="max-height: 350px;overflow: auto">
			<div class="table-responsive">
				<table class="table">
					<tr *ngFor="let itm of extras | search : searchTermExtras">
						<td class="text-left">
							{{itm.name}}
						</td>
						<td class="text-right">
							{{itm.price | currency:'INR'}}
						</td>
						<td class="text-center">
							<i class="fas fa-plus-square text-primary hand-cursor icon-big"
							   (click)="addExtraToBooking(itm)"></i>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default btn-sm pull-left" (click)="loadExtras()">
			<i class="fas fa-sync"></i>
		</button>
		<button class="btn btn-default btn-sm" (click)="d('Cross click')">Close</button>
	</div>
</ng-template>


<ng-template #taxesModal let-c="close" let-d="dismiss">
	<div class="modal-header m--padding-bottom-5">
		<h4 class="modal-title">Taxes</h4>

		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row" style="max-height: 350px;overflow: auto">
			<div class="table-responsive">
				<table class="table">
					<tr *ngFor="let itm of getAvailableTaxes()">
						<td class="text-left">
							{{itm.name}}
						</td>
						<td class="text-right">
                            <span *ngIf="itm.type==='Flat'">
                                {{itm.value | currency:'INR'}}
                            </span>

							<span *ngIf="itm.type==='Percentage'">
                                {{itm.value}}%
                            </span>

							<span *ngIf="itm.type==='Range'">
                                {{itm.value}}%
                            </span>
						</td>
						<td class=" text-center">
							<i class="fas fa-plus-square text-primary hand-cursor icon-big"
							   (click)="addTaxBooking(itm)"></i>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default btn-sm pull-left" (click)="loadTaxes()">
			<i class="fas fa-sync"></i>
		</button>
		<button class="btn btn-default btn-sm" (click)="d('Cross click')">Close</button>
	</div>
</ng-template>

<ng-template #historyModal let-c="close" let-d="dismiss">
	<div class="modal-header m--padding-bottom-5">
		<h4 class="modal-title">History</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 col-lg-12" *ngIf="false">
				<div id="tracking-pre"></div>
				<div id="tracking">
					<div class="tracking-list">
						<div class="tracking-item" *ngFor="let history of histories">
							<div class="tracking-icon status-intransit">
								<svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas"
									 data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
									 viewBox="0 0 512 512" data-fa-i2svg="">
									<path fill="currentColor"
										  d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
								</svg>
								<!-- <i class="fas fa-circle"></i> -->
							</div>
							<div class="tracking-date">{{history.created_at | date:'dd LLL yyyy'}}
								<span>{{history.created_at | date:'shortTime'}}</span>
							</div>
							<div class="tracking-content">
								{{history.body}}
								<span>
                                    By {{history.actor.name}}
                                </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="max-height: 400px;    overflow: auto;">
				<ul class="timeline">
					<li *ngFor="let history of histories">
                        <span class="time-line-date">
                            {{history.created_at | date:'dd LLL yyyy'}}
                        </span>
						<span class="float-right">{{history.created_at | date:'shortTime'}}</span>
						<p class="m--margin-top-5">
							<span [innerHTML]="history.body"></span> by
							<span *ngIf="loggedInUser.id===history.actor_id">You</span>
							<span *ngIf="loggedInUser.id!==history.actor_id">{{history.actor.name}}</span>
						</p>
						<hr>
					</li>
				</ul>

			</div>
		</div>
	</div>
</ng-template>

<ng-template #availabilityChartModal let-c="close" let-d="dismiss">
	<div class="modal-header m--padding-bottom-5">
		<h4 class="modal-title">Inventory Statistic</h4>
		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-12 m--margin-bottom-5 text-danger" *ngIf="!isInventoryAvailable">
				<i class="fas fa-times-circle"></i> Sorry! Inventory is not available for requested date(s) .
			</div>
			<div class="table-responsive" style="max-height: 400px;    overflow: auto;"
				 *ngIf="availableStatistic.length>0">
				<table class="table table-bordered">
					<tr>
						<th><b>Room Type</b></th>
						<th class="text-center" *ngFor="let dt of availableStatistic[0]['statistic']"
							[ngClass]="{'week-end-day':((dt.date | date:'EEE')==='Sun' || (dt.date | date:'EEE')==='Sat')}">
							<div class="text-gray">
								{{dt.date | date:'EEE'}}
							</div>
							<div>
								<b>{{dt.date | date:'d'}}</b>
							</div>
							<div class="text-gray">
								{{dt.date | date:'MMM'}}
							</div>
						</th>
					</tr>
					<tr *ngFor="let rec of availableStatistic">
						<td>
							{{rec.room_type_name}}
						</td>
						<td class="text-center" *ngFor="let record of rec['statistic']"
							[ngClass]="{'bg-danger text-white':!record.status,
                            'text-success':record.status, 'week-end-day':(((record.date | date:'EEE')==='Sun' || (record.date | date:'EEE')==='Sat') && record.status)}">
                            <span *ngIf="record.status">
                                <i class="fas fa-check-circle"></i>
                            </span>

							<span *ngIf="!record.status">
                                <i class="fas fa-times-circle"></i>
                            </span>
							<div class="text-center">
								<b>
									{{record.available_rooms}}
								</b>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</ng-template>

<ng-template #discountApprovedByModal let-c="close" let-d="dismiss">
	<div class="modal-header m--padding-bottom-5">
		<h4 class="modal-title">Discount Amount is exceeding the limit assigned to you! Please select any of the
			Approver from the list</h4>

		<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="row" style="max-height: 350px;overflow: auto">
			<div class="col-md-6 form-group">
				<label>User</label>
				<select class="form-control text-center" name="discount_approved_by"
						[(ngModel)]="discountApprovedBy"
						[disabled]="this.approvalStatus === 'Rejected' && !newBooking.resend_approval">
					<option value="null">Select</option>
					<option *ngFor="let element of discountApprovedUsers" value={{element.id}}>
						{{element.name}}
					</option>
				</select>
			</div>

			<div class="form-group col-md-6">
				<mat-form-field>
					<mat-label>Remark</mat-label>
					<textarea matInput type="text" name="remark" [(ngModel)]="newBooking.remark"
							  matAutosizeMinRows="2" matAutosizeMaxRows="4"
							  id="remark" autocomplete="off" required></textarea>
				</mat-form-field>
			</div>

			<div class="col-md-12" *ngIf="this.approvalStatus === 'Rejected'">
				<mat-checkbox name="resend_approval" [(ngModel)]="newBooking.resend_approval">
					Resend Approval Request
				</mat-checkbox>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" (click)="c('Selected')" class="btn btn-primary btn-sm pull-right"
				[disabled]="!discountApprovedBy || discountApprovedBy == 'null' || !newBooking.remark || isSaving">
			Save
		</button>
		<button class="btn btn-default btn-sm" (click)="d('Cross click')">Close</button>
	</div>
</ng-template>
