
.bg-light {
  background-color: #f2f3f8 !important;
  margin-bottom: 5px !important;
}

@media (min-width: 1024px) {
  //.m-portlet .m-portlet__body {
  //  overflow: auto;
  //  max-height: 60vh;
  //}

  .fixed-summary-box{
    position: fixed;
    right: 30px;
    width: 22%;
    overflow: auto;
    max-height: 85vh;
    min-height: 85vh;
  }
}

.week-end-day {
  background: #FFF8E1;
}

.fa-stop {
  font-size: 9px !important;
}
