<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving,
     'm-portlet--body-progress-overlay' : isSaving }">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Email Detail
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="m-portlet__body m--padding-top-5">

        <div class="m-portlet__body-progress">
            <mat-spinner [diameter]="20"></mat-spinner>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <mat-label><strong>To: </strong> {{currentRecord.to}}</mat-label>
            </div>

            <div class="form-group col-md-6" *ngIf="currentRecord.cc">
                <mat-label><strong>CC: </strong> {{currentRecord.cc}}</mat-label>
            </div>

            <div class="form-group col-md-6" *ngIf="currentRecord.bcc">
                <mat-label><strong>BCC: </strong> {{currentRecord.bcc}}</mat-label>
            </div>

            <div class="form-group col-md-12">
                <mat-label><strong>Subject: </strong> {{currentRecord.subject}}</mat-label>
            </div>

            <div class="form-group col-md-12">
                <p [innerHTML]="currentRecord.content | safe: 'html'"></p>
            </div>

        </div>
    </div>
    <div class="modal-footer">
<!--        <label class="pull-left">Send At - {{currentRecord.created_at | date:'dd-MM-yyyy hh:mm a' }}</label>-->
        <button type="button" class="btn btn-secondary" (click)="closeDialog()">
            Close
        </button>
    </div>
</div>
