<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Channel Manager Logs
                </h4>

                <button mat-mini-fab color="default" class="m--margin-right-5"
                        (click)="resetFilter()" matTooltip="Refresh">
                    <i class="fas fa-sync"></i>
                </button>


                <button mat-mini-fab color="default" class="m--margin-right-5"
                        (click)="isCollapsedFilter = !isCollapsedFilter"
                        [attr.aria-expanded]="!isCollapsedFilter"
                        aria-controls="collapseExample"
                        matTooltip="Filter">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                </button>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #roomTypesForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding m--margin-top-10">

                <div id="collapseExample" [ngbCollapse]="isCollapsedFilter">
                    <div class="row">
                        <div class="col-md-3">
                            <mat-form-field>
                                <input class="pull-right w-100" matInput #searchInput
                                       placeholder="Search">
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Hotel" [(ngModel)]="logFilters.hotel_id"
                                            name="hotel_filter" multiple>
                                    <mat-option *ngFor="let item of hotels" [value]="item.id">
                                        {{item.code}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Status" [(ngModel)]="logFilters.status"
                                            name="hotel_filter" multiple>
                                    <mat-option *ngFor="let item of logStatuses" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Operation" [(ngModel)]="logFilters.operation_type"
                                            name="hotel_filter" multiple>
                                    <mat-option *ngFor="let item of operationTypes" [value]="item.id">
                                        {{item.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="col-md-3">
                            <div *ngIf="!logFilters.date_filter">
                                <mat-label>By Date&nbsp;</mat-label>
                                <br>
                                <mat-checkbox name="date_filter"
                                              [(ngModel)]="logFilters.date_filter">
                                </mat-checkbox>
                            </div>

                            <mat-form-field *ngIf="logFilters.date_filter">
                                <mat-label>Log Date</mat-label>
                                <input matInput type="text" name="daterangeInput" #checkInDateInput daterangepicker
                                       [options]="dateOptions"
                                       (selected)="selectDateForFilter($event)"/>
                                <button mat-button *ngIf="logFilters.date_filter" matSuffix mat-icon-button
                                        aria-label="Clear" (click)="clearDateFilter()">
                                    <mat-icon>close</mat-icon>
                                </button>
                                <mat-icon matSuffix>date_range</mat-icon>
                            </mat-form-field>
                        </div>

                        <div class="col-md-9">
                            <button type="button" class="btn btn-sm btn-primary pull-right"
                                    (click)="applyFilter()">
                                Apply
                            </button>

                            <button type="button" (click)="resetFilter()"
                                    class="btn btn-sm btn-secondary pull-right m--margin-right-5">
                                Reset
                            </button>
                        </div>
                    </div>
                </div>

                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="mat-table__wrapper">

                    <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef class="mat-column-checkbox">
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                              [checked]="selection.hasValue() && isAllSelected()"
                                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" class="mat-column-checkbox">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                              (change)="$event ? selection.toggle(row) : null"
                                              [checked]="selection.isSelected(row)">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="hotel_code">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Hotel</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.hotel_code}}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="booking_id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Booking Id</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.booking_id}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="inquiry_id">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>IQ-ID</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.inquiry_id}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="room_type_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Room Type</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.room_type_name}}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="user_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>User</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.user_name}}</mat-cell>
                        </ng-container>

						<ng-container matColumnDef="value">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Value</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.value}}</mat-cell>
                        </ng-container>

						<ng-container matColumnDef="from_date">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>For Date</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.from_date}} - {{element.to_date}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="operation_type">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Operation</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.operation_type}}</mat-cell>
                        </ng-container>


                        <ng-container matColumnDef="request_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Req. Type</mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.request_name}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="status_name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                            <mat-cell *matCellDef="let element">

                                <span class="m-badge  m-badge--wide"
                                      [ngClass]="{'m-badge--success':element.status_name==='Success',
                                                    'm-badge--danger':element.status_name==='Failed',
                                                    'm-badge--info':element.status_name==='Queued',
                                                    'm-badge--warning':element.status_name==='In Progress'}">
                                {{element.status_name}}
                                </span>


                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="created_at">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Time</mat-header-cell>
                            <mat-cell
                                    *matCellDef="let element"> {{element.created_at | date:'dd-MMM-yyyy h:mm a'}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                            <mat-cell *matCellDef="let element" class="mat-cell-right">
                                <button mat-icon-button color="primary" matTooltip="Detail"
                                        (click)="openDetail(logDetailModel,element)">
                                    <mat-icon>create</mat-icon>
                                </button>&nbsp;
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
                </div>
                <div class="mat-table__bottom">
                    <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
                    <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                                   [showFirstLastButtons]="true"
                                   [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
                </div>
            </div>
        </form>
    </div>
</div>


<ng-template #logDetailModel let-c="close" let-d="dismiss">
    <div class="modal-header m--padding-bottom-5">
        <h4 class="modal-title">Log Detail</h4>
        <mat-spinner class="m--margin-left-15" *ngIf="isLoading" [diameter]="20"></mat-spinner>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 text-center">
                <mat-tab-group>
                    <mat-tab label="Request">
                        <textarea class="form-control" rows="30" name="log" [(ngModel)]="currentLog.request"></textarea>
                    </mat-tab>
                    <mat-tab label="Response">
                    <textarea class="form-control" rows="35" name="log_Reposen" id="log_Reposen"
                              [(ngModel)]="currentLog.response"></textarea>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
    <div class="modal-footer no-side-padding">
        <mat-spinner class="pull-left m--margin-right-15" *ngIf="isLoading" [diameter]="20"></mat-spinner>
        <button type="button" class="btn btn-secondary m-btn--sm" (click)="d('Cross click')">
            Close
        </button>
    </div>
</ng-template>
