<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Inquiry Payment Status Detail
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <form #inquiryPaymentStatusesForm="ngForm">
        <mat-tab-group [(selectedIndex)]="selectedTabIndex">
            <mat-tab label="Detail">
                <div class="m-portlet__body m--padding-top-5">
                    <div class="m-portlet__body-progress">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <mat-form-field>
                                <mat-label>Name</mat-label>
                                <input matInput name="name" id="name"
                                       autocomplete="off"
                                       [(ngModel)]="currentRecord.name" required>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Sub Statuses">
                <div class="m-portlet__body m--padding-top-5">
                    <div class="m-portlet__body-progress">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form #inquiryPaymentSubStatusForm="ngForm">
                                <div class="row">
                                    <div class="form-group col-md-8">
                                        <mat-form-field>
                                            <mat-label>Name</mat-label>
                                            <input matInput [(ngModel)]="currentInquiryPaymentSubStatus.name"
                                                   name="name" required> <!-- pattern="[0-9]+([0-9]+)?" -->
                                        </mat-form-field>
                                    </div>

                                    <div class="col-md-4">
                                        <button type="button"
                                                class="btn btn-sm m-btn--sm pull-left m--margin-right-5 btn-primary"
                                                [disabled]="inquiryPaymentSubStatusForm.invalid || isSaving"
                                                (click)="saveInquiryPaymentSubStatus(currentInquiryPaymentSubStatus)">
                                            Save
                                        </button>

                                        <button type="button"
                                                class="btn btn-secondary btn-sm m-btn--sm pull-left"
                                                (click)="resetInquiryPaymentSubStatus()">
                                            Reset
                                        </button>


                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th style="width: 65px">
                                            Action
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngIf="currentRecord.payment_sub_statuses.length===0">
                                        <td colspan="4" class="text-center">
                                            <label>No payment sub status added</label>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let paymentSubStatus of currentRecord.payment_sub_statuses">
                                        <td>
                                            {{paymentSubStatus.name}}
                                        </td>
                                        <td>
                                            <i class="fas fa-pen-square text-primary m--margin-right-5 hand-cursor"
                                               style="font-size: 15px"
                                               (click)="editInquiryPaymentSubStatus(paymentSubStatus)"></i>

                                            <i class="fas fa-trash text-danger hand-cursor" style="font-size: 15px"
                                               (click)="deleteInquiryPaymentSubStatus(paymentSubStatus)"></i>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="selectTab(0)" *ngIf="selectedTabIndex!=0">
                Previous
            </button>
            <button type="button" class="btn btn-secondary" (click)="closeDialog()">
                Close
            </button>
            <button type="button" color="primary"
                    (click)="save()"
                    [disabled]="inquiryPaymentStatusesForm.invalid || isSaving"
                    class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>
