.example-first-header-row th {
  border-bottom: none;
}

.example-second-header-row {
  font-style: italic;
}

.example-first-footer-row {
  font-weight: bold;
  border-bottom: none;
}

.example-second-footer-row td {
  color: #900000;
}

.hidden {
  display: none;
}

.table th, .table td {
  vertical-align: middle !important;
}

.date-col {
  width: 90px !important;
}

.list-area {
  position: fixed !important;
  width: auto !important;
}

.custom-dropdown-list .dropdown-list {
  position: fixed !important;
  width: auto !important;

  .list-area {
    position: fixed !important;
    width: auto !important;
  }

  .selected-list .c-btn{
    padding: 0px !important;
  }
}
