<div class="m-portlet  m-portlet--full-height"
     [ngClass]="{ 'm-portlet--body-progress' : isLoading,  'm-portlet--body-progress-overlay' :  isLoading }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption ng-star-inserted">
            <h3 class="m-portlet__head-text">
                Booking Register
            </h3>
        </div>

        <div class="m-portlet__head-tools">
            <button *ngIf="false" mat-mini-fab color="default" class="m--margin-left-5-mobile"
                    (click)="isCollapsedFilter = !isCollapsedFilter"
                    [attr.aria-expanded]="!isCollapsedFilter"
                    aria-controls="collapseExample"
                    matTooltip="Filter">
                <i class="fa fa-filter" aria-hidden="true"></i>
            </button>

            <a href="javascript:void(0)" class="btn btn-default btn-sm" (click)="exportReportData()"
               *ngIf="bookingReportData.length>0">
                <i class="fa fa-file-pdf icon-big text-danger"></i>
            </a>

            <!--            <a href="javascript:void(0)" class="btn btn-default btn-sm m&#45;&#45;margin-left-5"-->
            <!--               *ngIf="bookingReportData.length>0"-->
            <!--               (click)="exportReportData('excel')">-->
            <!--                <i class="fa fa-file-excel icon-big text-success"></i>-->
            <!--            </a>-->
        </div>

    </div>
    <div class="m-portlet__body m-portlet__body--no-padding">
        <div class="col-md-12 m--margin-top-10">
            <div class="m-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>

            <div id="collapseExample" [ngbCollapse]="isCollapsedFilter">
                <div class="row">
                    <div class="col-md-3 form-group">
                        <label>Hotel</label>
                        <angular2-multiselect [data]="hotelList" [(ngModel)]="selectedHotelLists" (ngModelChange)="onHotelSelect()"
                                              (onSelect)="onHotelSelect($event)"
                                              (onDeSelect)="onHotelSelect($event)"
                                              (onSelectAll)="onHotelSelect($event)"
                                              (onDeSelectAll)="onHotelSelect($event)"
                                              [settings]="hotelListSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-3 form-group">
                        <label>Status</label>
                        <angular2-multiselect [data]="inquiryStatusList" [(ngModel)]="selectedStatuses"
                                              (onSelect)="onStatusSelect($event)"
                                              (onDeSelect)="onStatusSelect($event)"
                                              (onSelectAll)="onStatusSelect($event)"
                                              (onDeSelectAll)="onStatusSelect($event)"
                                              [settings]="statusSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-3 form-group">
                        <label>Type</label>
                        <angular2-multiselect [data]="inquiryTypesList" [(ngModel)]="selectedInquiryTypes"
                                              (onSelect)="onInquiryTypeSelect($event)"
                                              (onDeSelect)="onInquiryTypeSelect($event)"
                                              (onSelectAll)="onInquiryTypeSelect($event)"
                                              (onDeSelectAll)="onInquiryTypeSelect($event)"
                                              [settings]="inquiryTypesSettings">
                        </angular2-multiselect>
                    </div>

                    <div class="col-md-3 form-group">
                        <label>Rooms</label>
                        <div class="row">
                            <div class="col-md-4" [ngClass]="{'col-md-12':customFilters.rooms_filter.operator===''}">
                                <select class="form-control text-center" name="rooms_filter"
                                        [(ngModel)]="customFilters.rooms_filter.operator">
                                    <option value="">None</option>
                                    <option value="=">=</option>
                                    <option value=">">></option>
                                    <option value="<"><</option>
                                    <option value="between">Between</option>
                                </select>
                            </div>
                            <div class="col-md-4"
                                 [ngClass]="{'col-md-8':customFilters.rooms_filter.operator!='between','hidden':customFilters.rooms_filter.operator==''}">
                                <input name="rooms_from"
                                       id="rooms_from" type="text" class="form-control"
                                       [(ngModel)]="customFilters.rooms_filter.range_from">
                            </div>
                            <div class="col-md-4"
                                 *ngIf="customFilters.rooms_filter.operator=='between' && customFilters.rooms_filter.operator!==''">
                                <input name="rooms_to"
                                       id="rooms_to" type="text" class="form-control"
                                       [(ngModel)]="customFilters.rooms_filter.range_to">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 form-group">
                        <label>Checkin Date</label>
                        <input name="check_Date_filter_input" id="check_Date_filter_input" type="text"
                               class="form-control"
                               [options]="dateOptions"
                               daterangepicker (selected)="selectedCheckInDate($event)">
                    </div>

                    <div class="col-md-12">
                        <button type="button" class="btn btn-sm btn-primary pull-right"
                                (click)="applyFilter()" [disabled]="customFilters.hotel_id == ''">
                            Apply
                        </button>

                        <button type="button" (click)="resetFilter()"
                                class="btn btn-sm btn-secondary pull-right m--margin-right-5">
                            Reset
                        </button>
                    </div>
                </div>
                <hr>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="thead-light">
                    <tr>
                        <th class="text-center">
                            <a href="javascript:void(0)">
                                Sr.
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)" (click)="applySorting('inquiry_id')">
                                IQ ID / Booking Id
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)" (click)="applySorting('hotel_code')">
                                Hotel
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)" (click)="applySorting('status')">
                                Status
                            </a>
                        <th class="text-center date-col" (click)="applySorting('check_in_date')">
                            <a href="javascript:void(0)">
                                Arrival
                            </a>
                        </th>
                        <th class="text-center date-col" (click)="applySorting('check_out_date')">
                            <a href="javascript:void(0)">
                                Departure
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)" (click)="applySorting('name')">
                                Guest
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)">
                                Room Type
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)" (click)="applySorting('inquiries.rooms')">
                                Rooms
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)">
                                Rate Plan / Meal Plan / Pax (Ad/Ch)
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)">
                                Source
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)" (click)="applySorting('inquiries.type_id')">
                                Type
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)" (click)="applySorting('bill_to')">
                                Bill To
                            </a>
                        </th>
                        <th class="text-center" (click)="applySorting('offer_rate')">
                            <a href="javascript:void(0)">
                                Total Amount
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)" (click)="applySorting('paid_amount')">
                                Paid
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)" (click)="applySorting('outstanding_amount')">
                                Pending
                            </a>
                        </th>
                        <th class="text-center">
                            <a href="javascript:void(0)" (click)="applySorting('assign_to')">
                                Sales Person
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let rec of bookingReportData; let i = index">
                    <tr>
                        <td [rowSpan]="rec.booking_rooms.length">
                            {{i + 1}}
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length">
                            <a href="javascript:void(0)" [routerLink]="['/booking/'+rec.id]">
                                {{rec.inquiry_id}}
                                <span *ngIf="rec.booking_id">/ {{rec.booking_id}}</span>
                            </a>
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length">
                            {{rec.hotel_code}}
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length">
                            {{rec.status}}
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length">
                            {{rec.check_in_date| date:'dd-MM-yyyy'}}
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length">
                            {{rec.check_out_date| date:'dd-MM-yyyy'}}
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length">
                            {{rec.name}}  {{rec.phone}}
                        </td>
                        <td class="text-center">
                            <div *ngIf="rec.booking_rooms.length>0">
                                {{rec.booking_rooms[0].room.name}}
                            </div>
                        </td>
                        <td class="text-center">
                            <div *ngIf="rec.booking_rooms.length>0  else noBookingRooms">
                                {{rec.booking_rooms[0].rooms}}
                            </div>
                            <ng-template #noBookingRooms>
                                {{rec.rooms}}
                            </ng-template>
                        </td>
                        <td>
                            <div *ngIf="rec.booking_rooms.length>0">
                                {{rec.booking_rooms[0].rate_plan.name}} / {{rec.booking_rooms[0].meal_plan.name}}
                                ({{rec.booking_rooms[0].adult}}/{{rec.booking_rooms[0].child}})
                            </div>
                            <!--<div *ngFor="let room of rec.booking_rooms;let i=index">
                                <div class="row">
                                    <div class="col-md-12 m-separator m-separator&#45;&#45;solid m&#45;&#45;margin-top-5 bot-no-mar"
                                         *ngIf="i>0"></div>
                                    <div class="col-md-12">
                                        {{room.rate_plan.name}} / {{room.meal_plan.name}}
                                        ({{room.adult}}/{{room.child}})
                                    </div>
                                </div>
                            </div>-->
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length">
                            {{rec.source}}
                            <span *ngIf="rec.company"> - {{rec.company}}</span>
                        </td>
                        <td class="text-center" [rowSpan]="rec.booking_rooms.length">
                            {{rec.type}}
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length">
                            {{rec.bill_to}}
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length" class="text-right">
                            {{rec.offer_rate| currency:'INR'}}
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length" class="text-right">
                            {{rec.paid_amount| currency:'INR'}}
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length" class="text-right">
                            {{rec.outstanding_amount| currency:'INR'}}
                        </td>
                        <td [rowSpan]="rec.booking_rooms.length">
                            {{rec.assign_to}}
                        </td>
                    </tr>
                    <tr *ngFor="let room of getNextRoomDetails(rec);let i=index">
                        <td class="text-center">
                            {{room.room.name}}
                        </td>
                        <td class="text-center">
                            {{room.rooms}}
                        </td>
                        <td>
                            {{room.rate_plan.name}} / {{room.meal_plan.name}}
                            ({{room.adult}}/{{room.child}})
                        </td>
                    </tr>
                    </tbody>
                    <tr *ngIf="bookingReportData.length<1 && !isLoading">
                        <td class="text-center" colspan="16">
                            No Booking Data
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
