<!-- <div class="m-list-timeline__item"> -->
<span class="m-list-timeline__badge m-list-timeline__badge--state-warning"></span>
<a href="javascript:;" (click)="redirectPayment(item.description,item.owner_id)" class="m-list-timeline__text"
   *ngIf="item.type==='PAYMENT_REJECT'">
    {{item.title}}
    <p class=" m-list-timeline__item--read">
        {{item.text}}
    </p>
</a>


<a href="javascript:;" (click)="redirectToBooking(item.description)" class="m-list-timeline__text"
   *ngIf="item.type==='INQUIRY_REMINDER'">
    {{item.title}}
    <p class=" m-list-timeline__item--read">
        {{item.text}}
    </p>
</a>

<span *ngIf="item.created_at" class="m-list-timeline__time" title="{{item.created_at | date:'dd-MM-yyyy h:mm a'}}">
	{{item.created_at | mTimeElapsed}}
</span>
<button type="button" class="close user-notification" matTooltip="Remove"
        (click)="archiveNotification(item.id)" [disabled]="isProcessing">
    <i class="fa fa-times" [ngClass]="{'hidden' : isProcessing}"></i>
    <i class="fa fa-spinner fa-pulse" [ngClass]="{'hidden' : !isProcessing}"></i>
</button>
<!--<button type="button" class="close user-notification" (click)="hideCurrentNotification(item.id)" [disabled]="isProcessing">×</button>-->
<!-- </div> -->
