<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Payment Confirmation
                </h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <form #inquiryPaymentConfForm="ngForm">
                <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">
                    <div class="m-portlet__body-progress">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>
                                <b>Inquiry Id</b>
                            </label>
                            <p>
                                {{paymentRecord.inquiry_id}}
                            </p>
                        </div>

                        <div class="col-md-6">
                            <label>
                                <b>Hotel</b>
                            </label>
                            <p>
                                {{paymentRecord.hotel_code}}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <b>Voucher No.</b>
                            </label>
                            <p>
                                {{paymentRecord.booking_id}}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <label>
                                <b>Payment Date</b>
                            </label>
                            <p>
                                {{paymentRecord.payment_date| date:'dd-MM-yyyy'}}
                            </p>
                        </div>

                        <div class="col-md-6">
                            <label>
                                <b>Amount</b>
                            </label>
                            <p>
                                {{paymentRecord.amount|currency:'INR'}}
                            </p>
                        </div>
                        <div class="col-md-6">
                            <label><b>Payment Mode</b></label>
                            <p>
                                {{paymentRecord.payment_mode}}
                                <span *ngIf="paymentRecord.reference_no">&nbsp;/ {{paymentRecord.reference_no}}</span>
                            </p>
                        </div>

						<div class="col-md-12" *ngIf="paymentRecord.company_id">
                            <label><b>Company/Travel Agent</b></label>
                            <p>
                                {{paymentRecord.company_name}}
                            </p>
                        </div>

                        <div class="col-md-12">
                            <label><b>Remark</b></label>
                            <p>
                                {{paymentRecord.remark}}
                            </p>
                        </div>

                        <div class="col-md-12" *ngIf="paymentRecord.attach_url">
                            <a [href]="paymentRecord.attach_url" target="_blank">
                                <i class="fa fa-paperclip"></i> {{paymentRecord.attach_name}}
                            </a>
                        </div>

                        <div class="form-group col-md-12">
                            <mat-form-field>
                                <mat-label>Note</mat-label>
                                <textarea matInput type="text" name="remark" [(ngModel)]="paymentEntry.confirm_note"
                                          matAutosizeMinRows="2"
                                          matAutosizeMaxRows="4"
                                          id="remark" autocomplete="off" required></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-side-padding">
                    <button type="button" mat-button mat-dialog-close tabindex="-1" class="btn btn-secondary"
                            (click)="closeDialog()">
                        Close
                    </button>
                    <button type="button" tabindex="-1"
                            (click)="confirmPayment()"
                            [disabled]="inquiryPaymentConfForm.invalid || isSaving"
                            class="btn btn-primary">
                        Confirm
                    </button>

                    <button type="button" tabindex="-1"
                            (click)="rejectPayment()"
                            [disabled]="inquiryPaymentConfForm.invalid || isSaving"
                            class="btn btn-danger">
                        Reject
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
