<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving || isLoading,
     'm-portlet--body-progress-overlay' : isSaving || isLoading}">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Sales Target
                </h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <form #targetDetailForm="ngForm">
        <div class="m-portlet__body m--padding-top-5">
            <div class="m-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>

            <div class="row m--margin-top-5">
                <!--{{targetEntry|json}}-->
                <div class="col-md-4">
                    <mat-form-field>
                        <input matInput [(ngModel)]="targetEntry.target_month" [matDatepicker]="target_month"
                               (dateChange)="dateChangeEvent('target_month')"
                               placeholder="Month" name="target_month" required>
                        <mat-datepicker-toggle matSuffix [for]="target_month"></mat-datepicker-toggle>
                        <mat-datepicker #target_month></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>

            <div class="row" *ngFor="let saller of getUsers(); let i = index">
                <div class="col-md-4">
                    <label class="m--margin-top-5">
                        {{i+1}}.&nbsp;{{saller.name}}
                    </label>
                </div>

                <div class="col-md-4">
                    <mat-form-field>
                        <input name="rn{{saller.assign_to_id}}" type="number" [min]="0" matInput
                               [(ngModel)]="saller.room_nights" [disabled]="editRecord.isReadOnly"
                               placeholder="Room Nights">
                    </mat-form-field>
                </div>

                <div class="col-md-4">
                    <mat-form-field>
                        <input type="number" [min]="0" name="rev{{saller.assign_to_id}}" matInput
                               [(ngModel)]="saller.revenue" [disabled]="editRecord.isReadOnly"
                               placeholder="Revenue">
                    </mat-form-field>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" (click)="closeDialog()">
                Close
            </button>
            <button type="button" color="primary"
                    (click)="saveSalesTarget()" *ngIf="!editRecord.isReadOnly"
                    [disabled]="targetDetailForm.invalid || isSaving || isLoading"
                    class="btn btn-primary btn-sm">
                Save
            </button>
        </div>
    </form>
</div>

