<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isLoading, 'm-portlet--body-progress-overlay' : isLoading }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Inquiries Need Be Action
                </h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <form #taskForm="ngForm">
                <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">
                    <div class="m-portlet__body-progress">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <mat-select placeholder="Status" [(ngModel)]="filters.status_id" name="status_id"
                                            multiple>
                                    <mat-option *ngFor="let itm of inquiryStatuses" [value]="itm.id">
                                        {{itm.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Assign To" [(ngModel)]="filters.assign_to_id"
                                            name="assign_to" multiple>
                                    <mat-option *ngFor="let assignTo of users" [value]="assignTo.id">
                                        {{assignTo.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-3">
                            <mat-form-field>
                                <input matInput [(ngModel)]="filters.from_date"
                                       [matDatepicker]="picker"
                                       (dateChange)="dateChangeEvent('from_date')" placeholder="From Date"
                                       required
                                       name="from_date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-1">
                            <button class="btn btn-success btn-sm" (click)="changeFilter()">
                                Apply
                            </button>
                        </div>
                    </div>
                    <div class="row" style="min-height: 50px">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th nowrap>Hotel</th>
                                        <th nowrap *ngFor="let dtRec of data.dates">
                                            {{dtRec}}
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let rec of data.result; let i = index">
                                        <td>{{rec.hotel_code}}</td>
                                        <td *ngFor="let dtRec of data.dates">
                                            <div *ngFor="let inq of rec[dtRec]" [matTooltip]="inq.assign_to_name">
                                                <!--<a [routerLink]="['/inquiries']" [queryParams]="{iqId: inq.inquiry_id}">-->
                                                <a href="javascript:;" (click)="openDetail(inq)">
                                                    <small> {{inq.inquiry_id}} - {{inq.name}} </small>
                                                </a>

                                                <span class="pull-right">
                                                    <small> {{inq.phone}}</small>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr *ngIf="data.result.length<=0">
                                        <td colspan="5" class="text-center">
                                            <label>No data found</label>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer no-side-padding">
                    <button type="button" mat-button mat-dialog-close tabindex="-1" class="btn btn-secondary"
                            (click)="closeDialog()">
                        Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
