<m-portlet>
	<!-- use ng-container[mPortletHeadTitle] for the title -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text m--margin-right-20">
				Tasks <span *ngIf="tasks.length>0">({{tasks.length}})</span>
			</h3>
			<div class="w-60  m--margin-top-10  pull-right">
				<mat-form-field>
					<input matInput type="text" placeholder="Date" name="daterangeInput" daterangepicker
						   [options]="dateOptions"
						   (selected)="selectedDate($event)"/>
					<mat-icon matSuffix>date_range</mat-icon>
				</mat-form-field>
			</div>
			<div class="m--margin-left-10 pull-right widget-filters">
				<angular2-multiselect [data]="hotelList" [(ngModel)]="selectedHotelLists"
									  (ngModelChange)="onHotelSelect()"
									  (onSelect)="onHotelSelect($event)"
									  (onDeSelect)="onHotelSelect($event)"
									  (onSelectAll)="onHotelSelect($event)"
									  (onDeSelectAll)="onHotelSelect($event)"
									  [settings]="hotelListSettings">
				</angular2-multiselect>
			</div>
			<div class="m--margin-left-10 pull-right">
				<button type="button" class="btn btn-sm btn-primary pull-right m--margin-left-5"
						(click)="applyFilter()">
					<i class="fas fa-filter"></i> Filter
				</button>
			</div>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools>
		<ul class="m-portlet__nav">
			<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
				m-dropdown-toggle="hover">
				<a href="#"
				   class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
					<i class="la la-ellipsis-h m--font-brand"></i>
				</a>
				<div class="m-dropdown__wrapper" style="z-index: 1001;">
					<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
					<div class="m-dropdown__inner">
						<div class="m-dropdown__body">
							<div class="m-dropdown__content" style="overflow: auto;">
								<ul class="m-nav">
									<div style="max-height: 125px;overflow-y: auto">
										<li class="m-nav__item">
											<a href="javascript:;" class="m-nav__link" style="padding: 5px 0">
                                            <span class="m-nav__link-text">
                                                <section>
                                                <mat-checkbox class="" name="select-all" (change)="selectAllFilter()"
															  [(ngModel)]="selectedAll">
                                                </mat-checkbox>
                                                    <mat-label> All</mat-label>
                                            </section>
                                            </span>
											</a>
										</li>
										<li class="m-nav__item"
											*ngFor="let taskType of taskTypes; let i=index">
											<a href="javascript:;" class="m-nav__link" style="padding: 5px 0">

                                            <span class="m-nav__link-text">
                                                <section>
                                                <mat-checkbox class="" name="state{{i}}" (change)="statusSelectChange()"
															  [(ngModel)]="taskType.is_selected">
                                                </mat-checkbox>
                                                    <mat-label> {{taskType.name}}</mat-label>
                                            </section>
                                            </span>
											</a>
										</li>
									</div>

									<li class="m-nav__item m-nav__separator">
										<a href="#" (click)="applyFilter()"
										   class="btn btn-outline-success m-btn m-btn--pill m-btn--wide btn-sm pull-right">
											Apply
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</li>
		</ul>
	</ng-container>

	<!-- use ng-container[mPortletBody] for the body content -->
	<ng-container mPortletBody>
		<div class="m-widget2" style="max-height: 350px;overflow-y: auto;min-height: 260px;">
			<mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
			<div class="col-md-12" *ngIf="tasks.length<1 && !isLoading">
				<label>No tasks for you</label>
			</div>
			<div class="m-widget2__item m-widget2__item--danger" *ngFor="let task of tasks">
				<div class="m-widget2__checkbox" *ngIf="task.type==='confirm_payment'">
					<label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
						<input type="checkbox" name="task_{{task.id}}}" [(ngModel)]="task.selected"
							   (click)="openInquiryForm(task)">
						<span></span>
					</label>
				</div>
				<div class="m-widget2__desc" *ngIf="task.type==='confirm_payment'">
							<span class="m-widget2__text">
								<a href="javascript:void(0)" (click)="moreActionPerform(task.inquiry)">
                                    Confirm {{task.payment_mode}} {{task.amount | currency:'INR'}}
									for inquiry {{task.inquiry_id}}
								</a>
								<a [routerLink]="['/booking/'+task.iq_id]"
								   [queryParams]="{iqId: task.inquiry_id,payment:task.id}" matTooltip="Booking Detail">
									<i class="fa fa-info-circle"></i>
                                </a>
							</span>
					<br>
					<span class="m-widget2__user-name">
                        <a href="javascript:;" class="m-widget2__link m--margin-right-10">
									Unit: {{task.hotel_code}}
								</a>

								<a href="javascript:;" class="m-widget2__link">
									By {{task.createdBy}}
								</a>

                                <span class="pull-right">
                                    <small>{{task.payment_date| date:'dd-MM-yyyy'}}</small>
                                </span>
							</span>
				</div>

				<div class="m-widget2__checkbox" *ngIf="task.type==='rejected_payment'">
					<a [routerLink]="['/inquiries']" [queryParams]="{iqId: task.inquiry_id,payment:task.id}">
						<label class="m-checkbox m-checkbox--solid m-checkbox--single m-checkbox--brand">
							<span></span>
						</label>
					</a>
				</div>
				<div class="m-widget2__desc" *ngIf="task.type==='rejected_payment'">
							<span class="m-widget2__text">
                                <a [routerLink]="['/inquiries']"
								   [queryParams]="{iqId: task.inquiry_id,payment:task.id}">
                                    Rejected {{task.payment_mode}} {{task.amount | currency:'INR'}}
									for inquiry {{task.inquiry_id}}
                                </a>
							</span>
					<br>
					<span class="m-widget2__user-name">
								<a href="javascript:;" class="m-widget2__link">
									By {{task.createdBy}}
								</a>

                                <span class="pull-right">
                                    <small>{{task.payment_date| date:'dd-MM-yyyy'}}</small>
                                </span>
							</span>
				</div>
				<div class="m-widget2__actions">
				</div>
			</div>

		</div>
	</ng-container>
</m-portlet>
