.m-menu__nav > .m-menu__item.m-menu__item--active {
	background: #ffffff !important;
}

.m-menu__nav > .m-menu__item.m-menu__item--active .m-menu__link-icon {
	color: #282a3c !important;
}

.m-menu__nav > .m-menu__item.m-menu__item--active .m-menu__link-text {
	color: #282a3c !important;
}

.m-aside-left.m-aside-left--skin-dark {
	background-color: #716aca !important;
	color: #ffffff !important;
}

.m-menu__link-icon {
	color: #ffffff !important;
}

.m-menu__link-text {
	color: #ffffff !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item.m-menu__item--open {
	background-color: #716aca;
	color: #ffffff;
}

.m-menu__ver-arrow {
	color: #ffffff !important;
}

.m-brand.m-brand--skin-dark {
	background: #7c74dd !important;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active {
	background-color: #ffffff;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav > .m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--active .m-menu__link .m-menu__link-text {
	color: #000 !important;
}

#m_aside_left_close_btn {
	background-color: #ffffff !important;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span {
	background: #ffffff;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::before, .m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler span::after {
	background: #ffffff;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__icon > i {
	color: #ffffff;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::before,
.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span::after {
	background: #ffffff;
}

.m-brand.m-brand--skin-dark .m-brand__tools .m-brand__toggler.m-brand__toggler--active span {
	background: #ffffff;
}
