<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h5 class="modal-title w-100">
                    Room Type Detail
                </h5>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #roomTypeDetailForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding scroll-x-hide m--padding-top-10">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>


                <div class="row">
                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput [(ngModel)]="rateTypeRecord.name" name="type_name" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-6">
                        <mat-form-field>
                            <mat-label>Code</mat-label>
                            <input matInput [(ngModel)]="rateTypeRecord.code" name="type_code" required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-3">
                        <mat-form-field>
                            <mat-label>Base Adult</mat-label>
                            <input matInput [(ngModel)]="rateTypeRecord.base_adult" type="number" name="base_adult"
                                   required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-3">
                        <mat-form-field>
                            <mat-label>Max Adult</mat-label>
                            <input matInput [(ngModel)]="rateTypeRecord.max_adult" type="number" name="max_adult"
                                   required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-3">
                        <mat-form-field>
                            <mat-label>Base Child</mat-label>
                            <input matInput [(ngModel)]="rateTypeRecord.base_child" type="number" name="base_child"
                                   required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-3">
                        <mat-form-field>
                            <mat-label>Max Child</mat-label>
                            <input matInput [(ngModel)]="rateTypeRecord.max_child" type="number" name="max_child"
                                   required>
                        </mat-form-field>
                    </div>

                    <div class="form-group col-md-3 ">
                        <section>
                            <mat-label>Publish &nbsp;</mat-label>
                            <mat-checkbox class="example-margin" name="user_status"
                                          [(ngModel)]="rateTypeRecord.is_published">
                            </mat-checkbox>
                        </section>
                    </div>

                    <div class="col-md-3">
                        <mat-label>Color &nbsp;</mat-label>
                        <mcc-color-picker (selected)="rateTypeRecord.color_code = $event"
                                          [selectedColor]="rateTypeRecord.color_code"
                                          [hideHexForms]="true" [hideUsedColors]="true" [btnCancel]="'Close'"
                                          [btnConfirm]="'Ok'">
                        </mcc-color-picker>
                    </div>
                </div>
            </div>
            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                Close
            </button>

                <button type="button" class="btn m-btn--sm btn-primary pull-right"
                        [disabled]="roomTypeDetailForm.invalid || isSaving"
                        (click)="save()">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>