<m-portlet [options]="{headLarge: false}" [loading$]="dataSource.loading$">
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Email Logs
                </h4>

                <button mat-mini-fab color="default" class="m--margin-right-5"
                        (click)="resetFilter()" matTooltip="Refresh">
                    <i class="fas fa-sync"></i>
                </button>
            </div>
        </div>
    </ng-container>

    <ng-container mPortletBody>
        <div class="mat-table__wrapper">

            <mat-table #table [dataSource]="dataSource" matSort class="lmat-elevation-z8">

                <ng-container matColumnDef="subject">
                    <mat-header-cell *matHeaderCellDef>Subject</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.subject}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="created_at">
                    <mat-header-cell *matHeaderCellDef>Send Time</mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.created_at | date:'dd-MM-yyyy hh:mm a' }}</mat-cell>
                </ng-container>

                <!-- Action Column -->
                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef class="mat-cell-right">Actions</mat-header-cell>
                    <mat-cell *matCellDef="let element" class="mat-cell-right">
                        <button mat-icon-button color="primary" matTooltip="Edit"
                                (click)="openDetailForm(element)">
                            <mat-icon>create</mat-icon>
                        </button>&nbsp;
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
        </div>
        <div class="mat-table__bottom">
            <mat-spinner [diameter]="20" *ngIf="dataSource.loading$ | async"></mat-spinner>
            <mat-paginator [hidePageSize]="true" [length]="dataSource.paginatorTotal$ | async"
                           [showFirstLastButtons]="true"
                           [pageSizeOptions]="[itemsPerPage]"></mat-paginator>
        </div>
    </ng-container>
</m-portlet>
