<m-portlet>
    <ng-container mPortletHeadTitle>
        <div class="m-portlet__head-title">

            <h3 class="m-portlet__head-text">
                Target vs Sales of {{currentMonth.name}}
            </h3>

        </div>
    </ng-container>
    <ng-container mPortletHeadTools>
        <ul class="m-portlet__nav">
            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                m-dropdown-toggle="hover">
                <a href="#"
                   class="m-portlet__nav-link m-portlet__nav-link--icon m-portlet__nav-link--icon-xl m-dropdown__toggle">
                    <i class="la la-ellipsis-h m--font-brand"></i>
                </a>
                <div class="m-dropdown__wrapper" style="z-index: 101;">
                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"
                                  style="left: auto; right: 21.5px;"></span>
                    <div class="m-dropdown__inner">
                        <div class="m-dropdown__body">
                            <div class="m-dropdown__content">
                                <ul class="m-nav">
                                    <li class="m-nav__item">
                                        <mat-form-field>
                                            <mat-select placeholder="Month"
                                                        [(ngModel)]="currentMonth" name="currentMonth"
                                                        (selectionChange)="changeMonthEvent()"
                                                        required>
                                                <mat-option *ngFor="let item of filterMonths"
                                                            [value]="item">
                                                    {{item.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </li>
                                    <li class="m-nav__separator m-nav__separator--fit"></li>
                                    <li class="m-nav__item"
                                        [ngClass]="{'m-nav__item--active':salesTargetChartBy==='Revenue'}">
                                        <a (click)="changeSalesRevenueBy('Revenue')"
                                           href="javascript:;" class="m-nav__link">
                                            <i class="m-nav__link-icon fa fa-rupee-sign"></i>
                                            <span class="m-nav__link-text">By Revenue</span>
                                        </a>
                                    </li>
                                    <li class="m-nav__item"
                                        [ngClass]="{'m-nav__item--active':salesTargetChartBy==='Room Nights'}">
                                        <a href="javascript:;" class="m-nav__link"
                                           (click)="changeSalesRevenueBy('Room Nights')">
                                            <i class="m-nav__link-icon fas fa-moon"></i>
                                            <span class="m-nav__link-text">By Room Nights</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </ng-container>

    <!-- use ng-container[mPortletBody] for the body content -->
    <ng-container mPortletBody>
        <div class="row text-center" *ngIf="isLoadingSalesTarget ||  salesTargetChartData.length<1">
            <div class="col-md-12">
                <mat-spinner [diameter]="20" *ngIf="isLoadingSalesTarget"></mat-spinner>
                <label *ngIf="salesTargetChartData.length<1 && !isLoadingSalesTarget">No data found</label>
            </div>
        </div>
        <canvas baseChart #baseSaleTargetChart="base-chart"
                *ngIf="salesTargetChartData.length>0 && !isLoadingSalesTarget"
                [data]="salesTargetChartData"
                [labels]="salesTargetLabels"
                [options]="chartOptions"
                [chartType]="doughnutChartType">
        </canvas>
    </ng-container>
</m-portlet>
