<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving,
     'm-portlet--body-progress-overlay' : isSaving }">

    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    DSR Detail
                </h4>

                <a href="javascript:;" class="m--margin-right-5" *ngIf="dsrRecord.id"
                   (click)="openHistory(historyModal)"
                   matTooltip="Show history">
                    <i class="fa fa-history text-success fa-3x pull-right"></i>
                </a>
                <button type="button" class="close pull-right" aria-label="Close" (click)="closeDialog()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>
    <form #dsrDetailForm="ngForm">
        <div class="m-portlet__body m--padding-top-5">
            <div class="m-portlet__body-progress">
                <mat-spinner [diameter]="20"></mat-spinner>
            </div>

            <div class="row m--margin-top-5">
                <div class="form-group col-md-12">
                    <mat-radio-group [(ngModel)]="dsrRecord.type" name="type" (change)="companyTypeChange()"
                                     [disabled]="dsrRecord.isReadOnly">
                        <mat-radio-button class="text-primary" name="type" *ngFor="let itm of types" [value]="itm.id">
                            <b>{{itm.name}}</b>
                        </mat-radio-button>
                    </mat-radio-group>
                </div>

                <div class="form-group col-md-6">
                    <div class="set-apart">
                        <search-select [required]="true"
                                       name="company"
                                       [placeholder]="dsrRecord.type!==0?'Travel Agent':'Company'"
                                       (select)="changeCompany($event)"
                                       [formControl]="companyList"
                                       bindLabel="name"
                                       bindValue="id"
                                       [dataSource]="dsrRecord.type!==0?travelAgentDataSource:companyDataSource">
                        </search-select>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <mat-form-field>
                        <mat-label>Person Name</mat-label>
                        <input matInput [(ngModel)]="dsrRecord.person_name" name="person_name"
                               [disabled]="dsrRecord.isReadOnly" required>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-3">
                    <mat-form-field>
                        <mat-label>Designation</mat-label>
                        <input matInput [(ngModel)]="dsrRecord.designation" [disabled]="dsrRecord.isReadOnly"
                               name="designation" required>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-3">
                    <mat-form-field>
                        <mat-label>Mobile</mat-label>
                        <input type="text" minlength="10" maxlength="10" pattern="^[6-9][0-9]+" matInput
                               [(ngModel)]="dsrRecord.mobile"
                               name="mobile" required [disabled]="dsrRecord.isReadOnly">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput name="email" [disabled]="dsrRecord.isReadOnly"
                               [(ngModel)]="dsrRecord.email"
                               email="true">
                    </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                    <mat-form-field>
                        <input matInput [(ngModel)]="dsrRecord.visited_date" [matDatepicker]="visited_date"
                               (dateChange)="dateChangeEvent('visited_date')"
                               [max]="visitMaxDate" [disabled]="dsrRecord.isReadOnly"
                               placeholder="Visited Date" name="visited_date" required>
                        <mat-datepicker-toggle matSuffix [for]="visited_date"></mat-datepicker-toggle>
                        <mat-datepicker #visited_date></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                    <mat-form-field>
                        <input matInput placeholder="Visited Time" aria-label="12hr format" [ngxTimepicker]="default"
                               [(ngModel)]="dsrRecord.visited_time" name="visited_time"
                               required readonly>
                        <ngx-material-timepicker #default></ngx-material-timepicker>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="Assign To" [(ngModel)]="dsrRecord.assign_to_id" name="assign_to"
                                    required [disabled]="dsrRecord.isReadOnly">
                            <mat-option
                                    *ngFor="let assignTo of assignToList | THActiveFilter:'status':1:'id':dsrRecord.assign_to_id"
                                    [value]="assignTo.id">{{assignTo.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="State"
                                    (selectionChange)="loadCities()"
                                    [(ngModel)]="dsrRecord.state_id" name="state_id"
                                    required [disabled]="dsrRecord.isReadOnly">
                            <mat-option *ngFor="let item of states" [value]="item.id">{{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-3">
                    <mat-form-field>
                        <mat-select placeholder="City" [disabled]="dsrRecord.isReadOnly"
                                    [(ngModel)]="dsrRecord.city_id" name="city_id"
                                    required>
                            <mat-option *ngFor="let item of cities" [value]="item.id">{{item.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-12">
                    <mat-form-field>
                        <mat-label>Remark</mat-label>
                        <textarea matInput type="text" name="remark" [(ngModel)]="dsrRecord.remark"
                                  matAutosizeMinRows="3"
                                  matAutosizeMaxRows="6" [disabled]="dsrRecord.isReadOnly"
                                  id="remark" autocomplete="off"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeDialog()">
                Close
            </button>
            <button type="button" color="primary"
                    (click)="save()" *ngIf="!dsrRecord.isReadOnly"
                    [disabled]="dsrDetailForm.invalid || isSaving || companyList.errors"
                    class="btn btn-primary">
                Save
            </button>
        </div>
    </form>
</div>


<ng-template #historyModal let-c="close" let-d="dismiss">
    <div class="modal-header m--padding-bottom-5">
        <h4 class="modal-title">History</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-lg-12" *ngIf="false">
                <div id="tracking-pre"></div>
                <div id="tracking">
                    <div class="tracking-list">
                        <div class="tracking-item" *ngFor="let history of histories">
                            <div class="tracking-icon status-intransit">
                                <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas"
                                     data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 512 512" data-fa-i2svg="">
                                    <path fill="currentColor"
                                          d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path>
                                </svg>
                                <!-- <i class="fas fa-circle"></i> -->
                            </div>
                            <div class="tracking-date">{{history.created_at | date:'dd LLL yyyy'}}
                                <span>{{history.created_at | date:'shortTime'}}</span>
                            </div>
                            <div class="tracking-content">
                                {{history.body}}
                                <span>
                                    By {{history.actor.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="max-height: 400px;    overflow: auto;">
                <ul class="timeline">
                    <li *ngFor="let history of histories">
                        <span class="time-line-date">
                            {{history.created_at | date:'dd LLL yyyy'}}
                        </span>
                        <span class="float-right">{{history.created_at | date:'shortTime'}}</span>
                        <p class="m--margin-top-5">
                            {{history.body}} by
                            <span *ngIf="loggedInUser.id===history.actor_id">You</span>
                            <span *ngIf="loggedInUser.id!==history.actor_id">{{history.actor.name}}</span>
                        </p>
                        <hr>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</ng-template>
