<div class="m-list-timeline">
	<div *ngIf="(notificationList)?.length > 0" class="m-list-timeline__group">
		<div class="m-list-timeline__items">
			<ng-container *ngFor="let item of notificationList">
				<m-timeline-item [item]="item"></m-timeline-item>
			</ng-container>
		</div>
	</div>
</div>
