<div class="m-portlet"
     [ngClass]="{ 'm-portlet--body-progress' : isSaving, 'm-portlet--body-progress-overlay' : isSaving }">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption w-100">
            <div class="m-portlet__head-title w-100">
                <h4 class="modal-title w-100">
                    Application Settings
                </h4>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <form #settingForm="ngForm">
            <div class="m-portlet__body m-portlet__body--no-padding">
                <div class="m-portlet__body-progress">
                    <mat-spinner [diameter]="20"></mat-spinner>
                </div>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th nowrap>Name</th>
                            <th nowrap>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let setting of appSettings; let i = index">
                            <td>
                                <span class="m--margin-top-25">
                                    <b>{{setting.name}}</b>
                                </span>
                            </td>
                            <td>
                                <mat-form-field *ngIf="getSettingType(setting.setting_key)==='string'">
                                    <mat-label>{{setting.name}}</mat-label>
                                    <input matInput type="text" name="setting_{{i}}" autocomplete="off"
                                           id="setting_{{i}}"
                                           [(ngModel)]="setting.setting_value" required>
                                </mat-form-field>

                                <mat-form-field *ngIf="getSettingType(setting.setting_key)==='date'">
                                    <input matInput [(ngModel)]="setting.setting_value"
                                           [matDatepicker]="picker"
                                           (dateChange)="dateChangeEvent(setting)" placeholder="Date"
                                           required
                                           name="setting_{{i}}">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field *ngIf="getSettingType(setting.setting_key)==='number'">
                                    <mat-label>{{setting.name}}</mat-label>
                                    <input matInput type="number" name="setting_{{i}}" autocomplete="off"
                                           id="setting_num_{{i}}"
                                           [(ngModel)]="setting.setting_value" required>
                                </mat-form-field>

                                <mat-form-field *ngIf="getSettingType(setting.setting_key)==='select'">
                                    <mat-label>{{setting.name}}</mat-label>
                                    <mat-select placeholder="Select" [(ngModel)]="setting.setting_value" name="select" required>
                                        <mat-option>Select</mat-option>
                                        <mat-option value="by_gross_total">By Gross Total</mat-option>
                                        <mat-option value="by_each_item">By Each Item</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr *ngIf="appSettings.length<=0">
                            <td colspan="5" class="text-center">
                                <label>No records found</label>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12 text-center">
                    <mat-spinner [diameter]="20" *ngIf="isLoading"></mat-spinner>
                </div>
            </div>
            <div class="modal-footer no-side-padding">
                <button type="button" class="btn btn-secondary m-btn--sm" (click)="closeDialog()">
                    Close
                </button>

                <button type="button" class="btn m-btn--sm btn-primary pull-right"
                        [disabled]="settingForm.invalid || isSaving"
                        (click)="save()">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>
